{% extends 'wrapper.html' %}
{% load common %}
{% block main %}
{% for group in groups %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title clearfix"><a class="float-left" href="{% url 'group' group.group.id %}">{{ group.group.name }}</a>{% if group.perm_edit %} <small><a class="float-right" href="{% url 'group-edit' group.group.id %}">редактировать</a></small>{% endif %}</h5>
        {% group_date group.group 0 as today %}
        {% group_date group.group -2 as prevprevdate %}
        {% group_date group.group -1 as prevdate %}
        {% is_group_finished group.group today as is_finished %}
        {% if today %}
            <p>
                {% if prevprevdate %}
                <a href="{% url 'reading-group-date' group.group.id prevprevdate.year prevprevdate.month prevprevdate.day %}" class="badge badge-danger">позавчера</a>&nbsp;|&nbsp;
                {% endif %}
                {% if prevdate %}
                <a href="{% url 'reading-group-date' group.group.id prevdate.year prevdate.month prevdate.day %}" class="badge badge-secondary">вчера</a>&nbsp;|&nbsp;
                {% endif %}
                <a href="{% url 'reading-group' group.group.id %}" class="badge badge-success">сегодня</a>
            </p>
            <p class="card-text">Сборник: <a href="{% url 'volume' group.group.get_full_data.volume.volume.id %}">{{ group.group.get_full_data.volume.volume.title }}</a></p>
        {% else %}
        <p><span>Чтение {% if group.group.settings.is_break_date %}приостановлено до <strong>{{ group.group.settings.bdate|calendar }}</strong>{% else %}{% if is_finished %}завершено {{ group.group.settings.end }}{% else %}начнется {{ group.group.settings.start }}{% endif %}{% endif %}</span></p>
        {% endif %}
        </div>
    </div>
{% endfor %}
<div class="card mt-3">
    <div class="card-body">
        <p class="text-center"><a href="{% url 'group-create' %}">Создать чтение</a></p>
    </div>
</div>
{% endblock %}
