html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

small {
    font-size: 80%;
    font-weight: 400;
}

.mt-5 {
    margin-top: 3rem;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.text-danger {
    color: #dc3545;
}

.box-primary {
    margin: 2rem 1rem 0 1rem;
    padding: 10px;
    background-color: #cce5ff;
}

.list-unstyled {
    list-style: none;
}

.text-muted {
    color: #6c757d;
}

.card {
}

.border-light {
}

.card-body {
}

.card-text {
}

.card-header {
}

