{% extends 'wrapper.html' %}
{% block main %}
    <div class="">
        <h2 class="mb-5">Добро пожаловать на сайт чтения Священного Писания</h2>
        <ul>
            <li>Создавайте чтения Священного Писания на каждый день</li>
            <li>Выбирайте одну или несколько книг Священного Писания</li>
            <li>Определитесь с количеством глав для ежедневного прочтения</li>
            <li>Создавайте списки поминовения</li>
            <li>Добавляйте молитвы в начало и в конец чтения</li>
            <li>Определяйте допустимое число имен в списках поминовения</li>
            <li>Устанавливайте ограничение по времени для некоторых имен в списках</li>
        </ul>
        <h4>Чтение Священного Писания каждый день</h4>
        <p>Чтение Священного Писания - это обязательное занятие для любого христианина. Всю Библию хорошо прочитывать раз в несколько лет. Особенно Евангелие, которое Святые отцы рекомендуют читать по главе в день. Чтения Библии - это неотьемлемая часть духовной жизни христианина, так же как и молитва, и пост, и милостыня, и доброделание.</p>
        <p>Обычно, если не всегда, к ежедневному чтению Библии присоединяют молитвы и списки с именами. Молятся о здравии и спасении близких людей и о всех, кто нуждается в соборной молитве. Молятся об упокоении ушедших родных и близких и о всех христианах.</p>
        <p>Каждый зарегистрированный пользователь может начать читать Священное Писание прямо сейчас. Для этого выберите нужную вам книгу в меню "Библия" и нажмите "Начать читать". Сайт автоматически распределит главы книги по дням. У вас появится меню "Чтение на сегодня" - где вы найдете текущую главу выбранной книги. Прочитав одну книгу, можно будет перейти к другой.</p>
        <h4>Что такое чтение Священного Писания в группе по соглашению</h4>
        <p>Это когда несколько человек соглашаются между собой читать Священное Писание каждый день. Они выбирают книгу Священного Писания или несколько книг (назовем это Сборником), определяются с периодом чтения: это может быть время прочтения полного цикла Сборика или неограниченное время чтения. Можно также условиться, по сколько глав читать и как читать главы Сборника. Существует две самые распространенный практики:</p>
        <ul>
            <li>каждый читает одни и те же главы</li>
            <li>Сборник разбивается на равное количеству участников группы число, и каждый читает свои главы, чтобы за день прочитывался весь корпус Сборника (обычно так читают Псалтирь)</li>
        </ul>
        <p>Как правило, группы чтения Священного Писания по соглашению возникают внутри прихода. Прихожане друг друга хорошо знают и, соглашаясь читать совместно Библию, тем самым укрепляются в более близких отношениях и любви.</p>
        <h4>Создание группы чтения по соглашению</h4>
        <p>Сейчас на сайте пока работает первая описанная выше практика чтения Библии по соглашению: каждый читает одни и те же главы вместе со всеми.</p>
        <p>Каждый зарегистрированный пользователь сайта может создать группу чтения. Он становится администратором группы и может приглашать участников.</p>
        <p>При создании группы нужно будет выбрать одну или несколько книг Священного Писания, а также определиться с количеством глав для чтения на день и периодом чтения.</p>
        <p>Если группа уже родилась на приходе, то создавать несколько одинаковых групп, скорее всего, не нужно - достаточно, чтобы кто-то один взял на себя труд сделать это и пригласить всех остальных.</p>
        <p>Приглашение в группу сейчас рассылается по электронной почте.</p>
        <h4>Участие в группе чтения по соглашению</h4>
        <p>Принявшие приглашение пользователи сразу становятся участниками группы и, если они еще не были зарегистрированы, то автоматически регистрируются на сайте. Так они сразу могут приступить к чтению. Временный пароль, который дается при регистрации, можно всегда сменить в Профиле или через форму восстановления пароля.</p>
        <p>Участником группы можно также стать, получив публичную ссылку на чтение. Как только зарегистрированный и аутентифицированный пользователь откроет это чтение, ему будет предложено добавить его к своим чтениям.</p>
        <h4>Чтение на каждый день</h4>
        <p>Христианину очень важно читать Библию каждый день. Участие в группах по соглашению стимулирует это. Помимо простой организационной функции участие в группах по соглашению оказывает еще и посильную молитвенную помощь всем участникам, их родственникам и всем, о ком они молятся.</p>
        <p>Участие в группах по соглашению проникнуто духом соборности. Каждый участник несет свою долю ответственности за соборное чтение и старается не пропускать каждодневное чтение, не отбиваться от общего ритма. Если же по каким-то причинам такое происходит, то, как правило, участник берет на себя труд читать пропущенные главы.</p>
        <p>Каждодневное чтение в должном ритме способствует бодрстованию, как и учит наш Господь Иисус Христос.</p>
        <p class="lead">Приятного и душеполезного чтения!</p>
        <div class="mt-5">
            <p>Сайт подготовлен по материалам:</p>
            <ul class="list-unstyled">
                <li>Библия (Синодальный перевод) - <a href="https://bible.by/download/" target="_blank">https://bible.by/download/</a></li>
                <li>Официальный календарь Русской Православной Церкви - <a href="http://calendar.rop.ru" target="_blank">http://calendar.rop.ru</a></li>
                <li>Молитвы - <a href="https://azbyka.ru/molitvoslov/" target="_blank">https://azbyka.ru/molitvoslov/</a></li>
                <li>Тропари - <a href="https://ms.pravoslavie.ru/107364.html" target="_blank">https://ms.pravoslavie.ru/107364.html</a></li>
                <li>Икона дня - <a href="http://days.pravoslavie.ru/script/icon.htm" target="_blank">http://days.pravoslavie.ru/script/icon.htm</a></li>
                <li>Св. Феофан (мысли на каждый день) - <a href="http://days.pravoslavie.ru/script/calendar.htm" target="_blank">http://days.pravoslavie.ru/script/calendar.htm</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
