
{% extends 'wrapper.html' %}
{% block title %}

Кафисма 11

{% endblock %}
{% block main %}

<script>
    $(function() {
        $("#bf-sw").click(function(e) {
            e.preventDefault();
            $("#sp-bf-sw").text(function(i, text) {
                return text === "включить" ? "выключить" : "включить";
            });
            $("#l-content").toggleClass("display-4-1");
            $("h3, h4, h5, h6").toggleClass("display-3-1");
        });
    });
</script>
<p class="text-right d-print-none">
    <i class="fas fa-font"></i> <a href="#" id="bf-sw"><span id="sp-bf-sw">включить</span> крупный шрифт</a>
</p>
<div id="l-content" class="m-3">
    <p><a href="/psalter/">Псалтирь</a></p>
    <h3>Кафи́сма единаяна́десять</h3>
    <div class="">
        
            <h4>Псалом 77</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Ра́зума Аса́фу</span></li>
            
                <li><strong class="text-danger">1</strong> Внемли́те, лю́дие мои́, зако́ну моему́, приклони́те у́хо ва́ше во глаго́лы уст мои́х.</li>
            
                <li><strong class="text-danger">2</strong> Отве́рзу в при́тчах уста́ моя́, провеща́ю гана́ния испе́рва.</li>
            
                <li><strong class="text-danger">3</strong> Ели́ка слы́шахом и позна́хом я́, и отцы́ на́ши пове́даша нам:</li>
            
                <li><strong class="text-danger">4</strong> не утаи́шася от чад их в род ин, возвеша́юще хвалы́ Госпо́дни и си́лы Его́, и чудеса́ Его́, я́же сотвори́.</li>
            
                <li><strong class="text-danger">5</strong> И воздви́же свиде́ние во Иа́кове, и зако́н положи́ во Изра́или: ели́ка запове́да отце́м на́шим, сказа́ти я́ сыново́м свои́м,</li>
            
                <li><strong class="text-danger">6</strong> я́ко да позна́ет род ин, сы́нове родя́щиися, и воста́нут и пове́дят я́ сыново́м свои́м:</li>
            
                <li><strong class="text-danger">7</strong> да положа́т на Бо́га упова́ние свое́, и не забу́дут дел Бо́жиих, и за́поведи Его́ взы́щут.</li>
            
                <li><strong class="text-danger">8</strong> Да не бу́дут я́коже отцы́ их, род стропти́в и преогорчева́яй, род и́же не испра́ви се́рдца своего́, и не уве́ри с Бо́гом ду́ха своего́.</li>
            
                <li><strong class="text-danger">9</strong> Сы́нове Ефре́мли наляца́юще и стреля́юще лу́ки, возврати́шася в день бра́ни:</li>
            
                <li><strong class="text-danger">10</strong> не сохрани́ша заве́та Бо́жия, и в зако́не Его́ не восхоте́ша ходи́ти.</li>
            
                <li><strong class="text-danger">11</strong> И забы́ша благодея́ния Его́, и чудеса́ Его́, я́же показа́ им</li>
            
                <li><strong class="text-danger">12</strong> пред отцы́ их, я́же сотвори́ чудеса́ в земли́ Еги́петстей, на по́ли Танео́се.</li>
            
                <li><strong class="text-danger">13</strong> Разве́рзе мо́ре, и проведе́ их, предста́ви во́ды я́ко мех.</li>
            
                <li><strong class="text-danger">14</strong> И наста́ви я́ о́блаком во дни, и всю нощь просвеще́нием огня́.</li>
            
                <li><strong class="text-danger">15</strong> Разве́рзе ка́мень в пусты́ни, и напои́ я́ я́ко в бе́здне мно́зе,</li>
            
                <li><strong class="text-danger">16</strong> и изведе́ во́ду из ка́мене, и низведе́ я́ко ре́ки во́ды.</li>
            
                <li><strong class="text-danger">17</strong> И приложи́ша еще́ согреша́ти Ему́, преогорчи́ша Вы́шняго в безво́дней;</li>
            
                <li><strong class="text-danger">18</strong> и искуси́ша Бо́га в сердца́х свои́х, вопроси́ти бра́шна душа́м свои́м.</li>
            
                <li><strong class="text-danger">19</strong> И клевета́ша на Бо́га, и ре́ша: еда́ возмо́жет Бог угото́вати трапе́зу в пусты́ни?</li>
            
                <li><strong class="text-danger">20</strong> Поне́же порази́ ка́мень, и потеко́ша во́ды, и пото́цы наводни́шася: еда́ и хлеб мо́жет да́ти, или́ угото́вати трапе́зу лю́дем Свои́м?</li>
            
                <li><strong class="text-danger">21</strong> Сего́ ра́ди слы́ша Госпо́дь и презре́: и огнь возгоре́ся во Иа́кове, и гнев взы́де на Изра́иля,</li>
            
                <li><strong class="text-danger">22</strong> я́ко не ве́роваша Бо́гови, ниже́ упова́ша на спасе́ние Его́.</li>
            
                <li><strong class="text-danger">23</strong> И запове́да облако́м свы́ше, и две́ри небесе́ отве́рзе,</li>
            
                <li><strong class="text-danger">24</strong> и одожди́ им ма́нну я́сти, и хлеб небе́сный даде́ им.</li>
            
                <li><strong class="text-danger">25</strong> Хлеб а́нгельский яде́ челове́к, бра́шно посла́ им до сы́тости.</li>
            
                <li><strong class="text-danger">26</strong> Воздви́же юг с небесе́, и наведе́ си́лою Свое́ю ли́ва,</li>
            
                <li><strong class="text-danger">27</strong> и одожди́ на ня я́ко прах пло́ти, и я́ко песо́к морски́й пти́цы перна́ты.</li>
            
                <li><strong class="text-danger">28</strong> И нападо́ша посреде́ ста́на их, о́крест жили́щ их.</li>
            
                <li><strong class="text-danger">29</strong> И ядо́ша и насы́тишася зело́, и жела́ние их принесе́ им.</li>
            
                <li><strong class="text-danger">30</strong> Не лиши́шася от жела́ния своего́: еще́ бра́шну су́щу во усте́х их:</li>
            
                <li><strong class="text-danger">31</strong> и гнев Бо́жий взы́де на ня, и уби́ мно́жайшая их, и избра́нным Изра́илевым запя́т.</li>
            
                <li><strong class="text-danger">32</strong> Во всех сих согреши́ша еще́, и не ве́роваша чудесе́м Его́.</li>
            
                <li><strong class="text-danger">33</strong> И исчезо́ша в суете́ дни́е их, и ле́та их со тща́нием.</li>
            
                <li><strong class="text-danger">34</strong> Егда́ убива́ше я́, тогда́ взыска́ху Его́, и обраща́хуся, и у́треневаху к Бо́гу:</li>
            
                <li><strong class="text-danger">35</strong> и помяну́ша, я́ко Бог Помо́щник им есть, и Бог Вы́шний Изба́витель им есть.</li>
            
                <li><strong class="text-danger">36</strong> И возлюби́ша Его́ усты́ свои́ми, и язы́ком свои́м солга́ша Ему́:</li>
            
                <li><strong class="text-danger">37</strong> се́рдце же их не бе пра́во с Ним, ниже́ уве́ришася в заве́те Его́.</li>
            
                <li><strong class="text-danger">38</strong> То́йже есть щедр, и очи́стит грехи́ их, и не растли́т, и умно́жит отврати́ти я́рость Свою́, и не разжже́т всего́ гне́ва Своего́.</li>
            
                <li><strong class="text-danger">39</strong> И помяну́, я́ко плоть суть, дух ходя́й и не обраща́яйся.</li>
            
                <li><strong class="text-danger">40</strong> Колькра́ты преогорчи́ша Его́ в пусты́ни, прогне́ваша Его́ в земли́ безво́дней?</li>
            
                <li><strong class="text-danger">41</strong> И обрати́шася, и искуси́ша Бо́га, и Свята́го Изра́илева раздражи́ша,</li>
            
                <li><strong class="text-danger">42</strong> и не помяну́ша руки́ Его́ в день, во́ньже изба́ви я́ из руки́ оскорбля́юшаго,</li>
            
                <li><strong class="text-danger">43</strong> я́коже положи́ во Еги́пте зна́мения Своя́, и чудеса́ Своя́ на по́ли Танео́се,</li>
            
                <li><strong class="text-danger">44</strong> и преложи́ в кровь ре́ки их, и исто́чники их, я́ко да не пию́т.</li>
            
                <li><strong class="text-danger">45</strong> Посла́ на ня пе́сия му́хи и поядо́ша я́: и жа́бы, и растли́ я́.</li>
            
                <li><strong class="text-danger">46</strong> И даде́ рже плоды́ их, и труды́ их пруго́м.</li>
            
                <li><strong class="text-danger">47</strong> Уби́ гра́дом виногра́ды их, и черни́чие их сла́ною,</li>
            
                <li><strong class="text-danger">48</strong> и предаде́ гра́ду скоты́ их, и име́ние их огню́.</li>
            
                <li><strong class="text-danger">49</strong> Посла́ на ня гнев я́рости Своея́, я́рость и гнев и скорбь, посла́ние а́ггелы лю́тыми.</li>
            
                <li><strong class="text-danger">50</strong> Путесотвори́ стезю́ гне́ву Своему́, и не пощаде́ от сме́рти душ их: и скоты́ их в сме́рти заключи́,</li>
            
                <li><strong class="text-danger">51</strong> и порази́ вся́кое перворо́дное в земли́ Еги́петстей, нача́ток вся́каго труда́ их в селе́ниих Ха́мовых.</li>
            
                <li><strong class="text-danger">52</strong> И воздви́же я́ко о́вцы лю́ди Своя́, и возведе́ я́ я́ко ста́до в пусты́ни,</li>
            
                <li><strong class="text-danger">53</strong> и наста́ви я́ на упова́ние, и не убоя́шася, и враги́ их покры́ мо́ре.</li>
            
                <li><strong class="text-danger">54</strong> И введе́ я́ в го́ру святы́ни Своея́, го́ру сию́, ю́же стяжа́ десни́ца Его́.</li>
            
                <li><strong class="text-danger">55</strong> И изгна́ от лица́ их язы́ки, и по жре́бию даде́ им [зе́млю] у́жем жребодая́ния, и всели́ в селе́ниих их коле́на Изра́илева.</li>
            
                <li><strong class="text-danger">56</strong> И искуси́ша и преогорчи́ша Бо́га Вы́шняго, и свиде́ний Его́ не сохрани́ша,</li>
            
                <li><strong class="text-danger">57</strong> и отврати́шася, и отверго́шася, я́коже и отцы́ их, преврати́шася в лук развраще́н,</li>
            
                <li><strong class="text-danger">58</strong> и прогне́ваша Его́ в хо́лмех свои́х и во истука́нных свои́х раздражи́ша Его́.</li>
            
                <li><strong class="text-danger">59</strong> Слы́ша Бог и презре́, и уничижи́ зело́ Изра́иля,</li>
            
                <li><strong class="text-danger">60</strong> и отри́ну ски́нию Сило́мскую, селе́ние, е́же всели́ся в челове́цех.</li>
            
                <li><strong class="text-danger">61</strong> И предаде́ в плен кре́пость их, и добро́ту их в ру́ки враго́в,</li>
            
                <li><strong class="text-danger">62</strong> и затвори́ во ору́жии лю́ди Своя́, и достоя́ние Свое́ презре́.</li>
            
                <li><strong class="text-danger">63</strong> Ю́ношы их пояде́ огнь, и де́вы их не осе́тованы бы́ша;</li>
            
                <li><strong class="text-danger">64</strong> свяще́нницы их мече́м падо́ша, и вдови́цы их не опла́каны бу́дут.</li>
            
                <li><strong class="text-danger">65</strong> И воста́ я́ко спя́ Госпо́дь, я́ко си́лен и шу́мен от вина́,</li>
            
                <li><strong class="text-danger">66</strong> и порази́ враги́ Своя́ вспять, поноше́ние ве́чное даде́ им.</li>
            
                <li><strong class="text-danger">67</strong> И отри́ну селе́ние Ио́сифово, и коле́но Ефре́мово не избра́,</li>
            
                <li><strong class="text-danger">68</strong> и избра́ коле́но Иу́дово, го́ру Сио́ню, ю́же возлюби́,</li>
            
                <li><strong class="text-danger">69</strong> и созда́ я́ко единоро́га святи́лище Свое́, на земли́ основа́ и́ в век.</li>
            
                <li><strong class="text-danger">70</strong> И избра́ Дави́да раба́ Своего́, и восприя́т eго́ от стад о́вчих.</li>
            
                <li><strong class="text-danger">71</strong> От дои́лиц поя́т eго́ пасти́ Иа́кова раба́ Своего́ и Изра́иля достоя́ние Свое́.</li>
            
                <li><strong class="text-danger">72</strong> И упасе́ я́ в незло́бии се́рдца своего́, и в ра́зумех руку́ свое́ю наста́вил я́ есть.</li>
            
            </ul>
        

        <br/>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <p>Аллилуйя, аллилуйя, аллилуйя, слава Тебе, Боже! (<span class="text-muted">3 раза</span>).</p>
        <p>Господи, помилуй (<span class="text-muted">3 раза</span>).</p>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <br/>
        <h4>Молитва о живых</h4>
        
            Спаси́, Го́споди, и поми́луй раб Твои́х:
            {% if health %}
                {% for n in health %}
                    {% if n.name %}
                    <span class="badge badge-light">{{ n.name }}{% if n.till %} <small class="text-muted">до {{ n.till }}</small>{% endif %}, </span>
                    {% endif %}
                {% endfor %}
            {% else %}
                <small>{% if user.is_authenticated %}<a href="{% url 'mysynodik-edit' %}" class="badge bg-light text-dark">[добавить имена о здравии]</a>{% else %}<a href="{% url 'login' %}?next={{ request.path }}" class="badge bg-light text-dark">[войдите или зарегистрируйтесь, чтобы добавить имена]</a>{% endif %}</small>
            {% endif %}
            и всех правосла́вных христиа́н.<br/>
            <br/>
        

        
            <h4>Псалом 78</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Псало́м Аса́фу</span></li>
            
                <li><strong class="text-danger">1</strong> Бо́же, приидо́ша язы́цы в достоя́ние Твое́, оскверни́ша храм святы́й Твой,</li>
            
                <li><strong class="text-danger">2</strong> положи́ша Иерусали́м я́ко ово́щное храни́лище, положи́ша тру́пия раб Твои́х бра́шно пти́цам небе́сным, пло́ти преподо́бных Твои́х звере́м земны́м.</li>
            
                <li><strong class="text-danger">3</strong> Пролия́ша кровь их я́ко во́ду о́крест Иерусали́ма, и не бе погреба́яй.</li>
            
                <li><strong class="text-danger">4</strong> Бы́хом поноше́ние сосе́дом на́шым, подражне́ние и поруга́ние су́щым о́крест нас.</li>
            
                <li><strong class="text-danger">5</strong> Доко́ле, Го́споди, прогне́ваешися до конца́? Разжже́тся я́ко огнь рве́ние Твое́?</li>
            
                <li><strong class="text-danger">6</strong> Проле́й гнев Твой на язы́ки не зна́ющыя Тебе́, и на ца́рствия, я́же и́мене Твоего́ не призва́ша,</li>
            
                <li><strong class="text-danger">7</strong> я́ко поядо́ша Иа́кова, и ме́сто eго́ опустоши́ша.</li>
            
                <li><strong class="text-danger">8</strong> Не помяни́ на́ших беззако́ний пе́рвых: ско́ро да предваря́т ны щедро́ты Твоя́, Го́споди, я́ко обнища́хом зело́.</li>
            
                <li><strong class="text-danger">9</strong> Помози́ нам, Бо́же, Спаси́телю наш, сла́вы ра́ди и́мене Твоего́, Го́споди, изба́ви ны, и очи́сти грехи́ на́ша и́мене ра́ди Твоего́.</li>
            
                <li><strong class="text-danger">10</strong> Да не когда́ реку́т язы́цы, где есть Бог их? И да уве́стся во язы́цех пред очи́ма на́шима отмще́ние кро́ве раб Твои́х пролиты́я.</li>
            
                <li><strong class="text-danger">11</strong> Да вни́дет пред Тя воздыха́ние окова́нных, по вели́чию мы́шцы Твоея́ снабди́ сы́ны умерщвле́нных.</li>
            
                <li><strong class="text-danger">12</strong> Возда́ждь сосе́дом на́шым седмери́цею в не́дро их поноше́ние их, и́мже поноси́ша Тя, Го́споди.</li>
            
                <li><strong class="text-danger">13</strong> Мы же, лю́дие Твои́ и о́вцы па́жити Твоея́, испове́мыся Тебе́, Бо́же, во век, в род и род возвести́м хвалу́ Твою́.</li>
            
            </ul>
        
            <h4>Псалом 79</h4>
            <ul class="list-unstyled">
            
                <li><strong class="text-danger">1</strong> <span class="text-secondary">В коне́ц, о изме́ншихся, свиде́ние Аса́фу, псало́м</span></li>
            
                <li><strong class="text-danger">2</strong> Пасы́й Изра́иля вонми́: наставля́яй я́ко овча́ Ио́сифа, седя́й на Херуви́мех, яви́ся,</li>
            
                <li><strong class="text-danger">3</strong> пред Ефре́мом и Beниами́ном и Манасси́ем, воздви́гни си́лу Твою́, и прииди́ во е́же спасти́ нас.</li>
            
                <li><strong class="text-danger">4</strong> Бо́же, обрати́ ны, и просвети́ лице́ Твое́, и спасе́мся.</li>
            
                <li><strong class="text-danger">5</strong> Го́споди Бо́же сил, доко́ле гне́ваешися на моли́тву раб Твои́х?</li>
            
                <li><strong class="text-danger">6</strong> Напита́еши нас хле́бом сле́зным, и напои́ши нас слеза́ми в ме́ру.</li>
            
                <li><strong class="text-danger">7</strong> Положи́л еси́ нас в пререка́ние сосе́дом на́шым, и врази́ на́ши подражни́ша ны.</li>
            
                <li><strong class="text-danger">8</strong> Го́споди Бо́же сил, обрати́ ны, и просвети́ лице́ Твое́, и спасе́мся.</li>
            
                <li><strong class="text-danger">9</strong> Виногра́д из Еги́пта прене́сл еси́, изгна́л еси́ язы́ки, и насади́л еси́ и́.</li>
            
                <li><strong class="text-danger">10</strong> Путесотвори́л еси́ пред ним, и насади́л еси́ коре́ния eго́, и испо́лни зе́млю.</li>
            
                <li><strong class="text-danger">11</strong> Покры́ го́ры сень eго́, и ве́твия eго́ ке́дры Бо́жия;</li>
            
                <li><strong class="text-danger">12</strong> простре́ ро́зги eго́ до мо́ря, и да́же до рек о́трасли eго́.</li>
            
                <li><strong class="text-danger">13</strong> Вску́ю низложи́л еси́ опло́т eго́, и объима́ют и́ вси мимоходя́щии путе́м?</li>
            
                <li><strong class="text-danger">14</strong> Озоба́ и́ вепрь от дубра́вы, и уедине́нный ди́вий пояде́ и́.</li>
            
                <li><strong class="text-danger">15</strong> Бо́же сил, обрати́ся у́бо, и при́зри с Небесе́ и виждь, и посети́ виногра́д сей,</li>
            
                <li><strong class="text-danger">16</strong> и соверши́ и́, eго́же насади́ десни́ца Твоя́, и на сы́на челове́ческаго, eго́же укрепи́л еси́ Себе́.</li>
            
                <li><strong class="text-danger">17</strong> Пожже́н огне́м и раско́пан, от запреще́ния лица́ Твоего́ поги́бнут.</li>
            
                <li><strong class="text-danger">18</strong> Да бу́дет рука́ Твоя́ на му́жа десни́цы Твоея́, и на сы́на челове́ческаго, eго́же укрепи́л еси́ Себе́,</li>
            
                <li><strong class="text-danger">19</strong> и не отсту́пим от Тебе́; оживи́ши ны, и и́мя Твое́ призове́м.</li>
            
                <li><strong class="text-danger">20</strong> Го́споди Бо́же сил, обрати́ ны, и просвети́ лице́ Твое́, и спасе́мся.</li>
            
            </ul>
        
            <h4>Псалом 80</h4>
            <ul class="list-unstyled">
            
                <li><strong class="text-danger">1</strong> <span class="text-secondary">В коне́ц, о точи́лех, псало́м Аса́фу</span></li>
            
                <li><strong class="text-danger">2</strong> Ра́дуйтеся Бо́гу, Помо́щнику на́шему, воскли́кните Бо́гу Иа́ковлю,</li>
            
                <li><strong class="text-danger">3</strong> приими́те псало́м и дади́те тимпа́н, псалти́рь красе́н с гу́сльми,</li>
            
                <li><strong class="text-danger">4</strong> воструби́те в новоме́сячии трубо́ю, во благознамени́тый день пра́здника ва́шего,</li>
            
                <li><strong class="text-danger">5</strong> я́ко повеле́ние Изра́илеви есть, и судьба́ Бо́гу Иа́ковлю.</li>
            
                <li><strong class="text-danger">6</strong> Свиде́ние во Ио́сифе положи́ е́, внегда́ изы́ти eму́ от земли́ Еги́петския, язы́ка eго́же не ве́дяше услы́ша.</li>
            
                <li><strong class="text-danger">7</strong> Отъя́т от бре́мене хребе́т eго́, ру́це eго́ в коши́ порабо́тасте.</li>
            
                <li><strong class="text-danger">8</strong> В ско́рби призва́л Мя еси́, и изба́вих тя, услы́шах тя в та́йне бу́рне, искуси́х тя на воде́ пререка́ния.</li>
            
                <li><strong class="text-danger">9</strong> Слы́шите, лю́дие мои́, и засвиде́тельствую вам, Изра́илю, а́ще послу́шаеши Мене́.</li>
            
                <li><strong class="text-danger">10</strong> Не бу́дет Тебе́ бог нов, ниже́ поклони́шися бо́гу чужде́му.</li>
            
                <li><strong class="text-danger">11</strong> Аз бо есмь Госпо́дь Бог твой, изведы́й тя от земли́ Еги́петския, разшири́ уста́ Твоя́, и испо́лню я́.</li>
            
                <li><strong class="text-danger">12</strong> И не послу́шаша лю́дие мои́ гла́са Моего́, и Изра́иль не внят Ми:</li>
            
                <li><strong class="text-danger">13</strong> и отпусти́х я́ по начина́нием серде́ц их, по́йдут в начина́ниих свои́х.</li>
            
                <li><strong class="text-danger">14</strong> А́ще бы́ша лю́дие Мои́ послу́шали Мене́, Изра́иль а́ще бы в пути́ Моя́ ходи́л,</li>
            
                <li><strong class="text-danger">15</strong> ни о чесо́м же у́бо враги́ eго́ смири́л бых, и на оскорбля́ющыя их возложи́л бых ру́ку Мою́.</li>
            
                <li><strong class="text-danger">16</strong> Врази́ Госпо́дни солга́ша Eму́, и бу́дет вре́мя их в век.</li>
            
                <li><strong class="text-danger">17</strong> И напита́ их от ту́ка пшени́чна, и от ка́мене ме́да насы́ти их.</li>
            
            </ul>
        

        <br/>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <p>Аллилуйя, аллилуйя, аллилуйя, слава Тебе, Боже! (<span class="text-muted">3 раза</span>).</p>
        <p>Господи, помилуй (<span class="text-muted">3 раза</span>).</p>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <br/>

        <h4>Молитва об усопших</h4>
        
            Упоко́й, Го́споди, ду́ши усо́пших раб Твои́х:
            {% if rip %}
                {% for n in rip %}
                    {% if n.name %}
                    <span class="badge badge-light">{{ n.name }}{% if n.till %} <small class="text-muted">до {{ n.till }}</small>{% endif %}{% if not forloop.last %}, {% endif %}</span>
                    {% endif %}
                {% endfor %}
            {% else %}
            <small>{% if user.is_authenticated %}<a href="{% url 'mysynodik-edit' %}" class="badge bg-light text-dark">[добавить имена о упокоении]</a>{% else %}<a href="{% url 'login' %}?next={{ request.path }}" class="badge bg-light text-dark">[войдите или зарегистрируйтесь, чтобы добавить имена]</a>{% endif %}</small>
            {% endif %}
            и всех правосла́вных христиа́н, и прости́ им вся согреше́ния во́льная и нево́льная, и да́руй им Ца́рствие Небе́сное.<br/>
        
        <br/>

        
            <h4>Псалом 81</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Псало́м Аса́фу</span></li>
            
                <li><strong class="text-danger">1</strong> Бог ста в со́нме бого́в, посреде́ же бо́ги разсу́дит.</li>
            
                <li><strong class="text-danger">2</strong> Доко́ле су́дите непра́вду, и ли́ца гре́шников прие́млете?</li>
            
                <li><strong class="text-danger">3</strong> Суди́те си́ру и убо́гу, смире́на и ни́ща оправда́йте.</li>
            
                <li><strong class="text-danger">4</strong> Изми́те ни́ща и убо́га, из руки́ гре́шничи изба́вите eго́.</li>
            
                <li><strong class="text-danger">5</strong> Не позна́ша, ниже́ уразуме́ша, во тьме хо́дят: да подви́жатся вся основа́ния земли́.</li>
            
                <li><strong class="text-danger">6</strong> Аз рех: бо́зи есте́, и сы́нове Вы́шняго вси.</li>
            
                <li><strong class="text-danger">7</strong> Вы же я́ко челове́цы умира́ете, и я́ко еди́н от князе́й па́даете.</li>
            
                <li><strong class="text-danger">8</strong> Воскресни́, Бо́же, суди́ земли́: я́ко Ты насле́диши во всех язы́цех.</li>
            
            </ul>
        
            <h4>Псалом 82</h4>
            <ul class="list-unstyled">
            
                <li><strong class="text-danger">1</strong> <span class="text-secondary">Песнь псалма Асафу</span></li>
            
                <li><strong class="text-danger">2</strong> Бо́же, кто уподо́бится Тебе́? Не премолчи́ ниже́ укроти́, Бо́же.</li>
            
                <li><strong class="text-danger">3</strong> Я́ко се врази́ Твои́ возшуме́ша, и ненави́дящии Тя воздвиго́ша главу́.</li>
            
                <li><strong class="text-danger">4</strong> На лю́ди Твоя́ лука́вноваша во́лею, и совеща́ша на святы́я Твоя́.</li>
            
                <li><strong class="text-danger">5</strong> Ре́ша: прииди́те и потреби́м я́ от язы́к, и не помяне́тся и́мя Изра́илево ктому́.</li>
            
                <li><strong class="text-danger">6</strong> Я́ко совеща́ша единомышле́нием вку́пе, на Тя заве́т завеща́ша:</li>
            
                <li><strong class="text-danger">7</strong> селе́ния Идуме́йска, и Исма́илите, Моа́в и Ага́ряне:</li>
            
                <li><strong class="text-danger">8</strong> Гева́л и Аммо́н и Амали́к, иноплеме́нницы с живу́щими в Ти́ре,</li>
            
                <li><strong class="text-danger">9</strong> и́бо и Ассу́р прии́де с ни́ми, бы́ша в заступле́ние сыново́м Ло́товым.</li>
            
                <li><strong class="text-danger">10</strong> Сотвори́ им я́ко Мадиа́му и Сиса́ре, я́ко Иави́му в пото́це Ки́ссове.</li>
            
                <li><strong class="text-danger">11</strong> Потреби́шася во Аендо́ре, бы́ша я́ко гной земны́й.</li>
            
                <li><strong class="text-danger">12</strong> Положи́ кня́зи их, я́ко Ори́ва и Зи́ва, и Зеве́а и Салма́на, вся кня́зи их,</li>
            
                <li><strong class="text-danger">13</strong> и́же ре́ша: да насле́дим себе́ святи́лише Бо́жие.</li>
            
                <li><strong class="text-danger">14</strong> Бо́же мой, положи́ я́ я́ко ко́ло, я́ко трость пред лице́м ве́тра.</li>
            
                <li><strong class="text-danger">15</strong> Я́ко огнь попаля́яй дубра́вы, я́ко пла́мень пожига́яй го́ры,</li>
            
                <li><strong class="text-danger">16</strong> та́ко пожене́ши я́ бу́рею Твое́ю, и гне́вом Твои́м смяте́ши я́.</li>
            
                <li><strong class="text-danger">17</strong> Испо́лни ли́ца их безче́стия, и взы́щут и́мене Твоего́, Го́споди.</li>
            
                <li><strong class="text-danger">18</strong> Да постыдя́тся и смяту́тся в век ве́ка, и посра́мятся и поги́бнут.</li>
            
                <li><strong class="text-danger">19</strong> И да позна́ют, я́ко и́мя Тебе́ Госпо́дь, Ты еди́н Вы́шний по всей земли́.</li>
            
            </ul>
        
            <h4>Псалом 83</h4>
            <ul class="list-unstyled">
            
                <li><strong class="text-danger">1</strong> <span class="text-secondary">В коне́ц, о точи́лех, сыно́м Коре́овым, псало́м</span></li>
            
                <li><strong class="text-danger">2</strong> Коль возлю́бленна селе́ния Твоя́, Го́споди сил!</li>
            
                <li><strong class="text-danger">3</strong> Жела́ет и скончава́ется душа́ моя́ во дворы́ Госпо́дни, се́рдце мое́ и плоть моя́ возра́довастася о Бо́зе жи́ве.</li>
            
                <li><strong class="text-danger">4</strong> И́бо пти́ца обре́те себе́ хра́мину, и го́рлица гнездо́ себе́, иде́же положи́т птенцы́ своя́, олтари́ Твоя́, Го́споди сил, Царю́ мой и Бо́же мой.</li>
            
                <li><strong class="text-danger">5</strong> Блаже́ни живу́щии в дому́ Твое́м, в ве́ки веко́в восхва́лят Тя.</li>
            
                <li><strong class="text-danger">6</strong> Блаже́н муж, eму́же есть заступле́ние eго́ у Тебе́; восхожде́ния в се́рдце свое́м положи́,</li>
            
                <li><strong class="text-danger">7</strong> во юдо́ль плаче́вную, в ме́сто е́же положи́, и́бо благослове́ние даст законополага́яй.</li>
            
                <li><strong class="text-danger">8</strong> По́йдут от си́лы в си́лу: яви́тся Бог бого́в в Сио́не.</li>
            
                <li><strong class="text-danger">9</strong> Го́споди Бо́же сил, услы́ши моли́тву мою́, внуши́, Бо́же Иа́ковль.</li>
            
                <li><strong class="text-danger">10</strong> Защи́тниче наш, виждь, Бо́же, и при́зри на лице́ христа́ Твоего́.</li>
            
                <li><strong class="text-danger">11</strong> Я́ко лу́чше день еди́н во дво́рех Твои́х па́че ты́сящ: изво́лих примета́тися в дому́ Бо́га моего́ па́че, не́же жи́ти ми в селе́ниих гре́шничих.</li>
            
                <li><strong class="text-danger">12</strong> Я́ко ми́лость и и́стину лю́бит Госпо́дь, Бог благода́ть и сла́ву даст, Госпо́дь не лиши́т благи́х ходя́щих незло́бием.</li>
            
                <li><strong class="text-danger">13</strong> Го́споди Бо́же сил, Блаже́н челове́к упова́яй на Тя.</li>
            
            </ul>
        
            <h4>Псалом 84</h4>
            <ul class="list-unstyled">
            
                <li><strong class="text-danger">1</strong> <span class="text-secondary">В коне́ц, сыно́м Коре́овым, псало́м</span></li>
            
                <li><strong class="text-danger">2</strong> Благоволи́л еси́, Го́споди, зе́млю Твою́, возврати́л еси́ плен Иа́ковль:</li>
            
                <li><strong class="text-danger">3</strong> оста́вил еси́ беззако́ния люде́й Твои́х, покры́л еси́ вся грехи́ их.</li>
            
                <li><strong class="text-danger">4</strong> Укроти́л еси́ весь гнев Твой, возврати́лся еси́ от гне́ва я́рости Твоея́.</li>
            
                <li><strong class="text-danger">5</strong> Возврати́ нас, Бо́же спасе́ний на́ших, и отврати́ я́рость Твою́ от нас.</li>
            
                <li><strong class="text-danger">6</strong> Еда́ во ве́ки прогне́ваешися на ны? Или́ простре́ши гнев Твой от ро́да в род?</li>
            
                <li><strong class="text-danger">7</strong> Бо́же, Ты обра́щься оживи́ши ны, и лю́дие Твои́ возвеселя́тся о Тебе́.</li>
            
                <li><strong class="text-danger">8</strong> Яви́ нам, Го́споди, ми́лость Твою́, и спасе́ние Твое́ даждь нам.</li>
            
                <li><strong class="text-danger">9</strong> Услы́шу, что рече́т о мне Госпо́дь Бог: я́ко рече́т мир на лю́ди Своя́, и на преподо́бныя Своя́, и на обраща́ющыя сердца́ к Нему́.</li>
            
                <li><strong class="text-danger">10</strong> Оба́че близ боя́щихся Его́ спасе́ние Его́, всели́ти сла́ву в зе́млю на́шу.</li>
            
                <li><strong class="text-danger">11</strong> Ми́лость и и́стина срето́стеся, пра́вда и мир облобыза́стася.</li>
            
                <li><strong class="text-danger">12</strong> И́стина от земли́ возсия́, и пра́вда с Небесе́ прини́че,</li>
            
                <li><strong class="text-danger">13</strong> и́бо Госпо́дь даст бла́гость, и земля́ на́ша даст плод свой.</li>
            
                <li><strong class="text-danger">14</strong> Пра́вда пред Ним предъи́дет, и положи́т в путь стопы́ своя́.</li>
            
            </ul>
        

        <br/>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <p>Аллилуйя, аллилуйя, аллилуйя, слава Тебе, Боже! (<span class="text-muted">3 раза</span>).</p>
        <p>Господи, помилуй (<span class="text-muted">3 раза</span>).</p>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <br/>

        <h4>По 11–й кафисме:</h4>

        <p>Святы́й Бо́же, Святы́й Кре́пкий, Святы́й Безсме́ртный, поми́луй нас. (<span class="text-muted">Tрижды</span>)</p>
        <p>Сла́ва Отцу́ и Сы́ну и Свято́му Ду́ху, и ны́не и при́сно и во ве́ки веко́в. Ами́нь.</p>
        <p>Пресвята́я Тро́ице, поми́луй нас; Го́споди, очи́сти грехи́ на́ша; Влады́ко, прости́ беззако́ния на́ша; Святы́й, посети́ и исцели́ не́мощи на́ша, и́мене Твоего́ ра́ди.</p>
        <p>Го́споди, поми́луй. (<span class="text-muted">Трижды</span>)</p>
        <p>Сла́ва Отцу́ и Сы́ну и Свято́му Ду́ху, и ны́не и при́сно и во ве́ки веко́в. Ами́нь.</p>
        <p>О́тче наш, И́же еси́ на небесе́х! Да святи́тся и́мя Твое́, да прии́дет Ца́рствие Твое́, да бу́дет во́ля Твоя́, я́ко на небеси́ и на земли́. Хлеб наш насу́щный даждь нам днесь; и оста́ви нам до́лги на́ша, я́коже и мы оставля́ем должнико́м на́шим; и не введи́ нас во искуше́ние, но изба́ви нас от лука́ваго.</p>

        <h5>Таже тропари, глас 7:</h5>
        
            <p> Иму́щи, душе́ моя́, врачевство́ покая́ния, приступи́ слезя́щи, воздыха́нием вопию́щи: Врачу́ душ и теле́с, свободи́ мя, Человеколю́бче, от мно́гих согреше́ний, сопричти́ мя блудни́це, и разбо́йнику, и мытарю́, и да́руй ми, Бо́же, беззако́ний мои́х проще́ние, и спаси́ мя.</p>
        
        <p><span class="text-danger">Сла́ва Отцу, и Сы́ну, и Свято́му Ду́ху.</span>  Мытаре́ву покая́нию не поревнова́х, и блудни́цы слез не стяжа́х: недоуме́юся бо от ослепле́ния о таково́м исправле́нии, но Твои́м благоутро́бием спаси́ мя, Христе́ Бо́же, я́ко Человеколю́бец.</p>
        <p><span class="text-danger">И ны́не, и при́сно, и во ве́ки веко́в, ами́нь.</span>  Богоро́дице Де́во Нескве́рная, Сы́на Твоего́ моли́ с го́рними си́лами, проще́ние прегреше́ний нам пре́жде конца́ дарова́ти и ве́лию ми́лость.</p>

        <p>Го́споди, поми́луй (<span class="text-muted">40</span>) <span class="text-muted">и молитва</span>:</p>
        <p>Возсия́й в сердца́х на́ших, Человеколю́бче Го́споди, Твоего́ Богове́дения нетле́нный свет, и мы́сленная на́ша отве́рзи о́чи, во ева́нгельских Твои́х пропове́даний разуме́ние, вложи́ в нас и блаже́нных Твои́х за́поведей страх, да плотски́я по́хоти вся попра́вше, духо́вное жи́тельство про́йдем, вся, я́же ко благоугожде́нию Твоему́ и му́дрствующе и де́юще. Ты бо еси́ просвеще́ние душ и теле́с на́ших, Христе́ Бо́же, и Тебе́ сла́ву возсыла́ем, со Безнача́льным Твои́м Отце́м и Всесвяты́м, и Благи́м, и Животворя́щим Твои́м Ду́хом, ны́не и при́сно, и во ве́ки веко́в, ами́нь.</p>
    </div>
</div>

{% endblock %}

