
{% extends 'wrapper.html' %}
{% block title %}

Кафисма 9

{% endblock %}
{% block main %}

<script>
    $(function() {
        $("#bf-sw").click(function(e) {
            e.preventDefault();
            $("#sp-bf-sw").text(function(i, text) {
                return text === "включить" ? "выключить" : "включить";
            });
            $("#l-content").toggleClass("display-4-1");
            $("h3, h4, h5, h6").toggleClass("display-3-1");
        });
    });
</script>
<p class="text-right d-print-none">
    <i class="fas fa-font"></i> <a href="#" id="bf-sw"><span id="sp-bf-sw">включить</span> крупный шрифт</a>
</p>
<div id="l-content" class="m-3">
    <p><a href="/psalter/">Псалтирь</a></p>
    <h3>Кафи́сма девя́тая</h3>
    <div class="">
        
            <h4>Псалом 64</h4>
            <ul class="list-unstyled">
            
                <li><strong class="text-danger">1</strong> <span class="text-secondary">В коне́ц, псало́м пе́сни Дави́ду, песнь Иереми́ева и Иезеки́илева, люде́й преселе́ния, егда́ хотя́ху исходи́ти</span></li>
            
                <li><strong class="text-danger">2</strong> Тебе́ подоба́ет песнь, Бо́же, в Сио́не, и Тебе́ возда́стся моли́тва во Иерусали́ме.</li>
            
                <li><strong class="text-danger">3</strong> Услы́ши моли́тву мою́, к Тебе́ вся́ка плоть прии́дет.</li>
            
                <li><strong class="text-danger">4</strong> Словеса́ беззако́нник премого́ша нас, и нече́стия на́ша Ты очи́стиши.</li>
            
                <li><strong class="text-danger">5</strong> Блаже́н, eго́же избра́л еси́ и прия́л, всели́тся во дво́рех Твои́х. Испо́лнимся во благи́х до́му Твоего́, свят храм Твой,</li>
            
                <li><strong class="text-danger">6</strong> ди́вен в пра́вде. Услы́ши ны, Бо́же, Спаси́телю наш, упова́ние всех конце́й земли́, и су́щих в мо́ри дале́че,</li>
            
                <li><strong class="text-danger">7</strong> уготовля́яй го́ры кре́постию Свое́ю, препоя́сан си́лою,</li>
            
                <li><strong class="text-danger">8</strong> смуща́яй глубину́ морску́ю, шу́му волн eго́ кто́ постои́т? Смяту́тся язы́цы,</li>
            
                <li><strong class="text-danger">9</strong> и убоя́тся живу́щии в конца́х от зна́мений Твои́х, исхо́ды у́тра и ве́чера украси́ши.</li>
            
                <li><strong class="text-danger">10</strong> Посети́л еси́ зе́млю и упои́л еси́ ю́, умно́жил еси́ обогати́ти ю́. Река́ Бо́жия напо́лнися вод. Угото́вал еси́ пи́щу им, я́ко та́ко [есть] угото́вание.</li>
            
                <li><strong class="text-danger">11</strong> Бразды́ ея́ упо́й, умно́жи жи́та ея́, в ка́плях ея́ возвесели́тся возсия́ющи.</li>
            
                <li><strong class="text-danger">12</strong> Благослови́ши вене́ц ле́та бла́гости Твоея́, и поля́ Твоя́ испо́лнятся ту́ка,</li>
            
                <li><strong class="text-danger">13</strong> разботе́ют кра́сная пусты́ни, и ра́достию хо́лми препоя́шутся.</li>
            
                <li><strong class="text-danger">14</strong> Оде́яшася о́вни о́вчии, и удо́лия умно́жат пшени́цу, воззову́т, и́бо воспою́т.</li>
            
            </ul>
        
            <h4>Псалом 65</h4>
            <ul class="list-unstyled">
            
                <li><strong class="text-danger">1</strong> <span class="text-secondary">В коне́ц, песнь псалма́ воскресе́ния</span></li>
            
                <li><strong class="text-danger">2</strong> Воскли́кните Го́сподеви, вся земля́, по́йте же и́мени Его́, дади́те сла́ву хвале́ Его́.</li>
            
                <li><strong class="text-danger">3</strong> Рцы́те Бо́гу: коль стра́шна дела́ Твоя́? Во мно́жестве си́лы Твоея́ со́лжут Тебе́ врази́ Твои́.</li>
            
                <li><strong class="text-danger">4</strong> Вся земля́ да покло́нится Тебе́ и пое́т Тебе́, да пое́т же и́мени Твоему́, Вы́шний.</li>
            
                <li><strong class="text-danger">5</strong> Прииди́те и ви́дите дела́ Бо́жия, коль стра́шен в сове́тех па́че сыно́в челове́ческих.</li>
            
                <li><strong class="text-danger">6</strong> Обраща́яй мо́ре в су́шу, в реце́ про́йдут нога́ми, та́мо возвесели́мся о Нем,</li>
            
                <li><strong class="text-danger">7</strong> Влады́чествующем си́лою Свое́ю ве́ком. О́чи Его́ на язы́ки призира́ете, преогорчева́ющии да не возно́сятся в себе́.</li>
            
                <li><strong class="text-danger">8</strong> Благослови́те, язы́цы, Бо́га на́шего и услы́шан сотвори́те глас хвалы́ Его́,</li>
            
                <li><strong class="text-danger">9</strong> поло́жшаго ду́шу мою́ в живо́т и не да́вшаго во смяте́ние ног мои́х.</li>
            
                <li><strong class="text-danger">10</strong> Я́ко искуси́л ны еси́, Бо́же, разже́гл ны еси́, я́коже разжиза́ется сребро́.</li>
            
                <li><strong class="text-danger">11</strong> Ввел ны еси́ в сеть, положи́л еси́ ско́рби на хребте́ на́шем.</li>
            
                <li><strong class="text-danger">12</strong> Возве́л еси́ челове́ки на главы́ на́ша, проидо́хом сквозе́ огнь и во́ду, и изве́л еси́ ны в поко́й.</li>
            
                <li><strong class="text-danger">13</strong> Вни́ду в дом Твой со всесожже́нием, возда́м Тебе́ моли́твы моя́,</li>
            
                <li><strong class="text-danger">14</strong> я́же изреко́сте устне́ мои́, и глаго́лаша уста́ моя́ в ско́рби мое́й,</li>
            
                <li><strong class="text-danger">15</strong> всесожже́ния ту́чна вознесу́ Тебе́ с кади́лом, и овны́, вознесу́ Тебе́ волы́ с козлы́.</li>
            
                <li><strong class="text-danger">16</strong> Прииди́те, услы́шите, и пове́м вам, вси боя́щиися Бо́га, ели́ка сотвори́ души́ мое́й.</li>
            
                <li><strong class="text-danger">17</strong> К Нему́ усты́ мои́ми воззва́х и вознесо́х под язы́ком мои́м.</li>
            
                <li><strong class="text-danger">18</strong> Непра́вду а́ще узре́х в се́рдце мое́м, да не услы́шит мене́ Госпо́дь.</li>
            
                <li><strong class="text-danger">19</strong> Сего́ ра́ди услы́ша мя Бог, внят гла́су моле́ния моего́.</li>
            
                <li><strong class="text-danger">20</strong> Благослове́н Бог, и́же не отста́ви моли́тву мою́ и ми́лость Свою́ от мене́.</li>
            
            </ul>
        
            <h4>Псалом 66</h4>
            <ul class="list-unstyled">
            
                <li><strong class="text-danger">1</strong> <span class="text-secondary">В коне́ц, в пе́снех, псало́м пе́сни Дави́ду</span></li>
            
                <li><strong class="text-danger">2</strong> Бо́же, уще́дри ны и благослови́ ны, просвети́ лице́ Твое́ на ны и поми́луй ны.</li>
            
                <li><strong class="text-danger">3</strong> Позна́ти на земли́ путь Твой, во всех язы́цех спасе́ние Твое́.</li>
            
                <li><strong class="text-danger">4</strong> Да испове́дятся Тебе́ лю́дие, Бо́же, да испове́дятся Тебе́ лю́дие вси.</li>
            
                <li><strong class="text-danger">5</strong> Да возвеселя́тся и да возра́дуются язы́цы, я́ко су́диши лю́дем правото́ю и язы́ки на земли́ наста́виши.</li>
            
                <li><strong class="text-danger">6</strong> Да испове́дятся Тебе́ лю́дие, Бо́же, да испове́дятся Тебе́ лю́дие вси.</li>
            
                <li><strong class="text-danger">7</strong> Земля́ даде́ плод свой, благослови́ ны, Бо́же, Бо́же наш,</li>
            
                <li><strong class="text-danger">8</strong> благослови́ ны, Бо́же, и да убоя́тся Его́ вси концы́ земли́.</li>
            
            </ul>
        

        <br/>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <p>Аллилуйя, аллилуйя, аллилуйя, слава Тебе, Боже! (<span class="text-muted">3 раза</span>).</p>
        <p>Господи, помилуй (<span class="text-muted">3 раза</span>).</p>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <br/>
        <h4>Молитва о живых</h4>
        
            Спаси́, Го́споди, и поми́луй раб Твои́х:
            {% if health %}
                {% for n in health %}
                    {% if n.name %}
                    <span class="badge badge-light">{{ n.name }}{% if n.till %} <small class="text-muted">до {{ n.till }}</small>{% endif %}, </span>
                    {% endif %}
                {% endfor %}
            {% else %}
                <small>{% if user.is_authenticated %}<a href="{% url 'mysynodik-edit' %}" class="badge bg-light text-dark">[добавить имена о здравии]</a>{% else %}<a href="{% url 'login' %}?next={{ request.path }}" class="badge bg-light text-dark">[войдите или зарегистрируйтесь, чтобы добавить имена]</a>{% endif %}</small>
            {% endif %}
            и всех правосла́вных христиа́н.<br/>
            <br/>
        

        
            <h4>Псалом 67</h4>
            <ul class="list-unstyled">
            
                <li><strong class="text-danger">1</strong> <span class="text-secondary">В коне́ц, псало́м пе́сни Дави́ду</span></li>
            
                <li><strong class="text-danger">2</strong> Да воскре́снет Бог, и расточа́тся врази́ Егó, и да бежа́т от лица́ Его́ ненави́дящии Его́.</li>
            
                <li><strong class="text-danger">3</strong> Я́ко исчеза́ет дым, да исче́знут, я́ко та́ет воск от лица́ огня́, та́ко да поги́бнут гре́шницы от лица́ Бо́жия,</li>
            
                <li><strong class="text-danger">4</strong> а пра́ведницы да возвеселя́тся, да возра́дуются пред Бо́гом, да насладя́тся в весе́лии.</li>
            
                <li><strong class="text-danger">5</strong> Воспо́йте Бо́гу, по́йте и́мени Его́, путесотвори́те возше́дшему на за́пады. Госпо́дь и́мя Ему́, и ра́дуйтеся пред Ним.</li>
            
                <li><strong class="text-danger">6</strong> Да смяту́тся от лица́ Его́, Отца́ си́рых и судии́ вдови́ц: Бог в ме́сте святе́м Свое́м.</li>
            
                <li><strong class="text-danger">7</strong> Бог вселя́ет единомы́сленныя в дом, изводя́ окова́нныя му́жеством, та́кожде преогорчева́ющыя живу́щыя во гробе́х.</li>
            
                <li><strong class="text-danger">8</strong> Бо́же, внегда́ исходи́ти Тебе́ пред людьми́ Твои́ми, внегда́ мимоходи́ти Тебе́ в пусты́ни,</li>
            
                <li><strong class="text-danger">9</strong> земля́ потрясе́ся, и́бо небеса́ ка́нуша от лица́ Бо́га Сина́ина, от лица́ Бо́га Изра́илева.</li>
            
                <li><strong class="text-danger">10</strong> Дождь во́лен отлучи́ши, Бо́же, достоя́нию Твоему́ и изнемо́же, Ты же соверши́л еси́ е́.</li>
            
                <li><strong class="text-danger">11</strong> Живо́тная Твоя́ живу́т на ней, угото́вал еси́ бла́гостию Твое́ю ни́щему, Бо́же.</li>
            
                <li><strong class="text-danger">12</strong> Госпо́дь даст глаго́л благовеству́ющым си́лою мно́гою.</li>
            
                <li><strong class="text-danger">13</strong> Царь сил возлю́бленнаго, красото́ю до́му раздели́ти коры́сти.</li>
            
                <li><strong class="text-danger">14</strong> А́ще поспите́ посреде́ преде́л, криле́ голуби́не посре́брене, и междора́мия ея́ в блеща́нии зла́та.</li>
            
                <li><strong class="text-danger">15</strong> Внегда́ ра́знствит Небе́сный цари́ на ней, оснежа́тся в Селмо́не.</li>
            
                <li><strong class="text-danger">16</strong> Гора́ Бо́жия, гора́ ту́чная, гора́ усыре́нная, гора́ ту́чная.</li>
            
                <li><strong class="text-danger">17</strong> Вску́ю непщу́ете го́ры усыре́нныя? Гора́, ю́же благоволи́ Бог жи́ти в ней, и́бо Госпо́дь всели́тся до конца́.</li>
            
                <li><strong class="text-danger">18</strong> Колесни́ца Бо́жия тма́ми тем, ты́сяща гобзу́ющих, Госпо́дь в них в Сина́и во святе́м.</li>
            
                <li><strong class="text-danger">19</strong> Возше́л еси́ на высоту́, плени́л еси́ плен, прия́л еси́ дая́ния в челове́цех, и́бо не покаря́ющыяся, е́же всели́тися.</li>
            
                <li><strong class="text-danger">20</strong> Госпо́дь Бог благослове́н, благослове́н Госпо́дь день дне, поспеши́т нам Бог спасе́ний на́ших.</li>
            
                <li><strong class="text-danger">21</strong> Бог наш, Бог е́же спаса́ти, и Госпо́дня, Госпо́дня исхо́дища сме́ртная.</li>
            
                <li><strong class="text-danger">22</strong> Оба́че Бог сокруши́т главы́ враго́в Свои́х, верх влас преходя́щих в прегреше́ниих свои́х.</li>
            
                <li><strong class="text-danger">23</strong> Рече́ Госпо́дь: от Васа́на обращу́, обращу́ во глубина́х морски́х.</li>
            
                <li><strong class="text-danger">24</strong> Я́ко да омо́чится нога́ Твоя́ в кро́ви, язы́к пес твои́х, от враг от него́.</li>
            
                <li><strong class="text-danger">25</strong> Ви́дена бы́ша ше́ствия Твоя́, Бо́же, ше́ствия Бо́га моего́ Царя́, и́же во святе́м,</li>
            
                <li><strong class="text-danger">26</strong> предвари́ша кня́зи близ пою́щих, посреде́ дев тимпа́нниц.</li>
            
                <li><strong class="text-danger">27</strong> В це́рквах благослови́те Бо́га, Го́спода от исто́чник Изра́илевых.</li>
            
                <li><strong class="text-danger">28</strong> Та́мо Вениами́н юне́йший во у́жасе, кня́зи Иу́довы влады́ки их, кня́зи Завуло́ни, кня́зи Неффали́мли.</li>
            
                <li><strong class="text-danger">29</strong> Запове́ждь, Бо́же, си́лою Твое́ю, укрепи́, Бо́же, сие́, е́же соде́лал еси́ в нас.</li>
            
                <li><strong class="text-danger">30</strong> От хра́ма Твоего́ во Иерусали́м Тебе́ принесу́т ца́рие да́ры.</li>
            
                <li><strong class="text-danger">31</strong> Запрети́ звере́м тро́стным, сонм юне́ц в ю́ницах людски́х, е́же затвори́ти искуше́нныя сребро́м, расточи́ язы́ки хотя́щыя бра́нем.</li>
            
                <li><strong class="text-danger">32</strong> Прии́дут моли́твенницы от Еги́пта, Ефио́пиа предвари́т ру́ку свою́ к Бо́гу.</li>
            
                <li><strong class="text-danger">33</strong> Ца́рства земна́я, по́йте Бо́гу, воспо́йте Го́сподеви,</li>
            
                <li><strong class="text-danger">34</strong> возше́дшему на Не́бо небесе́ на восто́ки, се даст гла́су Своему́ глас си́лы.</li>
            
                <li><strong class="text-danger">35</strong> Дади́те сла́ву Бо́гови, на Изра́или велеле́пота Его́, и си́ла Его́ на о́блацех.</li>
            
                <li><strong class="text-danger">36</strong> Ди́вен Бог во святы́х Свои́х, Бог Изра́илев: Той даст си́лу и держа́ву лю́дем Свои́м, благослове́н Бог.</li>
            
            </ul>
        

        <br/>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <p>Аллилуйя, аллилуйя, аллилуйя, слава Тебе, Боже! (<span class="text-muted">3 раза</span>).</p>
        <p>Господи, помилуй (<span class="text-muted">3 раза</span>).</p>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <br/>

        <h4>Молитва об усопших</h4>
        
            Упоко́й, Го́споди, ду́ши усо́пших раб Твои́х:
            {% if rip %}
                {% for n in rip %}
                    {% if n.name %}
                    <span class="badge badge-light">{{ n.name }}{% if n.till %} <small class="text-muted">до {{ n.till }}</small>{% endif %}{% if not forloop.last %}, {% endif %}</span>
                    {% endif %}
                {% endfor %}
            {% else %}
            <small>{% if user.is_authenticated %}<a href="{% url 'mysynodik-edit' %}" class="badge bg-light text-dark">[добавить имена о упокоении]</a>{% else %}<a href="{% url 'login' %}?next={{ request.path }}" class="badge bg-light text-dark">[войдите или зарегистрируйтесь, чтобы добавить имена]</a>{% endif %}</small>
            {% endif %}
            и всех правосла́вных христиа́н, и прости́ им вся согреше́ния во́льная и нево́льная, и да́руй им Ца́рствие Небе́сное.<br/>
        
        <br/>

        
            <h4>Псалом 68</h4>
            <ul class="list-unstyled">
            
                <li><strong class="text-danger">1</strong> <span class="text-secondary">В коне́ц, о изме́ншихся, псало́м Дави́ду</span></li>
            
                <li><strong class="text-danger">2</strong> Спаси́, мя, Бо́же, я́ко внидо́ша во́ды до души́ моея́.</li>
            
                <li><strong class="text-danger">3</strong> Углебо́х в тиме́нии глубины́, и несть постоя́ния. Приидо́х во глубины́ морски́я, и бу́ря потопи́ мя.</li>
            
                <li><strong class="text-danger">4</strong> Утруди́хся зовы́й, измолче́ горта́нь мой, исчезо́сте о́чи мои́, от е́же упова́ти ми на Бо́га моего́.</li>
            
                <li><strong class="text-danger">5</strong> Умно́жишася па́че влас главы́ моея́ ненави́дящии мя ту́не, укрепи́шася врази́ мои́, изгоня́щии мя непра́ведно: я́же не восхища́х, тогда́ воздая́х.</li>
            
                <li><strong class="text-danger">6</strong> Бо́же, Ты уве́дел еси́ безу́мие мое́, и прегреше́ния моя́ от Тебе́ не утаи́шася.</li>
            
                <li><strong class="text-danger">7</strong> Да не постыдя́тся о мне терпя́щии Тебе́, Го́споди, Го́споди сил, ниже́ да посра́мятся о мне и́щущии Тебе́, Бо́же Изра́илев.</li>
            
                <li><strong class="text-danger">8</strong> Я́ко Тебе́ ра́ди претерпе́х поноше́ние, покры́ срамота́ лице́ мое́.</li>
            
                <li><strong class="text-danger">9</strong> Чуждь бых бра́тии мое́й, и стра́нен сыново́м ма́тepe моея́.</li>
            
                <li><strong class="text-danger">10</strong> Я́ко ре́вность до́му Твоего́ снеде́ мя, и поноше́ния понося́щих Ти нападо́ша на мя.</li>
            
                <li><strong class="text-danger">11</strong> И покры́х посто́м ду́шу мою́, и бысть в поноше́ние мне,</li>
            
                <li><strong class="text-danger">12</strong> и положи́х одея́ние мое́ вре́тище, и бых им в при́тчу.</li>
            
                <li><strong class="text-danger">13</strong> О мне глумля́хуся седя́щии во врате́х, и о мне поя́ху пию́щии вино́.</li>
            
                <li><strong class="text-danger">14</strong> Аз же моли́твою мое́ю к Тебе́, Бо́же, вре́мя благоволе́ния, Бо́же, во мно́жестве ми́лости Твоея́ услы́ши мя, во и́стине спасе́ния Твоего́.</li>
            
                <li><strong class="text-danger">15</strong> Спаси́ мя от бре́ния, да не угле́бну, да изба́влюся от ненави́дящих мя и от глубо́ких вод.</li>
            
                <li><strong class="text-danger">16</strong> Да не потопи́т мене́ бу́ря водна́я, ниже́ да пожре́т мене́ глубина́, ниже́ сведе́т о мне рове́нник уст свои́х.</li>
            
                <li><strong class="text-danger">17</strong> Услы́ши мя, Го́споди, я́ко бла́га ми́лость Твоя́, по мно́жеству щедро́т Твои́х при́зри на мя.</li>
            
                <li><strong class="text-danger">18</strong> Не отврати́ лица́ Твоего́ от о́трока Твоего́, я́ко скорблю́, ско́ро услы́ши мя.</li>
            
                <li><strong class="text-danger">19</strong> Вонми́ души́ мое́й, и изба́ви ю́, враг мои́х ра́ди изба́ви мя.</li>
            
                <li><strong class="text-danger">20</strong> Ты бо ве́си поноше́ние мое́ и студ мой, и срамоту́ мою́: пред Тобо́ю вси оскорбля́ющии мя.</li>
            
                <li><strong class="text-danger">21</strong> Поноше́ние ча́яше душа́ моя́, и страсть и ждах соскорбя́щаго, и не бе́, и утеша́ющих, и не обрето́х.</li>
            
                <li><strong class="text-danger">22</strong> И да́ша в снедь мою́ желчь, и в жа́жду мою́ напои́ша мя о́цта.</li>
            
                <li><strong class="text-danger">23</strong> Да бу́дет трапе́за их пред ни́ми в сеть, и в воздая́ние, и в собла́зн.</li>
            
                <li><strong class="text-danger">24</strong> Да помрача́тся о́чи их, е́же не ви́дети, и хребе́т их вы́ну сляцы́.</li>
            
                <li><strong class="text-danger">25</strong> Проле́й на ня гнев Твой, и я́рость гне́ва Твоего́ да пости́гнет их.</li>
            
                <li><strong class="text-danger">26</strong> Да бу́дет двор их пуст, и в жили́щах их да не бу́дет живы́й.</li>
            
                <li><strong class="text-danger">27</strong> Зане́ eго́же Ты порази́л еси́, ти́и погна́ша, и к боле́зни язв мои́х приложи́ша.</li>
            
                <li><strong class="text-danger">28</strong> Приложи́ беззако́ние к беззако́нию их, и да не вни́дут в пра́вду Твою́.</li>
            
                <li><strong class="text-danger">29</strong> Да потребя́тся от кни́ги живы́х и с пра́ведными да не напи́шутся.</li>
            
                <li><strong class="text-danger">30</strong> Нищ и боля́й есмь аз: спасе́ние Твое́, Бо́же, да прии́мет мя.</li>
            
                <li><strong class="text-danger">31</strong> Восхвалю́ и́мя Бо́га моего́ с пе́снию, возвели́чу Его́ во хвале́нии:</li>
            
                <li><strong class="text-danger">32</strong> и уго́дно бу́дет Бо́гу па́че тельца́ ю́на, ро́ги износя́ща и па́знокти.</li>
            
                <li><strong class="text-danger">33</strong> Да у́зрят ни́щии и возвеселя́тся: взыщи́те Бо́га, и жива́ будет душа́ ва́ша.</li>
            
                <li><strong class="text-danger">34</strong> Я́ко услы́ша убо́гия Госпо́дь и окова́нныя Своя́ не уничижи́.</li>
            
                <li><strong class="text-danger">35</strong> Да восхва́лят Его́ небеса́ и земля́, мо́ре и вся живу́щая в нем.</li>
            
                <li><strong class="text-danger">36</strong> Я́ко Бог спасе́т Сио́на, и сози́ждутся гра́ди Иуде́йстии, и вселя́тся та́мо, и насле́дят и́,</li>
            
                <li><strong class="text-danger">37</strong> и се́мя рабо́в Твои́х удержи́т и́, и лю́бящии и́мя Твое́ вселя́тся в нем.</li>
            
            </ul>
        
            <h4>Псалом 69</h4>
            <ul class="list-unstyled">
            
                <li><strong class="text-danger">1</strong> <span class="text-secondary">В коне́ц, Дави́ду в воспомина́ние, во е́же спасти́ мя Го́споду</span></li>
            
                <li><strong class="text-danger">2</strong> Бо́же, в по́мощь мою́ вонми́, Го́споди, помощи́ ми потщи́ся.</li>
            
                <li><strong class="text-danger">3</strong> Да постыдя́тся и посра́мятся и́щущии ду́шу мою́, да возвратя́тся вспять и постыдя́тся хотя́щии ми зла́я.</li>
            
                <li><strong class="text-danger">4</strong> Да возвратя́тся а́бие стыдя́щеся глаго́лющии ми: бла́гоже, бла́гоже.</li>
            
                <li><strong class="text-danger">5</strong> Да возра́дуются и возвеселя́тся о Тебе́ вси и́щущии Тебе́, Бо́же, и да глаго́лют вы́ну, да возвели́чится Госпо́дь, лю́бящии спасе́ние Твое́:</li>
            
                <li><strong class="text-danger">6</strong> аз же нищ есмь и убо́г, Бо́же, помози́ ми: Помо́щник мой и Изба́витель мой еси́ Ты, Го́споди, не закосни́.</li>
            
            </ul>
        

        <br/>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <p>Аллилуйя, аллилуйя, аллилуйя, слава Тебе, Боже! (<span class="text-muted">3 раза</span>).</p>
        <p>Господи, помилуй (<span class="text-muted">3 раза</span>).</p>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <br/>

        <h4>По 9–й кафисме:</h4>

        <p>Святы́й Бо́же, Святы́й Кре́пкий, Святы́й Безсме́ртный, поми́луй нас. (<span class="text-muted">Tрижды</span>)</p>
        <p>Сла́ва Отцу́ и Сы́ну и Свято́му Ду́ху, и ны́не и при́сно и во ве́ки веко́в. Ами́нь.</p>
        <p>Пресвята́я Тро́ице, поми́луй нас; Го́споди, очи́сти грехи́ на́ша; Влады́ко, прости́ беззако́ния на́ша; Святы́й, посети́ и исцели́ не́мощи на́ша, и́мене Твоего́ ра́ди.</p>
        <p>Го́споди, поми́луй. (<span class="text-muted">Трижды</span>)</p>
        <p>Сла́ва Отцу́ и Сы́ну и Свято́му Ду́ху, и ны́не и при́сно и во ве́ки веко́в. Ами́нь.</p>
        <p>О́тче наш, И́же еси́ на небесе́х! Да святи́тся и́мя Твое́, да прии́дет Ца́рствие Твое́, да бу́дет во́ля Твоя́, я́ко на небеси́ и на земли́. Хлеб наш насу́щный даждь нам днесь; и оста́ви нам до́лги на́ша, я́коже и мы оставля́ем должнико́м на́шим; и не введи́ нас во искуше́ние, но изба́ви нас от лука́ваго.</p>

        <h5>Таже тропари, глас 6:</h5>
        
            <p> Помышля́ю день стра́шный и пла́чу дея́ний мои́х лука́вых, ка́ко отвеща́ю Безсме́ртному Царю́? Или́ ко́им дерзнове́нием воззрю́ на Судию́, блу́дный аз? Благоутро́бный О́тче, Сы́не единоро́дный, Ду́ше Святы́й, поми́луй мя.</p>
        
        <p><span class="text-danger">Сла́ва Отцу, и Сы́ну, и Свято́му Ду́ху.</span>  Во юдо́ли плаче́вне, на ме́сте, е́же завеща́л еси́, егда́ ся́деши, Ми́лостиве, сотвори́ти пра́ведный суд, не обличи́ моя́ сокрове́нная, ниже́ посрами́ мене́ пред А́нгелы, но пощади́ мя, Бо́же, и поми́луй мя.</p>
        <p><span class="text-danger">И ны́не, и при́сно, и во ве́ки веко́в, ами́нь.</span>  Упова́ние и покро́в держа́вный к Тебе́ притека́ющих, Богороди́тельнице, благо́е предста́тельство ми́ра, моли́ со безпло́тными приле́жно, Его́же родила́ еси́ Человеколю́бнейшаго Бо́га, изба́витися душа́м на́шым от вся́каго преще́ния, Еди́на Благослове́нная.</p>

        <p>Го́споди, поми́луй (<span class="text-muted">40</span>) <span class="text-muted">и молитва</span>:</p>
        <p>Влады́ко Го́споди, Бо́же наш, И́же Еди́н окая́нныя моея́ души́ неду́г и сея́ исцеле́ние ве́дый, исцели́ ю́, я́коже ве́си, ра́ди мно́жества ми́лости Твоея́ и щедро́т Твои́х, поне́же от дел мои́х несть пла́стыря приложи́ти ей, ниже́ еле́а, ниже́ обяза́ния, но Ты, прише́дый не пра́ведныя призва́ти, но гре́шныя в покая́ние, поми́луй, уще́дри, прости́ ю́, раздери́ рукописа́ние мно́гих мои́х и сту́дных дея́ний и наста́ви мя на пра́вый путь Твой, да, ходя́й во и́стине Твое́й, возмогу́ избежа́ти стрел лука́ваго и си́це предста́ну неосужде́нно пред стра́шным престо́лом Твои́м, сла́вя и воспева́я Пресвято́е Твое́ и́мя во ве́ки, ами́нь.</p>
    </div>
</div>

{% endblock %}

