
{% extends 'wrapper.html' %}
{% block title %}

Кафисма 16

{% endblock %}
{% block main %}

<script>
    $(function() {
        $("#bf-sw").click(function(e) {
            e.preventDefault();
            $("#sp-bf-sw").text(function(i, text) {
                return text === "включить" ? "выключить" : "включить";
            });
            $("#l-content").toggleClass("display-4-1");
            $("h3, h4, h5, h6").toggleClass("display-3-1");
        });
    });
</script>
<p class="text-right d-print-none">
    <i class="fas fa-font"></i> <a href="#" id="bf-sw"><span id="sp-bf-sw">включить</span> крупный шрифт</a>
</p>
<div id="l-content" class="m-3">
    <p><a href="/psalter/">Псалтирь</a></p>
    <h3>Кафи́сма шестаяна́десять</h3>
    <div class="">
        
            <h4>Псалом 109</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Псало́м Дави́ду</span></li>
            
                <li><strong class="text-danger">1</strong> Рече́ Госпо́дь Го́сподеви моему́: седи́ одесну́ю Мене́, до́ндеже положу́ враги́ Твоя́ подно́жие ног Твои́х.</li>
            
                <li><strong class="text-danger">2</strong> Жезл си́лы по́слет ти Госпо́дь от Сио́на, и госпо́дствуй посреде́ враго́в Твои́х.</li>
            
                <li><strong class="text-danger">3</strong> С Тобо́ю нача́ло в день си́лы Твоея́, во све́тлостех святы́х Твои́х, из чре́ва пре́жде денни́цы роди́х Тя.</li>
            
                <li><strong class="text-danger">4</strong> Кля́тся Госпо́дь и не раска́ется: Ты иере́й во век, по чи́ну Мелхиседе́кову.</li>
            
                <li><strong class="text-danger">5</strong> Госпо́дь одесну́ю Тебе́ сокруши́л есть в день гне́ва Своего́ цари́.</li>
            
                <li><strong class="text-danger">6</strong> Су́дит во язы́цех, испо́лнит паде́ния, сокруши́т главы́ на земли́ мно́гих.</li>
            
                <li><strong class="text-danger">7</strong> От пото́ка на пути́ пие́т, сего́ ра́ди вознесе́т главу́.</li>
            
            </ul>
        
            <h4>Псалом 110</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Аллилу́иа</span></li>
            
                <li><strong class="text-danger">1</strong> Испове́мся Тебе́, Го́споди, всем се́рдцем мои́м в сове́те пра́вых и со́нме.</li>
            
                <li><strong class="text-danger">2</strong> Ве́лия дела́ Госпо́дня, изы́скана во всех во́лях Его́.</li>
            
                <li><strong class="text-danger">3</strong> Испове́дание и великоле́пие де́ло Его́ и пра́вда Его́ пребыва́ет в век ве́ка.</li>
            
                <li><strong class="text-danger">4</strong> Па́мять сотвори́л есть чуде́с Свои́х, Ми́лостив и Щедр Госпо́дь.</li>
            
                <li><strong class="text-danger">5</strong> Пи́щу даде́ боя́щымся Его́, помяне́т в век заве́т Свой.</li>
            
                <li><strong class="text-danger">6</strong> Кре́пость дел Свои́х возвести́ лю́дем Свои́м, да́ти им достоя́ние язы́к.</li>
            
                <li><strong class="text-danger">7</strong> Дела́ рук Его́ и́стина и суд, ве́рны вся за́поведи Его́,</li>
            
                <li><strong class="text-danger">8</strong> утверже́ны в век ве́ка, сотворе́ны во и́стине и правоте́.</li>
            
                <li><strong class="text-danger">9</strong> Избавле́ние посла́ лю́дем Свои́м: запове́да в век заве́т Свой. Свя́то и стра́шно и́мя Его́.</li>
            
                <li><strong class="text-danger">10</strong> Нача́ло прему́дрости страх Госпо́день, ра́зум же благ всем творя́щым и́. Хвала́ Его́ пребыва́ет в век ве́ка.</li>
            
            </ul>
        
            <h4>Псалом 111</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Аллилу́иа, Агге́ево и Заха́риино</span></li>
            
                <li><strong class="text-danger">1</strong> Блаже́н муж, боя́йся Го́спода, в за́поведех Его́ восхо́щет зело́.</li>
            
                <li><strong class="text-danger">2</strong> Си́льно на земли́ бу́дет се́мя eго́, род пра́вых благослови́тся:</li>
            
                <li><strong class="text-danger">3</strong> сла́ва и бога́тство в дому́ eго́, и пра́вда eго́ пребыва́ет в век ве́ка.</li>
            
                <li><strong class="text-danger">4</strong> Возсия́ во тме свет пра́вым, ми́лостив и щедр, и пра́веден.</li>
            
                <li><strong class="text-danger">5</strong> Благ муж, ще́дря и дая́: устро́ит словеса́ своя́ на суде́, я́ко в век не подви́жится.</li>
            
                <li><strong class="text-danger">6</strong> В па́мять ве́чную бу́дет пра́ведник.</li>
            
                <li><strong class="text-danger">7</strong> От слу́ха зла не убои́тся,</li>
            
                <li><strong class="text-danger">8</strong> гото́во се́рдце eго́ упова́ти на Го́спода. Утверди́ся се́рдце eго́, не убои́тся, до́ндеже воззри́т на враги́ своя́.</li>
            
                <li><strong class="text-danger">9</strong> Расточи́, даде́ убо́гим, пра́вда eго́ пребыва́ет во век ве́ка, рог eго́ вознесе́тся в сла́ве.</li>
            
                <li><strong class="text-danger">10</strong> Гре́шник у́зрит и прогне́вается, зубы́ свои́ми поскреже́щет и раста́ет, жела́ние гре́шника поги́бнет.</li>
            
            </ul>
        

        <br/>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <p>Аллилуйя, аллилуйя, аллилуйя, слава Тебе, Боже! (<span class="text-muted">3 раза</span>).</p>
        <p>Господи, помилуй (<span class="text-muted">3 раза</span>).</p>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <br/>
        <h4>Молитва о живых</h4>
        
            Спаси́, Го́споди, и поми́луй раб Твои́х:
            {% if health %}
                {% for n in health %}
                    {% if n.name %}
                    <span class="badge badge-light">{{ n.name }}{% if n.till %} <small class="text-muted">до {{ n.till }}</small>{% endif %}, </span>
                    {% endif %}
                {% endfor %}
            {% else %}
                <small>{% if user.is_authenticated %}<a href="{% url 'mysynodik-edit' %}" class="badge bg-light text-dark">[добавить имена о здравии]</a>{% else %}<a href="{% url 'login' %}?next={{ request.path }}" class="badge bg-light text-dark">[войдите или зарегистрируйтесь, чтобы добавить имена]</a>{% endif %}</small>
            {% endif %}
            и всех правосла́вных христиа́н.<br/>
            <br/>
        

        
            <h4>Псалом 112</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Аллилу́иа</span></li>
            
                <li><strong class="text-danger">1</strong> Хвали́те, о́троцы, Го́спода, хвали́те и́мя Госпо́дне.</li>
            
                <li><strong class="text-danger">2</strong> Бу́ди и́мя Госпо́дне благослове́нно отны́не и до ве́ка.</li>
            
                <li><strong class="text-danger">3</strong> От восто́к со́лнца до за́пад хва́льно и́мя Госпо́дне.</li>
            
                <li><strong class="text-danger">4</strong> Высо́к над все́ми язы́ки Госпо́дь: над небесы́ сла́ва Его́.</li>
            
                <li><strong class="text-danger">5</strong> Кто я́ко Госпо́дь Бог наш? На высо́ких живы́й</li>
            
                <li><strong class="text-danger">6</strong> и на смире́нныя призира́яй на небеси́ и на земли́,</li>
            
                <li><strong class="text-danger">7</strong> воздвиза́яй от земли́ ни́ща и от гно́ища возвыша́яй убо́га,</li>
            
                <li><strong class="text-danger">8</strong> посади́ти eго́ с кня́зи, с кня́зи люде́й свои́х,</li>
            
                <li><strong class="text-danger">9</strong> вселя́я непло́довь в дом ма́терь о ча́дех веселя́щуся.</li>
            
            </ul>
        
            <h4>Псалом 113</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Аллилу́иа</span></li>
            
                <li><strong class="text-danger">1</strong> Во исхо́де Изра́илеве от Еги́пта, до́му Иа́ковля из люде́й ва́рвар,</li>
            
                <li><strong class="text-danger">2</strong> бысть Иуде́а святы́ня Его́, Изра́иль о́бласть Eго́.</li>
            
                <li><strong class="text-danger">3</strong> Мо́ре ви́де и побе́же, Иорда́н возврати́ся вспять,</li>
            
                <li><strong class="text-danger">4</strong> го́ры взыгра́шася, я́ко овни́, и хо́лми, я́ко а́гнцы о́вчии.</li>
            
                <li><strong class="text-danger">5</strong> Что ти есть, мо́ре, я́ко побе́гло еси́? И тебé, Иорда́не, я́ко возврати́лся еси́ вспять?</li>
            
                <li><strong class="text-danger">6</strong> Го́ры, я́ко взыгра́стеся, я́ко овни́, и хо́лми, я́ко а́гнцы о́вчии?</li>
            
                <li><strong class="text-danger">7</strong> От лица́ Госпо́дня подви́жеся земля́, от лица́ Бо́га Иа́ковля,</li>
            
                <li><strong class="text-danger">8</strong> обра́щшаго ка́мень во езе́ра водна́я и несеко́мый во исто́чники водны́я.</li>
            
                <li><strong class="text-danger">9</strong> Не нам, Го́споди, не нам, но и́мени Твоему́ даждь сла́ву, о ми́лости Твое́й и и́стине Твое́й.</li>
            
                <li><strong class="text-danger">10</strong> Да не когда́ реку́т язы́цы: где есть Бог их?</li>
            
                <li><strong class="text-danger">11</strong> Бог же наш на небеси́ и на земли́, вся ели́ка восхоте́, сотвори́.</li>
            
                <li><strong class="text-danger">12</strong> И́доли язы́к сребро́ и зла́то, дела́ рук челове́ческих.</li>
            
                <li><strong class="text-danger">13</strong> Уста́ и́мут, и не возглаго́лют, о́чи и́мут и не у́зрят,</li>
            
                <li><strong class="text-danger">14</strong> у́ши и́мут, и не услы́шат, но́здри и́мут, и не обоня́ют,</li>
            
                <li><strong class="text-danger">15</strong> ру́це и́мут, и не ося́жут, но́зе и́мут, и не по́йдут, не возглася́т горта́нем свои́м.</li>
            
                <li><strong class="text-danger">16</strong> Подо́бни им да бу́дут творя́щии я́, и вси наде́ющиися на ня.</li>
            
                <li><strong class="text-danger">17</strong> Дом Изра́илев упова́ на Го́спода: Помо́щник и Защи́титель им есть.</li>
            
                <li><strong class="text-danger">18</strong> Дом Ааро́нь упова́ на Го́спода: Помо́щник и Защи́титель им есть.</li>
            
                <li><strong class="text-danger">19</strong> Боя́щиися Го́спода упова́ша на Го́спода: Помо́щник и Защи́титель им есть.</li>
            
                <li><strong class="text-danger">20</strong> Госпо́дь помяну́в ны благослови́л есть нас, благослови́л есть дом Изра́илев, благослови́л есть дом Ааро́нь,</li>
            
                <li><strong class="text-danger">21</strong> благослови́л есть боя́щыяся Го́спода, ма́лыя с вели́кими.</li>
            
                <li><strong class="text-danger">22</strong> Да приложи́т Госпо́дь на вы, на вы и на сы́ны ва́ша.</li>
            
                <li><strong class="text-danger">23</strong> Благослове́ни вы Го́сподеви, сотво́ршему не́бо и зе́млю.</li>
            
                <li><strong class="text-danger">24</strong> Не́бо небесе́ Го́сподеви, зе́млю же даде́ сыново́м челове́ческим.</li>
            
                <li><strong class="text-danger">25</strong> Не ме́ртвии восхва́лят Тя, Го́споди, ниже́ вси низходя́щии во ад,</li>
            
                <li><strong class="text-danger">26</strong> но мы, живи́и, благослови́м Го́спода отны́не и до ве́ка.</li>
            
            </ul>
        
            <h4>Псалом 114</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Аллилу́иа</span></li>
            
                <li><strong class="text-danger">1</strong> Возлюби́х, я́ко услы́шит Госпо́дь глас моле́ния моего́,</li>
            
                <li><strong class="text-danger">2</strong> я́ко приклони́ у́хо Свое́ мне, и во дни моя́ призову́.</li>
            
                <li><strong class="text-danger">3</strong> Объя́ша мя боле́зни сме́ртныя, беды́ а́довы обрето́ша мя, скорбь и боле́знь обрето́х, и и́мя Госпо́дне призва́х:</li>
            
                <li><strong class="text-danger">4</strong> о, Го́споди, изба́ви ду́шу мою́. Ми́лостив Госпо́дь и Пра́веден, и Бог наш ми́лует.</li>
            
                <li><strong class="text-danger">5</strong> Храня́й младе́нцы Госпо́дь: смири́хся, и спасе́ мя.</li>
            
                <li><strong class="text-danger">6</strong> Обрати́ся, душе́ моя́, в поко́й твой, я́ко Госпо́дь благоде́йствова тя.</li>
            
                <li><strong class="text-danger">7</strong> Я́ко изъя́т ду́шу мою́ от сме́рти, о́чи мои́ от слез и но́зе мои́ от поползнове́ния.</li>
            
                <li><strong class="text-danger">8</strong> Благоугожду́ пред Го́сподем во стране́ живы́х.</li>
            
            </ul>
        

        <br/>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <p>Аллилуйя, аллилуйя, аллилуйя, слава Тебе, Боже! (<span class="text-muted">3 раза</span>).</p>
        <p>Господи, помилуй (<span class="text-muted">3 раза</span>).</p>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <br/>

        <h4>Молитва об усопших</h4>
        
            Упоко́й, Го́споди, ду́ши усо́пших раб Твои́х:
            {% if rip %}
                {% for n in rip %}
                    {% if n.name %}
                    <span class="badge badge-light">{{ n.name }}{% if n.till %} <small class="text-muted">до {{ n.till }}</small>{% endif %}{% if not forloop.last %}, {% endif %}</span>
                    {% endif %}
                {% endfor %}
            {% else %}
            <small>{% if user.is_authenticated %}<a href="{% url 'mysynodik-edit' %}" class="badge bg-light text-dark">[добавить имена о упокоении]</a>{% else %}<a href="{% url 'login' %}?next={{ request.path }}" class="badge bg-light text-dark">[войдите или зарегистрируйтесь, чтобы добавить имена]</a>{% endif %}</small>
            {% endif %}
            и всех правосла́вных христиа́н, и прости́ им вся согреше́ния во́льная и нево́льная, и да́руй им Ца́рствие Небе́сное.<br/>
        
        <br/>

        
            <h4>Псалом 115</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Аллилу́иа</span></li>
            
                <li><strong class="text-danger">1</strong> Ве́ровах, те́мже возглаго́лах, аз же смири́хся зело́.</li>
            
                <li><strong class="text-danger">2</strong> Аз же рех во изступле́нии мое́м: всяк челове́к ложь.</li>
            
                <li><strong class="text-danger">3</strong> Что возда́м Го́сподеви о всех, я́же воздаде́ ми?</li>
            
                <li><strong class="text-danger">4</strong> Ча́шу спасе́ния прииму́ и и́мя Госпо́дне призову́,</li>
            
                <li><strong class="text-danger">5</strong> моли́твы моя́ Го́сподеви возда́м пред все́ми людьми́ Его́.</li>
            
                <li><strong class="text-danger">6</strong> Честна́ пред Го́сподем смерть преподо́бных Его́.</li>
            
                <li><strong class="text-danger">7</strong> О, Го́споди, аз раб Твой, аз раб Твой и сын рабы́ни Твоея́; растерза́л еси́ у́зы моя́.</li>
            
                <li><strong class="text-danger">8</strong> Тебе́ пожру́ же́ртву хвалы́, и во и́мя Госпо́дне призову́.</li>
            
                <li><strong class="text-danger">9</strong> Моли́твы моя́ Го́сподеви возда́м пред все́ми людьми́ Его́,</li>
            
                <li><strong class="text-danger">10</strong> во дво́рех до́му Госпо́дня, посреде́ тебе́, Иерусали́ме.</li>
            
            </ul>
        
            <h4>Псалом 116</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Аллилу́иа</span></li>
            
                <li><strong class="text-danger">1</strong> Хвали́те Го́спода вси язы́цы, похвали́те Его́ вси лю́дие,</li>
            
                <li><strong class="text-danger">2</strong> я́ко утверди́ся ми́лость Его́ на нас, и и́стина Госпо́дня пребыва́ет во век.</li>
            
            </ul>
        
            <h4>Псалом 117</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Аллилу́иа</span></li>
            
                <li><strong class="text-danger">1</strong> Испове́дайтеся Го́сподеви, я́ко Благ, я́ко в век ми́лость Его́.</li>
            
                <li><strong class="text-danger">2</strong> Да рече́т у́бо дом Изра́илев: я́ко Благ, я́ко в век ми́лость Его́.</li>
            
                <li><strong class="text-danger">3</strong> Да рече́т у́бо дом Ааро́нь: я́ко Благ, я́ко в век ми́лость Его́.</li>
            
                <li><strong class="text-danger">4</strong> Да реку́т у́бо вси боя́щиися Го́спода: я́ко Благ, я́ко в век ми́лость Его́.</li>
            
                <li><strong class="text-danger">5</strong> От ско́рби призва́х Го́спода, и услы́ша мя в простра́нство.</li>
            
                <li><strong class="text-danger">6</strong> Госпо́дь мне Помо́щник, и не убою́ся, что сотвори́т мне челове́к.</li>
            
                <li><strong class="text-danger">7</strong> Госпо́дь мне Помо́щник, и аз воззрю́ на враги́ моя́.</li>
            
                <li><strong class="text-danger">8</strong> Бла́го есть наде́ятися на Го́спода, не́жели наде́ятися на челове́ка.</li>
            
                <li><strong class="text-danger">9</strong> Бла́го есть упова́ти на Го́спода, не́жели упова́ти на кня́зи.</li>
            
                <li><strong class="text-danger">10</strong> Вси язы́цы обыдо́ша мя, и и́менем Госпо́дним противля́хся им,</li>
            
                <li><strong class="text-danger">11</strong> обыше́дше обыдо́ша мя, и и́менем Госпо́дним противля́хся им,</li>
            
                <li><strong class="text-danger">12</strong> обыдо́ша мя, я́ко пче́лы сот, и разгоре́шася, я́ко огнь в те́рнии, и и́менем Госпо́дним противля́хся им.</li>
            
                <li><strong class="text-danger">13</strong> Отринове́н преврати́хся па́сти, и Госпо́дь прия́т мя.</li>
            
                <li><strong class="text-danger">14</strong> Кре́пость моя́ и пе́ние мое́ Госпо́дь, и бысть ми во спасе́ние.</li>
            
                <li><strong class="text-danger">15</strong> Глас ра́дости и спасе́ния в селе́ниих пра́ведных: десни́ца Госпо́дня сотвори́ си́лу.</li>
            
                <li><strong class="text-danger">16</strong> Десни́ца Госпо́дня вознесе́ мя, десни́ца Госпо́дня сотвори́ си́лу.</li>
            
                <li><strong class="text-danger">17</strong> Не умру́, но жив бу́ду, и пове́м дела́ Госпо́дня.</li>
            
                <li><strong class="text-danger">18</strong> Наказу́я наказа́ мя Госпо́дь, сме́рти же не предаде́ мя.</li>
            
                <li><strong class="text-danger">19</strong> Отве́рзите мне врата́ пра́вды, вшед в ня испове́мся Го́сподеви.</li>
            
                <li><strong class="text-danger">20</strong> Сия́ врата́ Госпо́дня, пра́веднии вни́дут в ня.</li>
            
                <li><strong class="text-danger">21</strong> Испове́мся Тебе́, я́ко услы́шал мя еси́, и был еси́ мне во спасе́ние.</li>
            
                <li><strong class="text-danger">22</strong> Ка́мень, eго́же небрего́ша зи́ждущии, сей бысть во главу́ у́гла:</li>
            
                <li><strong class="text-danger">23</strong> от Го́спода бысть сей, и есть ди́вен во очесе́х на́ших.</li>
            
                <li><strong class="text-danger">24</strong> Сей день, eго́же сотвори́ Госпо́дь, возра́дуемся и возвесели́мся в онь.</li>
            
                <li><strong class="text-danger">25</strong> О, Го́споди, спаси́ же, о Го́споди, поспеши́ же.</li>
            
                <li><strong class="text-danger">26</strong> Благослове́н гряды́й во и́мя Госпо́дне, благослови́хом вы из до́му Госпо́дня.</li>
            
                <li><strong class="text-danger">27</strong> Бог Госпо́дь, и яви́ся нам: соста́вите пра́здник во учаща́ющих до рог олтаре́вых.</li>
            
                <li><strong class="text-danger">28</strong> Бог мой еси́ Ты, и испове́мся Тебе́, Бог мой еси́ Ты, и вознесу́ Тя. Испове́мся Тебе́, я́ко услы́шал мя еси́, и был еси́ мне во спасе́ние.</li>
            
                <li><strong class="text-danger">29</strong> Испове́дайтеся Го́сподеви, я́ко Благ, я́ко в век ми́лость Его́.</li>
            
            </ul>
        

        <br/>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <p>Аллилуйя, аллилуйя, аллилуйя, слава Тебе, Боже! (<span class="text-muted">3 раза</span>).</p>
        <p>Господи, помилуй (<span class="text-muted">3 раза</span>).</p>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <br/>

        <h4>По 16–й кафисме:</h4>

        <p>Святы́й Бо́же, Святы́й Кре́пкий, Святы́й Безсме́ртный, поми́луй нас. (<span class="text-muted">Tрижды</span>)</p>
        <p>Сла́ва Отцу́ и Сы́ну и Свято́му Ду́ху, и ны́не и при́сно и во ве́ки веко́в. Ами́нь.</p>
        <p>Пресвята́я Тро́ице, поми́луй нас; Го́споди, очи́сти грехи́ на́ша; Влады́ко, прости́ беззако́ния на́ша; Святы́й, посети́ и исцели́ не́мощи на́ша, и́мене Твоего́ ра́ди.</p>
        <p>Го́споди, поми́луй. (<span class="text-muted">Трижды</span>)</p>
        <p>Сла́ва Отцу́ и Сы́ну и Свято́му Ду́ху, и ны́не и при́сно и во ве́ки веко́в. Ами́нь.</p>
        <p>О́тче наш, И́же еси́ на небесе́х! Да святи́тся и́мя Твое́, да прии́дет Ца́рствие Твое́, да бу́дет во́ля Твоя́, я́ко на небеси́ и на земли́. Хлеб наш насу́щный даждь нам днесь; и оста́ви нам до́лги на́ша, я́коже и мы оставля́ем должнико́м на́шим; и не введи́ нас во искуше́ние, но изба́ви нас от лука́ваго.</p>

        <h5>Таже тропари, глас 1:</h5>
        
            <p> Ин мир тебе́, душе́, ожида́ет, и Судия́ хо́щет Твоя́ обличи́ти та́йная и лю́тая. Не пребу́ди у́бо в зде́шних, но предвари́ вопию́щи Судии́: Бо́же, очи́сти мя и спаси́ мя.</p>
        
        <p><span class="text-danger">Сла́ва Отцу, и Сы́ну, и Свято́му Ду́ху.</span>  Я́ко прегреше́ньми мно́гими и я́звами безме́рными облежи́мь есмь, Спа́се, согреша́яй молю́ Твое́ благоутро́бие, Христе́: врачу́ неду́гующих, посети́, и исцели́, и спаси́ мя.</p>
        <p><span class="text-danger">И ны́не, и при́сно, и во ве́ки веко́в, ами́нь.</span>  Душе́ моя́, что неради́во живе́ши леня́щися? Что не пече́шися о злых, и́хже соде́яла еси́ в житии́? Потщи́ся испра́витися пре́жде да́же дверь не заключи́т Тебе́ Госпо́дь. Богоро́дице притецы́, припади́ и возопи́й: Упова́ние ненаде́емых, спаси́ мя, мно́го к Тебе́ прегреши́вша, Влады́чице Пречи́стая.</p>

        <p>Го́споди, поми́луй (<span class="text-muted">40</span>) <span class="text-muted">и молитва</span>:</p>
        <p>Го́споди Святы́й, в Вы́шних Живы́й, и всеви́дяшим Твои́м о́ком призира́яй на всю тварь, Тебе́ приклоня́ем вы́ю души́ и телесе́, и Тебе́ мо́лимся, Святы́й святы́х: простри́ ру́ку Твою́ неви́димую от свята́го жили́ща Твоего́, и благослови́ вся ны, и прости́ нам вся́кое согреше́ние, во́льное же и нево́льное, сло́вом или́ де́лом. Да́руй нам, Го́споди, умиле́ние, да́руй сле́зы духо́вныя от души́, во очище́ние мно́гих на́ших грехо́в, да́руй ве́лию Твою́ ми́лость на мир Твой и на ны недосто́йныя рабы́ Твоя́. Я́ко благослове́но и препросла́влено есть и́мя Твое́, Отца́ и Сы́на и Свята́го Ду́ха, ны́не и при́сно, и во ве́ки веко́в, ами́нь.</p>
    </div>
</div>

{% endblock %}

