
{% extends 'wrapper.html' %}
{% block title %}

Кафисма 6

{% endblock %}
{% block main %}

<script>
    $(function() {
        $("#bf-sw").click(function(e) {
            e.preventDefault();
            $("#sp-bf-sw").text(function(i, text) {
                return text === "включить" ? "выключить" : "включить";
            });
            $("#l-content").toggleClass("display-4-1");
            $("h3, h4, h5, h6").toggleClass("display-3-1");
        });
    });
</script>
<p class="text-right d-print-none">
    <i class="fas fa-font"></i> <a href="#" id="bf-sw"><span id="sp-bf-sw">включить</span> крупный шрифт</a>
</p>
<div id="l-content" class="m-3">
    <p><a href="/psalter/">Псалтирь</a></p>
    <h3>Кафи́сма шеста́я</h3>
    <div class="">
        
            <h4>Псалом 37</h4>
            <ul class="list-unstyled">
            
                <li><strong class="text-danger">1</strong> <span class="text-secondary">Псало́м Дави́ду, в воспомина́ние о суббо́те</span></li>
            
                <li><strong class="text-danger">2</strong> Го́споди, да не я́ростию Твое́ю обличи́ши мене́, ниже́ гне́вом Твои́м нака́жеши мене́.</li>
            
                <li><strong class="text-danger">3</strong> Я́ко стре́лы Твоя́ унзо́ша во мне, и утверди́л еси́ на мне ру́ку Твою́.</li>
            
                <li><strong class="text-danger">4</strong> Несть исцеле́ния в пло́ти мое́й от лица́ гне́ва Твоего́, несть ми́ра в косте́х мои́х от лица́ грех мои́х.</li>
            
                <li><strong class="text-danger">5</strong> Я́ко беззако́ния моя́ превзыдо́ша главу́ мою́, я́ко бре́мя тя́жкое отяготе́ша на мне.</li>
            
                <li><strong class="text-danger">6</strong> Возсмерде́ша и согни́ша ра́ны моя́ от лица́ безу́мия моего́.</li>
            
                <li><strong class="text-danger">7</strong> Пострада́х и сляко́хся до конца́, весь день се́туя хожда́х.</li>
            
                <li><strong class="text-danger">8</strong> Я́ко ля́двия моя́ напо́лнишася поруга́ний, и несть исцеле́ния в пло́ти мое́й.</li>
            
                <li><strong class="text-danger">9</strong> Озло́блен бых и смири́хся до зела́, рыка́х от воздыха́ния се́рдца моего́.</li>
            
                <li><strong class="text-danger">10</strong> Го́споди, пред Тобо́ю все жела́ние мое́ и воздыха́ние мое́ от Тебе́ не утаи́ся.</li>
            
                <li><strong class="text-danger">11</strong> Се́рдце мое́ смяте́ся, оста́ви мя си́ла моя́, и свет о́чию мое́ю, и той несть со мно́ю.</li>
            
                <li><strong class="text-danger">12</strong> Дру́зи мои́ и и́скреннии мои́ пря́мо мне прибли́жишася и ста́ша,</li>
            
                <li><strong class="text-danger">13</strong> и бли́жнии мои́ отдале́че мене́ ста́ша и нужда́хуся и́щущии ду́шу мою́, и и́щущии зла́я мне глаго́лаху су́етная и льсти́вным весь день поуча́хуся.</li>
            
                <li><strong class="text-danger">14</strong> Аз же я́ко глух не слы́шах и я́ко нем не отверза́яй уст свои́х.</li>
            
                <li><strong class="text-danger">15</strong> И бых я́ко челове́к не слы́шай и не имы́й во усте́х свои́х обличе́ния.</li>
            
                <li><strong class="text-danger">16</strong> Я́ко на Тя, Го́споди, упова́х, Ты услы́шиши, Го́споди Бо́же мой.</li>
            
                <li><strong class="text-danger">17</strong> Я́ко рех: да не когда́ пора́дуют ми ся врази́ мои́: и внегда́ подвижа́тися нога́м мои́м, на мя велере́чеваша.</li>
            
                <li><strong class="text-danger">18</strong> Я́ко аз на ра́ны гото́в, и боле́знь моя́ предо мно́ю есть вы́ну.</li>
            
                <li><strong class="text-danger">19</strong> Я́ко беззако́ние мое́ аз возвещу́ и попеку́ся о гресе́ мое́м.</li>
            
                <li><strong class="text-danger">20</strong> Врази́ же мои́ живу́т и укрепи́шася па́че мене́, и умно́жишася ненави́дящии мя без пра́вды.</li>
            
                <li><strong class="text-danger">21</strong> Воздаю́щии ми зла́я возблага́я оболга́ху мя, зане́ гоня́х благосты́ню.</li>
            
                <li><strong class="text-danger">22</strong> Не оста́ви мене́, Го́споди Бо́же мой, не отступи́ от мене́.</li>
            
                <li><strong class="text-danger">23</strong> Вонми́ в по́мощь мою́, Го́споди спасе́ния моего́.</li>
            
            </ul>
        
            <h4>Псалом 38</h4>
            <ul class="list-unstyled">
            
                <li><strong class="text-danger">1</strong> <span class="text-secondary">В коне́ц, Идифу́му, песнь Дави́ду</span></li>
            
                <li><strong class="text-danger">2</strong> Рех: сохраню́ пути́ моя́, е́же не согреша́ти ми язы́ком мои́м: положи́х усто́м мои́м храни́ло, внегда́ воста́ти гре́шному предо мно́ю.</li>
            
                <li><strong class="text-danger">3</strong> Онеме́х и смири́хся, и умолча́х от благ, и боле́знь моя́ обнови́ся.</li>
            
                <li><strong class="text-danger">4</strong> Согре́яся се́рдце мое́ во мне, и в поуче́нии мое́м разгори́тся огнь. Глаго́лах язы́ком мои́м:</li>
            
                <li><strong class="text-danger">5</strong> скажи́ ми, Го́споди, кончи́ну мою́ и число́ дней мои́х, ко́е есть? Да разуме́ю, что лиша́юся аз?</li>
            
                <li><strong class="text-danger">6</strong> Се пя́ди положи́л еси́ дни моя́, и соста́в мой я́ко ничто́же пред Тобо́ю, оба́че вся́ческая суета́ всяк челове́к живы́й.</li>
            
                <li><strong class="text-danger">7</strong> У́бо о́бразом хо́дит челове́к, оба́че всу́е мяте́тся: сокро́вищствует, и не весть, кому́ собере́т я́.</li>
            
                <li><strong class="text-danger">8</strong> И ны́не кто терпе́ние мое́, не Госпо́дь ли? И соста́в мой от Тебе́ есть.</li>
            
                <li><strong class="text-danger">9</strong> От всех беззако́ний мои́х изба́ви мя, поноше́ние безу́мному дал мя еси́.</li>
            
                <li><strong class="text-danger">10</strong> Онеме́х и не отверзо́х уст мои́х, я́ко Ты сотвори́л еси́.</li>
            
                <li><strong class="text-danger">11</strong> Отста́ви от мене́ ра́ны Твоя́: от кре́пости бо руки́ Твоея́ аз исчезо́х.</li>
            
                <li><strong class="text-danger">12</strong> Во обличе́ниих о беззако́нии наказа́л еси́ челове́ка и иста́ял еси́, я́ко паучи́ну, ду́шу eго́: оба́че всу́е всяк челове́к.</li>
            
                <li><strong class="text-danger">13</strong> Услы́ши моли́тву мою́, Го́споди, и моле́ние мое́ внуши́, слез мои́х не премолчи́: я́ко пресе́льник аз есмь у Тебе́ и пришле́ц, я́коже вси отцы́ мои́.</li>
            
                <li><strong class="text-danger">14</strong> Осла́би ми, да почи́ю, пре́жде да́же не отъиду́, и ктому́ не бу́ду.</li>
            
            </ul>
        
            <h4>Псалом 39</h4>
            <ul class="list-unstyled">
            
                <li><strong class="text-danger">1</strong> <span class="text-secondary">В коне́ц, псало́м Дави́ду</span></li>
            
                <li><strong class="text-danger">2</strong> Терпя́, потерпе́х Го́спода, и внят ми, и услы́ша моли́тву мою́.</li>
            
                <li><strong class="text-danger">3</strong> И возведе́ мя от ро́ва страсте́й, и от бре́ния ти́ны, и поста́ви на ка́мени но́зе мои́, и испра́ви стопы́ моя́,</li>
            
                <li><strong class="text-danger">4</strong> и вложи́ во уста́ моя́ песнь но́ву, пе́ние Бо́гу на́шему. У́зрят мно́зи и убоя́тся, и упова́ют на Го́спода.</li>
            
                <li><strong class="text-danger">5</strong> Блаже́н муж, eму́же есть и́мя Госпо́дне упова́ние eго́, и не призре́ в суеты́ и неистовле́ния ло́жная.</li>
            
                <li><strong class="text-danger">6</strong> Мно́га сотвори́л еси́ Ты, Го́споди, Бо́же мой, чудеса́ Твоя́ и помышле́нием Твои́м несть кто уподо́бится Тебе́: возвести́х и глаго́лах, умно́жишася па́че числа́.</li>
            
                <li><strong class="text-danger">7</strong> Же́ртвы и приноше́ния не восхоте́л еси́, те́ло же сверши́л ми еси́, всесожже́ний и о гресе́ не взыска́л еси́.</li>
            
                <li><strong class="text-danger">8</strong> Тогда́ рех: се прииду́, в глави́зне кни́жне пи́сано есть о мне:</li>
            
                <li><strong class="text-danger">9</strong> е́же сотвори́ти во́лю Твою́, Бо́же мой, восхоте́х, и зако́н Твой посреде́ чре́ва моего́.</li>
            
                <li><strong class="text-danger">10</strong> Благовести́х пра́вду в це́ркви вели́цей, се устна́м мои́м не возбраню́: Го́споди, Ты разуме́л еси́.</li>
            
                <li><strong class="text-danger">11</strong> Пра́вду Твою́ не скрых в се́рдце мое́м, и́стину Твою́ и спасе́ние Твое́ рех, не скрых ми́лость Твою́ и и́стину Твою́ от со́нма мно́га.</li>
            
                <li><strong class="text-danger">12</strong> Ты же, Го́споди, не удали́ щедро́т Твои́х от мене́: ми́лость Твоя́ и и́стина Твоя́ вы́ну да засту́пите мя.</li>
            
                <li><strong class="text-danger">13</strong> Я́ко одержа́ша мя зла́я, и́мже несть числ́а, постиго́ша мя беззако́ния моя́, и не возмого́х зре́ти, умно́жишася па́че влас главы́ моея́, и се́рдце мое́ оста́ви мя.</li>
            
                <li><strong class="text-danger">14</strong> Благоволи́, Го́споди, изба́вити мя: Го́споди, во е́же помощи́ ми вонми́.</li>
            
                <li><strong class="text-danger">15</strong> Да постыдя́тся и посра́мятся вку́пе и́щущии ду́шу мою́ изъя́ти ю́, да возвратя́тся вспять и постыдя́тся хотя́щии ми зла́я.</li>
            
                <li><strong class="text-danger">16</strong> Да прии́мут а́бие студ свой глаго́лющии ми: бла́гоже, бла́гоже.</li>
            
                <li><strong class="text-danger">17</strong> Да возра́дуются и возвеселя́тся о Тебе́ вси и́щущии Тебе́, Го́споди, и да реку́т вы́ну: да возвели́чится Госпо́дь, лю́бящии спасе́ние Твое́.</li>
            
                <li><strong class="text-danger">18</strong> Аз же нищ есмь и убо́г, Госпо́дь попече́тся о мне. Помо́щник мой и Защи́титель мой еси́ Ты, Бо́же мой, не закосни́.</li>
            
            </ul>
        

        <br/>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <p>Аллилуйя, аллилуйя, аллилуйя, слава Тебе, Боже! (<span class="text-muted">3 раза</span>).</p>
        <p>Господи, помилуй (<span class="text-muted">3 раза</span>).</p>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <br/>
        <h4>Молитва о живых</h4>
        
            Спаси́, Го́споди, и поми́луй раб Твои́х:
            {% if health %}
                {% for n in health %}
                    {% if n.name %}
                    <span class="badge badge-light">{{ n.name }}{% if n.till %} <small class="text-muted">до {{ n.till }}</small>{% endif %}, </span>
                    {% endif %}
                {% endfor %}
            {% else %}
                <small>{% if user.is_authenticated %}<a href="{% url 'mysynodik-edit' %}" class="badge bg-light text-dark">[добавить имена о здравии]</a>{% else %}<a href="{% url 'login' %}?next={{ request.path }}" class="badge bg-light text-dark">[войдите или зарегистрируйтесь, чтобы добавить имена]</a>{% endif %}</small>
            {% endif %}
            и всех правосла́вных христиа́н.<br/>
            <br/>
        

        
            <h4>Псалом 40</h4>
            <ul class="list-unstyled">
            
                <li><strong class="text-danger">1</strong> <span class="text-secondary">В коне́ц, псало́м Дави́ду</span></li>
            
                <li><strong class="text-danger">2</strong> Блаже́н разумева́яй на ни́ща и убо́га, в день лют изба́вит eго́ Госпо́дь.</li>
            
                <li><strong class="text-danger">3</strong> Госпо́дь да сохрани́т eго́ и живи́т eго́, и да ублажи́т eго́ на земли́, и да не преда́ст eго́ в ру́ки враго́в eго́.</li>
            
                <li><strong class="text-danger">4</strong> Госпо́дь да помо́жет eму́ на одре́ боле́зни eго́: все ло́же eго́ обрати́л еси́ в боле́зни eго́.</li>
            
                <li><strong class="text-danger">5</strong> Аз рех: Го́споди, поми́луй мя, исцели́ ду́шу мою́, я́ко согреши́х Ти.</li>
            
                <li><strong class="text-danger">6</strong> Врази́ мои́ ре́ша мне зла́я: когда́ у́мрет и поги́бнет и́мя eго́?</li>
            
                <li><strong class="text-danger">7</strong> И вхожда́ше ви́дети, всу́е глаго́лаше се́рдце eго́, собра́ беззако́ние себе́, исхожда́ше вон и глаго́лаше вку́пе.</li>
            
                <li><strong class="text-danger">8</strong> На мя шепта́ху вси врази́ мои́, на мя помышля́ху зла́я мне.</li>
            
                <li><strong class="text-danger">9</strong> Сло́во законопресту́пное возложи́ша на мя: еда́ спяй не приложи́т воскресну́ти?</li>
            
                <li><strong class="text-danger">10</strong> И́бо челове́к ми́ра моего́, на него́же упова́х, яды́й хле́бы моя́, возвели́чи на мя запина́ние.</li>
            
                <li><strong class="text-danger">11</strong> Ты же, Го́споди, поми́луй мя и возста́ви мя и возда́м им.</li>
            
                <li><strong class="text-danger">12</strong> В сем позна́х, я́ко восхоте́л мя еси́, я́ко не возра́дуется враг мой о мне.</li>
            
                <li><strong class="text-danger">13</strong> Мене́ же за незло́бие прия́л и утверди́л мя еси́ пред Тобою́ в век.</li>
            
                <li><strong class="text-danger">14</strong> Благослове́н Госпо́дь Бог Изра́илев от ве́ка и до ве́ка: бу́ди, бу́ди.</li>
            
            </ul>
        
            <h4>Псалом 41</h4>
            <ul class="list-unstyled">
            
                <li><strong class="text-danger">1</strong> <span class="text-secondary">В коне́ц, в ра́зум сыно́в Коре́овых, псало́м Дави́ду, не надпи́сан у евре́й</span></li>
            
                <li><strong class="text-danger">2</strong> И́мже о́бразом жела́ет еле́нь на исто́чники водны́я, си́це жела́ет душа́ моя́ к Тебе́, Бо́же.</li>
            
                <li><strong class="text-danger">3</strong> Возжада́ душа́ моя́ к Бо́гу Кре́пкому, Живо́му: когда́ прииду́ и явлю́ся лицу́ Бо́жию?</li>
            
                <li><strong class="text-danger">4</strong> Бы́ша сле́зы моя́ мне хлеб день и нощь, внегда́ глаго́латися мне на всяк день: где есть Бог твой?</li>
            
                <li><strong class="text-danger">5</strong> Сия́ помяну́х и излия́х на мя ду́шу мою́, я́ко пройду́ в ме́сто селе́ния ди́вна, да́же до до́му Бо́жия, во гла́се ра́дования и испове́дания шу́ма пра́зднующаго.</li>
            
                <li><strong class="text-danger">6</strong> Вску́ю приско́рбна еси́, душе́ моя́? И вску́ю смуща́еши мя? Упова́й на Бо́га, я́ко испове́мся Ему́, спасе́ние лица́ моего́, и Бог мой.</li>
            
                <li><strong class="text-danger">7</strong> Ко мне самому́ душа́ моя́ смяте́ся: сего́ ра́ди помяну́х Тя от земли́ Иорда́нски и Ермонии́мски, от горы́ ма́лыя.</li>
            
                <li><strong class="text-danger">8</strong> Бе́здна бе́здну призыва́ет во гла́се хля́бий Твои́х, вся высоты́ Твоя́ и во́лны Твоя́ на мне преидо́ша.</li>
            
                <li><strong class="text-danger">9</strong> В день запове́сть Госпо́дь ми́лость Свою́, и но́щию песнь Его́ от мене́, моли́тва Бо́гу живота́ моего́.</li>
            
                <li><strong class="text-danger">10</strong> Реку́ Бо́гу: Засту́пник мой еси́, почто́ мя забы́л еси́? И вску́ю се́туя хожду́, внегда́ оскорбля́ет враг?</li>
            
                <li><strong class="text-danger">11</strong> Внегда́ сокруша́тися косте́м мои́м, поноша́ху ми врази́ мои́, внегда́ глаго́лати им мне на всяк день: где есть Бог твой?</li>
            
                <li><strong class="text-danger">12</strong> Вску́ю приско́рбна еси́, душе́ моя́? И вску́ю смуща́еши мя? Упова́й на Бо́га, я́ко испове́мся Ему́, спасе́ние лица́ моего́, и Бог мой.</li>
            
            </ul>
        
            <h4>Псалом 42</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Псало́м Дави́ду, не надпи́сан у евре́й</span></li>
            
                <li><strong class="text-danger">1</strong> Суди́ ми, Бо́же, и разсуди́ прю мою́, от язы́ка непреподо́бна, от челове́ка непра́ведна и льсти́ва изба́ви мя.</li>
            
                <li><strong class="text-danger">2</strong> Зане́ Ты еси́, Бо́же, Кре́пость моя́, вску́ю отри́нул мя еси́? И вску́ю се́туя хожду́, внегда́ оскорбля́ет враг?</li>
            
                <li><strong class="text-danger">3</strong> Посли́ свет Твой и и́стину Твою́, та мя наста́виста и введо́ста мя в го́ру святу́ю Твою́ и в селе́ния Твоя́.</li>
            
                <li><strong class="text-danger">4</strong> И вни́ду к же́ртвеннику Бо́жию, к Бо́гу веселя́щему ю́ность мою́, испове́мся Тебе́ в гу́слех, Бо́же, Бо́же мой.</li>
            
                <li><strong class="text-danger">5</strong> Вску́ю приско́рбна еси́, душе́ моя́? И вску́ю смуща́еши мя? Упова́й на Бо́га, я́ко испове́мся Ему́, спасе́ние лица́ моего́, и Бог мой.</li>
            
            </ul>
        

        <br/>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <p>Аллилуйя, аллилуйя, аллилуйя, слава Тебе, Боже! (<span class="text-muted">3 раза</span>).</p>
        <p>Господи, помилуй (<span class="text-muted">3 раза</span>).</p>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <br/>

        <h4>Молитва об усопших</h4>
        
            Упоко́й, Го́споди, ду́ши усо́пших раб Твои́х:
            {% if rip %}
                {% for n in rip %}
                    {% if n.name %}
                    <span class="badge badge-light">{{ n.name }}{% if n.till %} <small class="text-muted">до {{ n.till }}</small>{% endif %}{% if not forloop.last %}, {% endif %}</span>
                    {% endif %}
                {% endfor %}
            {% else %}
            <small>{% if user.is_authenticated %}<a href="{% url 'mysynodik-edit' %}" class="badge bg-light text-dark">[добавить имена о упокоении]</a>{% else %}<a href="{% url 'login' %}?next={{ request.path }}" class="badge bg-light text-dark">[войдите или зарегистрируйтесь, чтобы добавить имена]</a>{% endif %}</small>
            {% endif %}
            и всех правосла́вных христиа́н, и прости́ им вся согреше́ния во́льная и нево́льная, и да́руй им Ца́рствие Небе́сное.<br/>
        
        <br/>

        
            <h4>Псалом 43</h4>
            <ul class="list-unstyled">
            
                <li><strong class="text-danger">1</strong> <span class="text-secondary">В коне́ц, сыно́в Коре́овых, в ра́зум</span></li>
            
                <li><strong class="text-danger">2</strong> Бо́же, уши́ма на́шима услы́шахом, и отцы́ на́ши возвести́ша нам де́ло, е́же соде́лал еси́ во днех их, во днех дре́вних.</li>
            
                <li><strong class="text-danger">3</strong> Рука́ Твоя́ язы́ки потреби́, и насади́л я́ еси́, озло́бил еси́ лю́ди и изгна́л еси́ я́.</li>
            
                <li><strong class="text-danger">4</strong> Не бо мече́м свои́м насле́диша зе́млю, и мы́шца их не спа́се их, но десни́ца Твоя́, и мы́шца Твоя́, и просвеще́ние лица́ Твоего́, я́ко благоволи́л еси́ в них.</li>
            
                <li><strong class="text-danger">5</strong> Ты еси́ Сам Царь мой и Бог мой, запове́даяй спасе́ния Иа́ковля.</li>
            
                <li><strong class="text-danger">6</strong> О Тебе́ враги́ на́ша избоде́м ро́ги, и о и́мени Твое́м уничижи́м востаю́щыя на ны.</li>
            
                <li><strong class="text-danger">7</strong> Не на лук бо мой упова́ю, и мечь мой не спасе́т мене́.</li>
            
                <li><strong class="text-danger">8</strong> Спасл бо еси́ нас от стужа́ющих нам, и ненави́дящих нас посрами́л еси́.</li>
            
                <li><strong class="text-danger">9</strong> О Бо́зе похва́лимся весь день и о и́мени Твое́м испове́мыся во век.</li>
            
                <li><strong class="text-danger">10</strong> Ны́не же отри́нул еси́ и посрами́л еси́ нас, и не изы́деши, Бо́же, в си́лах на́ших.</li>
            
                <li><strong class="text-danger">11</strong> Возврати́л еси́ нас вспять при вразе́х на́ших, и ненави́дящии нас расхища́ху себе́.</li>
            
                <li><strong class="text-danger">12</strong> Дал еси́ нас я́ко о́вцы сне́ди, и во язы́цех разсе́ял ны еси́.</li>
            
                <li><strong class="text-danger">13</strong> Отда́л еси́ лю́ди Твоя́ без цены́, и не бе мно́жество в восклица́ниих на́ших.</li>
            
                <li><strong class="text-danger">14</strong> Положи́л еси́ нас поноше́ние сосе́дом на́шим, подражне́ние и поруга́ние су́щым о́крест нас.</li>
            
                <li><strong class="text-danger">15</strong> Положи́л еси́ нас в при́тчу во язы́цех, покива́нию главы́ в лю́дех.</li>
            
                <li><strong class="text-danger">16</strong> Весь день срам мой предо мно́ю есть, и студ лица́ моего́ покры́ мя</li>
            
                <li><strong class="text-danger">17</strong> от гла́са поноша́ющаго и оклевета́ющаго, от лица́ вра́жия и изгоня́щаго.</li>
            
                <li><strong class="text-danger">18</strong> Сия́ вся приидо́ша на ны, и не забы́хом Тебе́, и не непра́вдовахом в заве́те Твое́м.</li>
            
                <li><strong class="text-danger">19</strong> И не отступи́ вспять се́рдце на́ше, и уклони́л еси́ стези́ на́ша от пути́ Твоего́.</li>
            
                <li><strong class="text-danger">20</strong> Я́ко смири́л еси́ нас на ме́сте озлобле́ния, и прикры́ ны сень сме́ртная.</li>
            
                <li><strong class="text-danger">21</strong> А́ще забы́хом и́мя Бо́га на́шего и а́ще возде́хом ру́ки на́ша к бо́гу чужде́му.</li>
            
                <li><strong class="text-danger">22</strong> Не Бог ли взы́щет сих? Той бо весть та́йная се́рдца.</li>
            
                <li><strong class="text-danger">23</strong> Зане́ Тебе́ ра́ди умерщвля́емся весь день, вмени́хомся я́ко о́вцы заколе́ния.</li>
            
                <li><strong class="text-danger">24</strong> Воста́ни, вску́ю спи́ши, Го́споди? Воскресни́ и не отри́ни до конца́.</li>
            
                <li><strong class="text-danger">25</strong> Вску́ю лице́ Твое́ отвраща́еши? Забыва́еши нищету́ на́шу и скорбь на́шу?</li>
            
                <li><strong class="text-danger">26</strong> Я́ко смири́ся в персть душа́ на́ша, прильпе́ земли́ утро́ба на́ша.</li>
            
                <li><strong class="text-danger">27</strong> Воскресни́, Го́споди, помози́ нам и изба́ви нас и́мене ра́ди Твоего́.</li>
            
            </ul>
        
            <h4>Псалом 44</h4>
            <ul class="list-unstyled">
            
                <li><strong class="text-danger">1</strong> <span class="text-secondary">В коне́ц, о изменя́емых сыно́м Коре́овым, в ра́зум, песнь о возлю́бленнем</span></li>
            
                <li><strong class="text-danger">2</strong> Отры́гну се́рдце мое́ сло́во бла́го, глаго́лю аз дела́ моя́ Царе́ви: язы́к мой трость кни́жника скоропи́сца.</li>
            
                <li><strong class="text-danger">3</strong> Красе́н добро́тою па́че сыно́в челове́ческих, излия́ся благода́ть во устна́х Твои́х, сего́ ра́ди благослови́ Тя Бог во век.</li>
            
                <li><strong class="text-danger">4</strong> Препоя́ши мечь Твой по бедре́ Твое́й, Си́льне.</li>
            
                <li><strong class="text-danger">5</strong> Красото́ю Твое́ю и добро́тою Твое́ю, и наляцы́, и успева́й, и ца́рствуй и́стины ра́ди и кро́тости, и пра́вды, и наста́вит Тя ди́вно десни́ца Твоя́.</li>
            
                <li><strong class="text-danger">6</strong> Стре́лы Твоя́ изощре́ны, Си́льне, лю́дие под Тобо́ю паду́т в се́рдцы враг царе́вых.</li>
            
                <li><strong class="text-danger">7</strong> Престо́л Твой, Бо́же, в век ве́ка: жезл пра́вости, жезл Ца́рствия Твоего́.</li>
            
                <li><strong class="text-danger">8</strong> Возлюби́л еси́ пра́вду и возненави́дел еси́ беззако́ние, сего́ ра́ди пома́за Тя, Бо́же, Бог Твой еле́ем ра́дости, па́че прича́стник Твои́х.</li>
            
                <li><strong class="text-danger">9</strong> Сми́рна и ста́кти и касси́а от риз Твои́х, от тя́жестей слоно́вых, из ни́хже возвесели́ша Тя.</li>
            
                <li><strong class="text-danger">10</strong> Дще́ри царе́й в че́сти Твое́й, предста́ Цари́ца одесну́ю Тебе́, в ри́зах позлаще́нных оде́яна преиспещре́на.</li>
            
                <li><strong class="text-danger">11</strong> Слы́ши, Дщи, и виждь, и приклони́ у́хо Твое́, и забу́ди лю́ди Твоя́, и дом отца́ Твоего́.</li>
            
                <li><strong class="text-danger">12</strong> И возжела́ет Царь добро́ты Твоея́: зане́ Той есть Госпо́дь Твой и поклони́шися Ему́.</li>
            
                <li><strong class="text-danger">13</strong> И дщи Ти́рова с да́ры, лицу́ Твоему́ помо́лятся бога́тии лю́дстии.</li>
            
                <li><strong class="text-danger">14</strong> Вся сла́ва Дще́ре Царе́вы внутрь, ря́сны златы́ми оде́яна и преиспещре́на.</li>
            
                <li><strong class="text-danger">15</strong> Приведу́тся Царю́ де́вы в след ея́, и́скренния ея́ приведу́тся Тебе́.</li>
            
                <li><strong class="text-danger">16</strong> Приведу́тся в весе́лии и ра́довании, введу́тся в храм Царе́в.</li>
            
                <li><strong class="text-danger">17</strong> Вме́сто оте́ц Твои́х бы́ша сы́нове Твои́: поста́виши я́ кня́зи по всей земли́.</li>
            
                <li><strong class="text-danger">18</strong> Помяну́ и́мя Твое́ во вся́ком ро́де и ро́де. Сего́ ра́ди лю́дие испове́дятся Тебе́ в век и во век ве́ка.</li>
            
            </ul>
        
            <h4>Псалом 45</h4>
            <ul class="list-unstyled">
            
                <li><strong class="text-danger">1</strong> <span class="text-secondary">В коне́ц, о сыне́х Коре́овых, о та́йных, псало́м</span></li>
            
                <li><strong class="text-danger">2</strong> Бог нам Прибе́жище и Си́ла, Помо́щник в ско́рбех, обре́тших ны зело́.</li>
            
                <li><strong class="text-danger">3</strong> Сего́ ра́ди не убои́мся, внегда́ смуща́ется земля́ и прелага́ются го́ры в сердца́ морска́я.</li>
            
                <li><strong class="text-danger">4</strong> Возшуме́ша и смято́шася во́ды их, смято́шася го́ры кре́постию Его́.</li>
            
                <li><strong class="text-danger">5</strong> Ре́чная устремле́ния веселя́т град Бо́жий: освяти́л есть селе́ние Свое́ Вы́шний.</li>
            
                <li><strong class="text-danger">6</strong> Бог посреде́ eго́, и не подви́жится: помо́жет eму́ Бог у́тро зау́тра.</li>
            
                <li><strong class="text-danger">7</strong> Смято́шася язы́цы, уклони́шася ца́рствия: даде́ глас Свой Вы́шний, подви́жеся земля́.</li>
            
                <li><strong class="text-danger">8</strong> Госпо́дь сил с на́ми, Засту́пник наш Бог Иа́ковль.</li>
            
                <li><strong class="text-danger">9</strong> Прииди́те и ви́дите дела́ Бо́жия, я́же положи́ чудеса́ на земли́:</li>
            
                <li><strong class="text-danger">10</strong> отъе́мля бра́ни до коне́ц земли́, лук сокруши́т и сло́мит ору́жие, и щиты́ сожже́т огне́м.</li>
            
                <li><strong class="text-danger">11</strong> Упраздни́теся и разуме́йте, я́ко Аз есмь Бог: вознесу́ся во язы́цех, вознесу́ся на земли́.</li>
            
                <li><strong class="text-danger">12</strong> Госпо́дь сил с на́ми, Засту́пник наш Бог Иа́ковль.</li>
            
            </ul>
        

        <br/>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <p>Аллилуйя, аллилуйя, аллилуйя, слава Тебе, Боже! (<span class="text-muted">3 раза</span>).</p>
        <p>Господи, помилуй (<span class="text-muted">3 раза</span>).</p>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <br/>

        <h4>По 6–й кафисме:</h4>

        <p>Святы́й Бо́же, Святы́й Кре́пкий, Святы́й Безсме́ртный, поми́луй нас. (<span class="text-muted">Tрижды</span>)</p>
        <p>Сла́ва Отцу́ и Сы́ну и Свято́му Ду́ху, и ны́не и при́сно и во ве́ки веко́в. Ами́нь.</p>
        <p>Пресвята́я Тро́ице, поми́луй нас; Го́споди, очи́сти грехи́ на́ша; Влады́ко, прости́ беззако́ния на́ша; Святы́й, посети́ и исцели́ не́мощи на́ша, и́мене Твоего́ ра́ди.</p>
        <p>Го́споди, поми́луй. (<span class="text-muted">Трижды</span>)</p>
        <p>Сла́ва Отцу́ и Сы́ну и Свято́му Ду́ху, и ны́не и при́сно и во ве́ки веко́в. Ами́нь.</p>
        <p>О́тче наш, И́же еси́ на небесе́х! Да святи́тся и́мя Твое́, да прии́дет Ца́рствие Твое́, да бу́дет во́ля Твоя́, я́ко на небеси́ и на земли́. Хлеб наш насу́щный даждь нам днесь; и оста́ви нам до́лги на́ша, я́коже и мы оставля́ем должнико́м на́шим; и не введи́ нас во искуше́ние, но изба́ви нас от лука́ваго.</p>

        <h5>Таже тропари, глас 3:</h5>
        
            <p> Хвалу́ приношу́ Ти, Го́споди, прегреше́ния моя́ вся возвеща́ю Ти, Бо́же, обрати́в поми́луй мя.</p>
        
        <p><span class="text-danger">Сла́ва Отцу, и Сы́ну, и Свято́му Ду́ху.</span>  Спаси́ мя, Бо́же мой, я́коже иногда́ мытаря́ спасл еси́, и блудни́цы слез не презре́вый, и мое́ воздыха́ние приими́, Спа́се мой, и спаси́ мя.</p>
        <p><span class="text-danger">И ны́не, и при́сно, и во ве́ки веко́в, ами́нь.</span>  Ра́бски ны́не притека́ю к покро́ву Твоему́, Пренепоро́чная: изба́ви мя, Богороди́тельнице, слия́ния страсте́й, я́ко безстрас́тия Вино́внаго Ро́ждшая.</p>

        <p>Го́споди, поми́луй (<span class="text-muted">40</span>) <span class="text-muted">и молитва</span>:</p>
        <p>Благодари́м Тя, Го́споди Бо́же наш, о всех благодея́ниих Твои́х, я́же от пе́рваго во́зраста до настоя́щаго в нас, недосто́йных, бы́вших, о и́хже ве́мы и не ве́мы, о явле́нных и неявле́нных, я́же де́лом бы́вших, и сло́вом: возлюби́вый нас, я́коже и Единоро́днаго Твоего́ Сы́на о нас да́ти изво́ливый. Сподо́би и нас досто́йны бы́ти Твоея́ любве́. Даждь сло́вом Твои́м му́дрость и стра́хом Твои́м вдохни́ кре́пость от Твоея́ си́лы, и а́ще что хотя́ще или́ не хотя́ще согреши́хом, прости́, и не вмени́ и сохрани́ ду́шу на́шу свя́ту, и предста́ви ю́ Твоему́ Престо́лу, со́весть иму́щу чи́сту, и коне́ц досто́ин человеколю́бия Твоего́. И помяни́, Го́споди, всех призыва́ющих и́мя Твое́ во и́стине: помяни́ всех, бла́га или́ сопроти́вная нам хотя́щих: вси бо челове́цы есмы́, и всу́е всяк челове́к. Те́мже мо́лимся Тебе́, Го́споди: пода́ждь нам Твоего́ благоутро́бия ве́лию ми́лость.</p>
    </div>
</div>

{% endblock %}

