
{% extends 'wrapper.html' %}
{% block title %}

Кафисма 13

{% endblock %}
{% block main %}

<script>
    $(function() {
        $("#bf-sw").click(function(e) {
            e.preventDefault();
            $("#sp-bf-sw").text(function(i, text) {
                return text === "включить" ? "выключить" : "включить";
            });
            $("#l-content").toggleClass("display-4-1");
            $("h3, h4, h5, h6").toggleClass("display-3-1");
        });
    });
</script>
<p class="text-right d-print-none">
    <i class="fas fa-font"></i> <a href="#" id="bf-sw"><span id="sp-bf-sw">включить</span> крупный шрифт</a>
</p>
<div id="l-content" class="m-3">
    <p><a href="/psalter/">Псалтирь</a></p>
    <h3>Кафи́сма третияна́десять</h3>
    <div class="">
        
            <h4>Псалом 91</h4>
            <ul class="list-unstyled">
            
                <li><strong class="text-danger">1</strong> <span class="text-secondary">Псало́м пе́сни в день суббо́тный</span></li>
            
                <li><strong class="text-danger">2</strong> Бла́го есть испове́датися Го́сподеви, и пе́ти и́мени Твоему́, Вы́шний:</li>
            
                <li><strong class="text-danger">3</strong> возвеща́ти зау́тра ми́лость Твою́ и и́стину Твою́ на вся́ку нощь,</li>
            
                <li><strong class="text-danger">4</strong> в десятостру́ннем псалти́ри с пе́снию в гу́слех.</li>
            
                <li><strong class="text-danger">5</strong> Я́ко возвесели́л мя еси́, Го́споди, в творе́нии Твое́м, и в де́лех руку́ Твое́ю возра́дуюся.</li>
            
                <li><strong class="text-danger">6</strong> Я́ко возвели́чишася дела́ Твоя́, Го́споди, зело́ углуби́шася помышле́ния Твоя́.</li>
            
                <li><strong class="text-danger">7</strong> Муж безу́мен не позна́ет, и неразу́мив не разуме́ет сих.</li>
            
                <li><strong class="text-danger">8</strong> Внегда́ прозябо́ша гре́шницы я́ко трава́, и пронико́ша вси де́лающии беззако́ние: я́ко да потребя́тся в век ве́ка.</li>
            
                <li><strong class="text-danger">9</strong> Ты же Вы́шний во век, Го́споди.</li>
            
                <li><strong class="text-danger">10</strong> Я́ко се врази́ Твои́, Го́споди, я́ко се врази́ Твои́ поги́бнут, и разы́дутся вси де́лающии беззако́ние.</li>
            
                <li><strong class="text-danger">11</strong> И вознесе́тся я́ко единоро́га рог мой, и ста́рость моя́ в еле́и масти́те.</li>
            
                <li><strong class="text-danger">12</strong> И воззре́ о́ко мое́ на враги́ моя́, и востаю́щыя на мя лука́внующыя услы́шит у́хо мое́.</li>
            
                <li><strong class="text-danger">13</strong> Пра́ведник я́ко фи́никс процвете́т, я́ко кедр, и́же в Лива́не, умно́жится.</li>
            
                <li><strong class="text-danger">14</strong> Насажде́ни в дому́ Госпо́дни, во дво́рех Бо́га на́шего процвету́т,</li>
            
                <li><strong class="text-danger">15</strong> еще́ умно́жатся в ста́рости масти́те, и благоприе́млюще бу́дут.</li>
            
                <li><strong class="text-danger">16</strong> Да возвестя́т, я́ко прав Госпо́дь Бог наш, и несть непра́вды в Нем.</li>
            
            </ul>
        
            <h4>Псалом 92</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">В день предсуббо́тный, внегда́ насели́ся земля́, хвала́ пе́сни Дави́ду</span></li>
            
                <li><strong class="text-danger">1</strong> Госпо́дь воцари́ся, в ле́поту облече́ся: облече́ся Госпо́дь в си́лу и препоя́сася, и́бо утверди́ вселе́нную, я́же не подви́жится.</li>
            
                <li><strong class="text-danger">2</strong> Гото́в Престо́л Твой отто́ле: от ве́ка Ты еси́.</li>
            
                <li><strong class="text-danger">3</strong> Воздвиго́ша ре́ки, Го́споди, воздвиго́ша ре́ки гла́сы своя́.</li>
            
                <li><strong class="text-danger">4</strong> Во́змут ре́ки сотре́ния своя́, от гласо́в вод мно́гих. Ди́вны высоты́ морски́я, ди́вен в высо́ких Госпо́дь.</li>
            
                <li><strong class="text-danger">5</strong> Свиде́ния Твоя́ уве́ришася зело́, до́му Твоему́ подоба́ет святы́ня, Го́споди, в долготу́ дний.</li>
            
            </ul>
        
            <h4>Псалом 93</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Псало́м Дави́ду, в четве́ртый суббо́ты</span></li>
            
                <li><strong class="text-danger">1</strong> Бог отмще́ний Госпо́дь, Бог отмще́ний не обину́лся есть.</li>
            
                <li><strong class="text-danger">2</strong> Вознеси́ся Судя́й земли́, возда́ждь воздая́ние го́рдым.</li>
            
                <li><strong class="text-danger">3</strong> Доко́ле гре́шницы, Го́споди, доко́ле гре́шницы восхва́лятся?</li>
            
                <li><strong class="text-danger">4</strong> Провеща́ют и возглаго́лют непра́вду, возглаго́лют вси де́лающии беззако́ние?</li>
            
                <li><strong class="text-danger">5</strong> Лю́ди Твоя́, Го́споди, смири́ша и достоя́ние Твое́ озло́биша.</li>
            
                <li><strong class="text-danger">6</strong> Вдови́цу и си́ра умори́ша и прише́льца уби́ша,</li>
            
                <li><strong class="text-danger">7</strong> и ре́ша: не у́зрит Госпо́дь, ниже́ уразуме́ет Бог Иа́ковль.</li>
            
                <li><strong class="text-danger">8</strong> Разуме́йте же безу́мнии в лю́дех и бу́ии не́когда умудри́теся.</li>
            
                <li><strong class="text-danger">9</strong> Насажде́й у́хо, не слы́шит ли? Или́ созда́вый о́ко, не сматря́ет ли?</li>
            
                <li><strong class="text-danger">10</strong> Наказу́яй язы́ки, не обличи́т ли, уча́й челове́ка ра́зуму?</li>
            
                <li><strong class="text-danger">11</strong> Госпо́дь весть помышле́ния челове́ческая, я́ко суть су́етна.</li>
            
                <li><strong class="text-danger">12</strong> Блаже́н челове́к, eго́же а́ще нака́жеши, Го́споди, и от зако́на Твоего́ научи́ши eго́,</li>
            
                <li><strong class="text-danger">13</strong> укроти́ти eго́ от дней лю́тых, до́ндеже изры́ется гре́шному я́ма.</li>
            
                <li><strong class="text-danger">14</strong> Я́ко не отри́нет Госпо́дь люде́й Свои́х, и достоя́ния Своего́ не оста́вит,</li>
            
                <li><strong class="text-danger">15</strong> до́ндеже пра́вда обрати́тся на суд, и держа́щиися ея́ вси пра́вии се́рдцем.</li>
            
                <li><strong class="text-danger">16</strong> Кто воста́нет ми на лука́внующыя? Или́ кто спредста́нет ми на де́лающыя беззако́ние?</li>
            
                <li><strong class="text-danger">17</strong> А́ще не Госпо́дь помо́гл бы ми, вма́ле всели́лася бы во ад душа́ моя́.</li>
            
                <li><strong class="text-danger">18</strong> А́ще глаго́лах, подви́жеся нога́ моя́, ми́лость Твоя́, Го́споди, помога́ше ми.</li>
            
                <li><strong class="text-danger">19</strong> По мно́жеству боле́зней мои́х в се́рдце мое́м, утеше́ния Твоя́ возвесели́ша ду́шу мою́.</li>
            
                <li><strong class="text-danger">20</strong> Да не прибу́дет Тебе́ престо́л беззако́ния, созида́яй труд на повеле́ние.</li>
            
                <li><strong class="text-danger">21</strong> Уловя́т на ду́шу пра́ведничу, и кровь непови́нную осу́дят.</li>
            
                <li><strong class="text-danger">22</strong> И бысть мне Госпо́дь в прибе́жище, и Бог мой в по́мошь упова́ния моего́.</li>
            
                <li><strong class="text-danger">23</strong> И возда́ст им Госпо́дь беззако́ние их и по лука́вствию их погуби́т я́ Госпо́дь Бог.</li>
            
            </ul>
        

        <br/>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <p>Аллилуйя, аллилуйя, аллилуйя, слава Тебе, Боже! (<span class="text-muted">3 раза</span>).</p>
        <p>Господи, помилуй (<span class="text-muted">3 раза</span>).</p>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <br/>
        <h4>Молитва о живых</h4>
        
            Спаси́, Го́споди, и поми́луй раб Твои́х:
            {% if health %}
                {% for n in health %}
                    {% if n.name %}
                    <span class="badge badge-light">{{ n.name }}{% if n.till %} <small class="text-muted">до {{ n.till }}</small>{% endif %}, </span>
                    {% endif %}
                {% endfor %}
            {% else %}
                <small>{% if user.is_authenticated %}<a href="{% url 'mysynodik-edit' %}" class="badge bg-light text-dark">[добавить имена о здравии]</a>{% else %}<a href="{% url 'login' %}?next={{ request.path }}" class="badge bg-light text-dark">[войдите или зарегистрируйтесь, чтобы добавить имена]</a>{% endif %}</small>
            {% endif %}
            и всех правосла́вных христиа́н.<br/>
            <br/>
        

        
            <h4>Псалом 94</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Хвала́ пе́сни Дави́ду, не надпи́сан у евре́й</span></li>
            
                <li><strong class="text-danger">1</strong> Прииди́те, возра́дуемся Го́сподеви, воскли́кнем Бо́гу Спаси́телю на́шему:</li>
            
                <li><strong class="text-danger">2</strong> предвари́м лице́ Его́ во испове́дании, и во псалме́х воскли́кнем Ему́.</li>
            
                <li><strong class="text-danger">3</strong> Я́ко Бог Ве́лий Госпо́дь, и Царь Ве́лий по всей земли́,</li>
            
                <li><strong class="text-danger">4</strong> я́ко в руце́ Его́ вси концы́ земли́, и высоты́ гор Того́ суть.</li>
            
                <li><strong class="text-danger">5</strong> Я́ко Того́ есть мо́ре, и Той сотвори́ е́, и су́шу ру́це Его́ созда́сте.</li>
            
                <li><strong class="text-danger">6</strong> Прииди́те, поклони́мся и припаде́м Ему́, и воспла́чемся пред Го́сподем сотво́ршим нас:</li>
            
                <li><strong class="text-danger">7</strong> я́ко Той есть Бог наш, и мы лю́дие па́жити Его́, и о́вцы руки́ Его́. Днесь а́ще глас Его́ услы́шите,</li>
            
                <li><strong class="text-danger">8</strong> не ожесточи́те серде́ц ва́ших, я́ко в прогне́вании, по дни искуше́ния в пусты́ни,</li>
            
                <li><strong class="text-danger">9</strong> во́ньже искуси́ша Мя отцы́ ва́ши, искуси́ша Мя, и ви́деша дела́ Моя́.</li>
            
                <li><strong class="text-danger">10</strong> Четы́редесять лет негодова́х ро́да того́, и рех, при́сно заблужда́ют се́рдцем, ти́и же не позна́ша путе́й Мои́х,</li>
            
                <li><strong class="text-danger">11</strong> я́ко кля́хся во гне́ве Мое́м, а́ще вни́дут в поко́й Мой.</li>
            
            </ul>
        
            <h4>Псалом 95</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Хвала́ пе́сни Дави́ду, внегда́ дом созида́шеся по плене́нии, не надпи́сан у евре́й</span></li>
            
                <li><strong class="text-danger">1</strong> Воспо́йте Го́сподеви песнь но́ву, воспо́йте Го́сподеви вся земля́,</li>
            
                <li><strong class="text-danger">2</strong> воспо́йте Го́сподеви, благослови́те и́мя Его́, благовести́те день от дне спасе́ние Его́.</li>
            
                <li><strong class="text-danger">3</strong> Возвести́те во язы́цех сла́ву Его́, во всех лю́дех чудеса́ Его́.</li>
            
                <li><strong class="text-danger">4</strong> Я́ко Ве́лий Госпо́дь и хва́лен зело́, стра́шен есть над все́ми бо́ги.</li>
            
                <li><strong class="text-danger">5</strong> Я́ко вси бо́зи язы́к бе́сове: Госпо́дь же небеса́ сотвори́.</li>
            
                <li><strong class="text-danger">6</strong> Испове́дание и красота́ пред Ним, святы́ня и великоле́пие во святи́ле Его́.</li>
            
                <li><strong class="text-danger">7</strong> Принеси́те Го́сподеви оте́чествия язы́к, принеси́те Го́сподеви сла́ву и честь.</li>
            
                <li><strong class="text-danger">8</strong> Принеси́те Го́сподеви сла́ву и́мени Его́, возми́те же́ртвы, и входи́те во дворы́ Его́.</li>
            
                <li><strong class="text-danger">9</strong> Поклони́теся Го́сподеви во дворе́ святе́м Его́, да подви́жится от лица́ Его́ вся земля́.</li>
            
                <li><strong class="text-danger">10</strong> Рцы́те во язы́цех, я́ко Госпо́дь воцари́ся, и́бо испра́ви вселе́нную, я́же не подви́жится: су́дит лю́дем пра́востию.</li>
            
                <li><strong class="text-danger">11</strong> Да возвеселя́тся небеса́, и ра́дуется земля́, да подви́жится мо́ре и исполне́ние eго́.</li>
            
                <li><strong class="text-danger">12</strong> Возра́дуются поля́, и вся я́же на них: тогда́ возра́дуются вся древа́ дубра́вная</li>
            
                <li><strong class="text-danger">13</strong> от лица́ Госпо́дня, я́ко гряде́т, я́ко гряде́т суди́ти земли́, суди́ти вселе́нней в пра́вду, и лю́дем и́стиною Свое́ю.</li>
            
            </ul>
        
            <h4>Псалом 96</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Псало́м Дави́ду, егда́ земля́ его́ устроя́шеся, не надпи́сан у евре́й</span></li>
            
                <li><strong class="text-danger">1</strong> Госпо́дь воцари́ся, да ра́дуется земля́, да веселя́тся о́строви мно́зи.</li>
            
                <li><strong class="text-danger">2</strong> О́блак и мрак о́крест Eго́, пра́вда и судьба́ исправле́ние Престо́ла Его́.</li>
            
                <li><strong class="text-danger">3</strong> Огнь пред Ним предъи́дет, и попали́т о́крест враги́ Его́.</li>
            
                <li><strong class="text-danger">4</strong> Освети́ша мо́лния Его́ вселе́нную: ви́де, и подви́жеся земля́.</li>
            
                <li><strong class="text-danger">5</strong> Го́ры я́ко воск раста́яша от лица́ Госпо́дня, от лица́ Го́спода всея́ земли́.</li>
            
                <li><strong class="text-danger">6</strong> Возвести́ша небеса́ пра́вду Его́, и ви́деша вси лю́дие сла́ву Его́.</li>
            
                <li><strong class="text-danger">7</strong> Да постыдя́тся вси кла́няющиися истука́нным, хва́лящиися о и́долех свои́х, поклони́теся Ему́ вси А́нгели Его́.</li>
            
                <li><strong class="text-danger">8</strong> Слы́ша и возвесели́ся Сио́н, и возра́довашася дще́ри Иуде́йския, суде́б ра́ди Твои́х, Го́споди,</li>
            
                <li><strong class="text-danger">9</strong> я́ко Ты Госпо́дь Вы́шний над все́ю земле́ю, зело́ превозне́слся еси́ над все́ми бо́ги.</li>
            
                <li><strong class="text-danger">10</strong> Лю́бящии Го́спода, ненави́дите зла́я, храни́т Госпо́дь ду́шы преподо́бных Свои́х, из ру́ки гре́шничи изба́вит я́.</li>
            
                <li><strong class="text-danger">11</strong> Свет возсия́ пра́веднику, и пра́вым се́рдцем весе́лие.</li>
            
                <li><strong class="text-danger">12</strong> Весели́теся, пра́веднии, о Го́споде и испове́дайте па́мять Святы́ни Его́.</li>
            
            </ul>
        

        <br/>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <p>Аллилуйя, аллилуйя, аллилуйя, слава Тебе, Боже! (<span class="text-muted">3 раза</span>).</p>
        <p>Господи, помилуй (<span class="text-muted">3 раза</span>).</p>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <br/>

        <h4>Молитва об усопших</h4>
        
            Упоко́й, Го́споди, ду́ши усо́пших раб Твои́х:
            {% if rip %}
                {% for n in rip %}
                    {% if n.name %}
                    <span class="badge badge-light">{{ n.name }}{% if n.till %} <small class="text-muted">до {{ n.till }}</small>{% endif %}{% if not forloop.last %}, {% endif %}</span>
                    {% endif %}
                {% endfor %}
            {% else %}
            <small>{% if user.is_authenticated %}<a href="{% url 'mysynodik-edit' %}" class="badge bg-light text-dark">[добавить имена о упокоении]</a>{% else %}<a href="{% url 'login' %}?next={{ request.path }}" class="badge bg-light text-dark">[войдите или зарегистрируйтесь, чтобы добавить имена]</a>{% endif %}</small>
            {% endif %}
            и всех правосла́вных христиа́н, и прости́ им вся согреше́ния во́льная и нево́льная, и да́руй им Ца́рствие Небе́сное.<br/>
        
        <br/>

        
            <h4>Псалом 97</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Псало́м Дави́ду</span></li>
            
                <li><strong class="text-danger">1</strong> Воспо́йте Го́сподеви песнь но́ву, я́ко ди́вна сотвори́ Госпо́дь. Спасе́ Его́ десни́ца Его́, и мы́шца свята́я Его́.</li>
            
                <li><strong class="text-danger">2</strong> Сказа́ Госпо́дь спасе́ние Свое́, пред язы́ки откры́ пра́вду Свою́.</li>
            
                <li><strong class="text-danger">3</strong> Помяну́ ми́лость Свою́ Иа́кову, и и́стину Свою́ до́му Изра́илеву, ви́деша вси концы́ земли́ спасе́ние Бо́га на́шего.</li>
            
                <li><strong class="text-danger">4</strong> Воскли́кните Бо́гови вся земля́, воспо́йте, и ра́дуйтеся, и по́йте.</li>
            
                <li><strong class="text-danger">5</strong> По́йте Го́сподеви в гу́слех, в гу́слех и гла́се псало́мсте.</li>
            
                <li><strong class="text-danger">6</strong> В труба́х ко́ваных и гла́сом трубы́ ро́жаны воструби́те пред Царе́м Го́сподем.</li>
            
                <li><strong class="text-danger">7</strong> Да подви́жится мо́ре и исполне́ние eго́, вселе́нная и вси живу́щии на ней.</li>
            
                <li><strong class="text-danger">8</strong> Ре́ки воспле́щут руко́ю вку́пе, го́ры возра́дуются.</li>
            
                <li><strong class="text-danger">9</strong> От лица́ Госпо́дня, я́ко гряде́т, я́ко и́дет суди́ти земли́, суди́ти вселе́нней в пра́вду, и лю́дем пра́востию.</li>
            
            </ul>
        
            <h4>Псалом 98</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Псало́м Дави́ду</span></li>
            
                <li><strong class="text-danger">1</strong> Госпо́дь воцари́ся, да гне́ваются лю́дие: седя́й на Херуви́мех, да подви́жится земля́.</li>
            
                <li><strong class="text-danger">2</strong> Госпо́дь в Сио́не вели́к, и высо́к есть над все́ми людьми́.</li>
            
                <li><strong class="text-danger">3</strong> Да испове́дятся и́мени Твоему́ вели́кому, я́ко стра́шно и свя́то есть.</li>
            
                <li><strong class="text-danger">4</strong> И честь царе́ва суд лю́бит: Ты угото́вал еси́ правоты́, суд и пра́вду во Иа́кове Ты сотвори́л еси́.</li>
            
                <li><strong class="text-danger">5</strong> Возноси́те Го́спода Бо́га на́шего, и покланя́йтеся подно́жию но́гу Его́, я́ко свя́то есть.</li>
            
                <li><strong class="text-danger">6</strong> Моисе́й и Ааро́н во иере́ех Его́, и Самуи́л в призыва́ющих и́мя Его́: призыва́ху Го́спода, и Той послу́шаше их.</li>
            
                <li><strong class="text-danger">7</strong> В столпе́ о́блачне глаго́лаше к ним: я́ко храня́ху свиде́ния Его́ и повеле́ния Его́, я́же даде́ им.</li>
            
                <li><strong class="text-danger">8</strong> Го́споди Бо́же наш, Ты послу́шал еси́ их: Бо́же, ты ми́лостив быва́л еси́ им, и мща́я на вся начина́ния их.</li>
            
                <li><strong class="text-danger">9</strong> Возноси́те Го́спода Бо́га на́шего, и покланя́йтеся в горе́ святе́й Его́, я́ко Свят Госпо́дь Бог наш.</li>
            
            </ul>
        
            <h4>Псалом 99</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Псало́м Дави́ду, во исповеда́ние</span></li>
            
                <li><strong class="text-danger">1</strong> Воскли́кните Бо́гови вся земля́,</li>
            
                <li><strong class="text-danger">2</strong> рабо́тайте Го́сподеви в весе́лии, вни́дите пред Ним в ра́дости.</li>
            
                <li><strong class="text-danger">3</strong> Уве́дите, я́ко Госпо́дь той есть Бог наш: Той сотвори́ нас, а не мы, мы же лю́дие Его́ и о́вцы па́жити Его́.</li>
            
                <li><strong class="text-danger">4</strong> Вни́дите во врата́ Его́ во испове́дании, во дворы́ Его́ в пе́ниих: испове́дайтеся Ему́, хвали́те и́мя Его́.</li>
            
                <li><strong class="text-danger">5</strong> Я́ко благ Госпо́дь, в век ми́лость Его́, и да́же до ро́да и ро́да и́стина Его́.</li>
            
            </ul>
        
            <h4>Псалом 100</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Псало́м Дави́ду</span></li>
            
                <li><strong class="text-danger">1</strong> Ми́лость и суд воспою́ Тебе́, Го́споди.</li>
            
                <li><strong class="text-danger">2</strong> Пою́ и разуме́ю в пути́ непоро́чне, когда́ прии́деши ко мне? Прехожда́х в незло́бии се́рдца моего́ посреде́ до́му моего́.</li>
            
                <li><strong class="text-danger">3</strong> Не предлага́х пред очи́ма мои́ма вещь законопресту́пную: творя́щыя преступле́ние возненави́дех.</li>
            
                <li><strong class="text-danger">4</strong> Не прильпе́ мне се́рдце стропти́во, уклоня́ющагося от мене́ лука́ваго не позна́х.</li>
            
                <li><strong class="text-danger">5</strong> Оклевета́ющаго тай и́скренняго своего́, сего́ изгоня́х: го́рдым о́ком, и несы́тым се́рдцем, с сим не ядя́х.</li>
            
                <li><strong class="text-danger">6</strong> О́чи мои́ на ве́рныя земли́, посажда́ти я́ со мно́ю: ходя́й по пути́ непоро́чну, сей ми служа́ше.</li>
            
                <li><strong class="text-danger">7</strong> Не живя́ше посреде́ до́му моего́ творя́й горды́ню, глаго́ляй непра́ведная, не исправля́ше пред очи́ма мои́ма.</li>
            
                <li><strong class="text-danger">8</strong> Во у́трия избива́х вся гре́шныя земли́, е́же потреби́ти от гра́да Госпо́дня вся де́лающыя беззако́ние.</li>
            
            </ul>
        

        <br/>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <p>Аллилуйя, аллилуйя, аллилуйя, слава Тебе, Боже! (<span class="text-muted">3 раза</span>).</p>
        <p>Господи, помилуй (<span class="text-muted">3 раза</span>).</p>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <br/>

        <h4>По 13–й кафисме:</h4>

        <p>Святы́й Бо́же, Святы́й Кре́пкий, Святы́й Безсме́ртный, поми́луй нас. (<span class="text-muted">Tрижды</span>)</p>
        <p>Сла́ва Отцу́ и Сы́ну и Свято́му Ду́ху, и ны́не и при́сно и во ве́ки веко́в. Ами́нь.</p>
        <p>Пресвята́я Тро́ице, поми́луй нас; Го́споди, очи́сти грехи́ на́ша; Влады́ко, прости́ беззако́ния на́ша; Святы́й, посети́ и исцели́ не́мощи на́ша, и́мене Твоего́ ра́ди.</p>
        <p>Го́споди, поми́луй. (<span class="text-muted">Трижды</span>)</p>
        <p>Сла́ва Отцу́ и Сы́ну и Свято́му Ду́ху, и ны́не и при́сно и во ве́ки веко́в. Ами́нь.</p>
        <p>О́тче наш, И́же еси́ на небесе́х! Да святи́тся и́мя Твое́, да прии́дет Ца́рствие Твое́, да бу́дет во́ля Твоя́, я́ко на небеси́ и на земли́. Хлеб наш насу́щный даждь нам днесь; и оста́ви нам до́лги на́ша, я́коже и мы оставля́ем должнико́м на́шим; и не введи́ нас во искуше́ние, но изба́ви нас от лука́ваго.</p>

        <h5>Таже тропари, глас 8:</h5>
        
            <p> О́ком благоутро́бным, Го́споди, виждь мое́ смире́ние, я́ко пома́ле жизнь моя́ иждива́ется, и от дел несть мне спасе́ния. Сего́ ра́ди молю́ся: о́ком благоутро́бным, Го́споди, виждь мое́ смире́ние и спаси́ мя.</p>
        
        <p><span class="text-danger">Сла́ва Отцу, и Сы́ну, и Свято́му Ду́ху.</span>  Я́ко Судии́ предстоя́щу, попецы́ся, душе́, и стра́шнаго дне час помышля́й, суд бо неми́лостив есть не сотво́ршым ми́лости. Возопи́й у́бо Христу́ Бо́гу: Сердцеве́дче, согреши́х, пре́жде да́же не осу́диши, поми́луй мя.</p>
        <p><span class="text-danger">И ны́не, и при́сно, и во ве́ки веко́в, ами́нь.</span>  Стра́шнаго Твоего́ и гро́знаго, и неумы́тнаго суда́, Христе́, во уме́ прие́м день и час, трепе́щу, я́ко злоде́й, студа́ дела́ и дея́ния име́яй лю́тая, я́же еди́н аз соде́ях приле́жно. Те́мже стра́хом припа́даю Тебе́, вопия́ боле́зненно: моли́твами ро́ждшия Тя, Многоми́лостиве, спаси́ мя.</p>

        <p>Го́споди, поми́луй (<span class="text-muted">40</span>) <span class="text-muted">и молитва</span>:</p>
        <p>Го́споди Святы́й, И́же в вы́шних живы́й, и всеви́дяшим Твои́м о́ком призира́яй на всю тварь. Тебе́ приклони́хом вы́ю души́ и телесе́, и Тебе́ мо́лимся, Святы́й святы́х: простри́ ру́ку Твою́ неви́димую от свята́го жили́ща Твоего́, и благослови́ вся ны: и а́ще что к Тебе́ согреши́хом во́лею и нево́лею, я́ко Благ и Человеколю́бец Бог прости́, да́руяй нам и ми́рная блага́я Твоя́. Твое́ бо есть, е́же ми́ловати и спаса́ти, Бо́же наш, и Тебе́ сла́ву возсыла́ем, Отцу́ и Сы́ну и Свято́му Ду́ху, ны́не и при́сно, и во ве́ки веко́в, ами́нь.</p>
    </div>
</div>

{% endblock %}

