
{% extends 'wrapper.html' %}
{% block title %}

Кафисма 3

{% endblock %}
{% block main %}

<script>
    $(function() {
        $("#bf-sw").click(function(e) {
            e.preventDefault();
            $("#sp-bf-sw").text(function(i, text) {
                return text === "включить" ? "выключить" : "включить";
            });
            $("#l-content").toggleClass("display-4-1");
            $("h3, h4, h5, h6").toggleClass("display-3-1");
        });
    });
</script>
<p class="text-right d-print-none">
    <i class="fas fa-font"></i> <a href="#" id="bf-sw"><span id="sp-bf-sw">включить</span> крупный шрифт</a>
</p>
<div id="l-content" class="m-3">
    <p><a href="/psalter/">Псалтирь</a></p>
    <h3>Кафи́сма тре́тия</h3>
    <div class="">
        
            <h4>Псалом 17</h4>
            <ul class="list-unstyled">
            
                <li><strong class="text-danger">1</strong> <span class="text-secondary">В коне́ц, о́троку Госпо́дню Дави́ду, я́же глаго́ла Го́сподеви словеса́ пе́сни сея́, в день, во́ньже изба́ви его́ Госпо́дь от ру́ки всех враг его́, и из ру́ки Сау́ли, и рече́:</span></li>
            
                <li><strong class="text-danger">2</strong> Возлюблю́ Тя, Го́споди, кре́посте моя́.</li>
            
                <li><strong class="text-danger">3</strong> Госпо́дь утвержде́ние мое́, и прибе́жище мое́, и Изба́витель Moй, Бог мой, Помо́щник мой, и упова́ю на Него́, Защи́титель мой, и рог спасе́ния моего́, и Засту́пник мой.</li>
            
                <li><strong class="text-danger">4</strong> Хваля́ призову́ Го́спода и от враг мои́х спасу́ся.</li>
            
                <li><strong class="text-danger">5</strong> Одержа́ша мя боле́зни сме́ртныя, и пото́цы беззако́ния смято́ша мя,</li>
            
                <li><strong class="text-danger">6</strong> боле́зни а́довы обыдо́ша мя, предвари́ша мя се́ти сме́ртныя.</li>
            
                <li><strong class="text-danger">7</strong> И внегда́ скорбе́ти ми, призва́х Го́спода, и к Бо́гу моему́ воззва́х, услы́ша от хра́ма Свята́го Своего́ глас мой, и вопль мой пред Ним вни́дет во у́ши Его́.</li>
            
                <li><strong class="text-danger">8</strong> И подви́жеся, и тре́петна бысть земля́, и основа́ния гор смято́шася и подвиго́шася, я́ко прогне́вася на ня Бог.</li>
            
                <li><strong class="text-danger">9</strong> Взы́де дым гне́вом Его́, и огнь от лица́ Его́ воспла́менится, у́глие возгоре́ся от Него́.</li>
            
                <li><strong class="text-danger">10</strong> И приклони́ небеса́, и сни́де, и мрак под нога́ма Его́.</li>
            
                <li><strong class="text-danger">11</strong> И взы́де на Херуви́мы, и лете́, лете́ на крилу́ ве́треню.</li>
            
                <li><strong class="text-danger">12</strong> И положи́ тму закро́в Свой, о́крест Его́ селе́ние Его́, темна́ вода́ во о́блацех возду́шных.</li>
            
                <li><strong class="text-danger">13</strong> От облиста́ния пред Ним о́блацы проидо́ша, град и у́глие о́гненное.</li>
            
                <li><strong class="text-danger">14</strong> И возгреме́ с Небесе́ Госпо́дь и Вы́шний даде́ глас Свой.</li>
            
                <li><strong class="text-danger">15</strong> Низпосла́ стре́лы и разгна́ я́, и мо́лнии умно́жи и смяте́ я́.</li>
            
                <li><strong class="text-danger">16</strong> И яви́шася исто́чницы водни́и, и откры́шася основа́ния вселе́нныя, от запреще́ния Твоего́, Го́споди, от дохнове́ния ду́ха гне́ва Твоего́.</li>
            
                <li><strong class="text-danger">17</strong> Низпосла́ с высоты́, и прия́т мя, восприя́т мя от вод мно́гих.</li>
            
                <li><strong class="text-danger">18</strong> Изба́вит мя от враго́в мои́х си́льных и от ненави́дящих мя, я́ко утверди́шася па́че мене́.</li>
            
                <li><strong class="text-danger">19</strong> Предвари́ша мя в день озлобле́ния моего́, и бысть Госпо́дь утверже́ние мое́.</li>
            
                <li><strong class="text-danger">20</strong> И изведе́ мя на широту́, изба́вит мя, я́ко восхоте́ мя.</li>
            
                <li><strong class="text-danger">21</strong> И возда́ст ми Госпо́дь по пра́вде мое́й и по чистоте́ руку́ мое́ю возда́ст ми.</li>
            
                <li><strong class="text-danger">22</strong> Я́ко сохрани́х пути́ Госпо́дни и не нече́ствовах от Бо́га моего́.</li>
            
                <li><strong class="text-danger">23</strong> Я́ко вся судьбы́ Его́ предо мно́ю и оправда́ния Его́ не отступи́ша от мене́.</li>
            
                <li><strong class="text-danger">24</strong> И бу́ду непоро́чен с Ним, и сохраню́ся от беззако́ния моего́.</li>
            
                <li><strong class="text-danger">25</strong> И возда́ст ми Госпо́дь по пра́вде мое́й и по чистоте́ руку́ мое́ю пред очи́ма Его́.</li>
            
                <li><strong class="text-danger">26</strong> С преподо́бным преподо́бен бу́деши, и с му́жем непови́нным непови́нен бу́деши,</li>
            
                <li><strong class="text-danger">27</strong> и со избра́нным избра́н бу́деши, и со стропти́вым разврати́шися.</li>
            
                <li><strong class="text-danger">28</strong> Я́ко Ты лю́ди смире́нныя спасе́ши и о́чи го́рдых смири́ши.</li>
            
                <li><strong class="text-danger">29</strong> Я́ко Ты просвети́ши свети́льник мой, Го́споди, Бо́же мой, просвети́ши тму мою́.</li>
            
                <li><strong class="text-danger">30</strong> Я́ко Тобо́ю изба́влюся от искуше́ния и Боѓом мои́м прейду́ сте́ну.</li>
            
                <li><strong class="text-danger">31</strong> Бог мой, непоро́чен путь Его́, словеса́ Госпо́дня разжже́на, Защи́титель есть всех упова́ющих на Него́.</li>
            
                <li><strong class="text-danger">32</strong> Я́ко кто бог, ра́зве Го́спода? или́ кто бог, ра́зве Бо́га на́шего?</li>
            
                <li><strong class="text-danger">33</strong> Бог препоясу́яй мя си́лою, и положи́ непоро́чен путь мой.</li>
            
                <li><strong class="text-danger">34</strong> Соверша́яй но́зе мои́, я́ко еле́ни, и на высо́ких поставля́яй мя.</li>
            
                <li><strong class="text-danger">35</strong> Науча́яй ру́це мои́ на брань, и положи́л еси́ лук ме́дян мы́шца моя́.</li>
            
                <li><strong class="text-danger">36</strong> И дал ми еси́ защище́ние спасе́ния, и десни́ца Твоя́ восприя́т мя, и наказа́ние Твое́ испра́вит мя в коне́ц, и наказа́ние Твое́ то мя научи́т.</li>
            
                <li><strong class="text-danger">37</strong> Ушири́л еси́ стопы́ моя́ подо мно́ю, и не изнемого́сте плесне́ мои́.</li>
            
                <li><strong class="text-danger">38</strong> Пожену́ враги́ моя́, и пости́гну я́, и не возвращу́ся, до́ндеже сконча́ются.</li>
            
                <li><strong class="text-danger">39</strong> Оскорблю́ их, и не возмо́гут ста́ти, паду́т под нога́ма мои́ма.</li>
            
                <li><strong class="text-danger">40</strong> И препоя́сал мя еси́ си́лою на брань, спял еси́ вся востаю́щыя на мя под мя.</li>
            
                <li><strong class="text-danger">41</strong> И враго́в мои́х дал ми еси́ хребе́т, и ненави́дящыя мя потреби́л еси́.</li>
            
                <li><strong class="text-danger">42</strong> Воззва́ша, и не бе спаса́яй: ко Го́споду, и не услы́ша их.</li>
            
                <li><strong class="text-danger">43</strong> И истню́ я́ я́ко прах пред лице́м ве́тра, я́ко бре́ние путе́й погла́жду я́.</li>
            
                <li><strong class="text-danger">44</strong> Изба́виши мя от пререка́ния люде́й, поста́виши мя во главу́ язы́ков. Лю́дие, и́хже не ве́дех, рабо́таша ми.</li>
            
                <li><strong class="text-danger">45</strong> В слух у́ха послу́шаша мя. Сы́нове чужди́и солга́ша ми.</li>
            
                <li><strong class="text-danger">46</strong> Сы́нове чужди́и обетша́ша и охромо́ша от стезь свои́х.</li>
            
                <li><strong class="text-danger">47</strong> Жив Госпо́дь, и благослове́н Бог, и да вознесе́тся Бог спасе́ния моего́.</li>
            
                <li><strong class="text-danger">48</strong> Бог дая́й отмще́ние мне и покори́вый лю́ди под мя.</li>
            
                <li><strong class="text-danger">49</strong> Изба́витель мой от враг мои́х гневли́вых, от востаю́щих на мя вознесе́ши мя, от му́жа непра́ведна изба́виши мя.</li>
            
                <li><strong class="text-danger">50</strong> Сего́ ра́ди испове́мся Тебе́ во язы́цех, Го́споди, и и́мени Твоему́ пою́:</li>
            
                <li><strong class="text-danger">51</strong> велича́яй спасе́ния царе́ва, и творя́й ми́лость христу́ Своему́ Дави́ду, и се́мени eго́ до ве́ка.</li>
            
            </ul>
        

        <br/>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <p>Аллилуйя, аллилуйя, аллилуйя, слава Тебе, Боже! (<span class="text-muted">3 раза</span>).</p>
        <p>Господи, помилуй (<span class="text-muted">3 раза</span>).</p>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <br/>
        <h4>Молитва о живых</h4>
        
            Спаси́, Го́споди, и поми́луй раб Твои́х:
            {% if health %}
                {% for n in health %}
                    {% if n.name %}
                    <span class="badge badge-light">{{ n.name }}{% if n.till %} <small class="text-muted">до {{ n.till }}</small>{% endif %}, </span>
                    {% endif %}
                {% endfor %}
            {% else %}
                <small>{% if user.is_authenticated %}<a href="{% url 'mysynodik-edit' %}" class="badge bg-light text-dark">[добавить имена о здравии]</a>{% else %}<a href="{% url 'login' %}?next={{ request.path }}" class="badge bg-light text-dark">[войдите или зарегистрируйтесь, чтобы добавить имена]</a>{% endif %}</small>
            {% endif %}
            и всех правосла́вных христиа́н.<br/>
            <br/>
        

        
            <h4>Псалом 18</h4>
            <ul class="list-unstyled">
            
                <li><strong class="text-danger">1</strong> <span class="text-secondary">В коне́ц, псало́м Дави́ду</span></li>
            
                <li><strong class="text-danger">2</strong> Небеса́ пове́дают сла́ву Бо́жию, творе́ние же руку́ Его́ возвеща́ет твердь.</li>
            
                <li><strong class="text-danger">3</strong> День дни отрыга́ет глаго́л, и нощь но́щи возвеща́ет ра́зум.</li>
            
                <li><strong class="text-danger">4</strong> Не суть ре́чи, ниже́ словеса́, и́хже не слы́шатся гла́си их.</li>
            
                <li><strong class="text-danger">5</strong> Во всю зе́млю изы́де веща́ние их и в концы́ вселе́нныя глаго́лы их. В со́лнце положи́ селе́ние Свое́,</li>
            
                <li><strong class="text-danger">6</strong> и Той, я́ко Жени́х исходя́й от черто́га Своего́, возра́дуется, я́ко Исполи́н тещи́ путь.</li>
            
                <li><strong class="text-danger">7</strong> От кра́я небесе́ исхо́д Его́, и сре́тение Его́ до кра́я небесе́, и несть и́же укры́ется теплоты́ Его́.</li>
            
                <li><strong class="text-danger">8</strong> Зако́н Госпо́день непоро́чен, обраща́яй ду́шы, свиде́тельство Госпо́дне ве́рно, умудря́ющее младе́нцы.</li>
            
                <li><strong class="text-danger">9</strong> Оправда́ния Госпо́дня пра́ва, веселя́щая се́рдце, за́поведь Госпо́дня светла́, просвеща́ющая о́чи.</li>
            
                <li><strong class="text-danger">10</strong> Страх Госпо́день чист, пребыва́яй в век ве́ка: судьбы́ Госпо́дни и́стинны, оправда́ны вку́пе,</li>
            
                <li><strong class="text-danger">11</strong> вожделе́нны па́че зла́та и ка́мене че́стна мно́га, и сла́ждша па́че ме́да и со́та.</li>
            
                <li><strong class="text-danger">12</strong> И́бо раб Твой храни́т я́, внегда́ сохрани́ти я́, воздая́ние мно́го.</li>
            
                <li><strong class="text-danger">13</strong> Грехопаде́ния кто разуме́ет? От та́йных мои́х очи́сти мя,</li>
            
                <li><strong class="text-danger">14</strong> и от чужди́х пощади́ раба́ Твоего́, а́ще не облада́ют мно́ю, тогда́ непоро́чен бу́ду и очи́щуся от греха́ вели́ка.</li>
            
                <li><strong class="text-danger">15</strong> И бу́дут во благоволе́ние словеса́ уст мои́х, и поуче́ние се́рдца моего́ пред Тобо́ю вы́ну, Го́споди, Помо́щниче мой и Изба́вителю мой.</li>
            
            </ul>
        
            <h4>Псалом 19</h4>
            <ul class="list-unstyled">
            
                <li><strong class="text-danger">1</strong> <span class="text-secondary">В коне́ц, псало́м Дави́ду</span></li>
            
                <li><strong class="text-danger">2</strong> Услы́шит тя Госпо́дь в день печа́ли, защи́тит тя и́мя Бо́га Иа́ковля.</li>
            
                <li><strong class="text-danger">3</strong> По́слет ти по́мощь от Свята́го и от Сио́на засту́пит тя.</li>
            
                <li><strong class="text-danger">4</strong> Помяне́т вся́ку же́ртву твою́, и всесожже́ние твое́ ту́чно бу́ди.</li>
            
                <li><strong class="text-danger">5</strong> Даст ти Госпо́дь по се́рдцу твоему́ и весь сове́т твой испо́лнит.</li>
            
                <li><strong class="text-danger">6</strong> Возра́дуемся о спасе́нии твое́м и во и́мя Го́спода Бо́га на́шего возвели́чимся. Испо́лнит Госпо́дь вся проше́ния твоя́.</li>
            
                <li><strong class="text-danger">7</strong> Ны́не позна́х, я́ко спасе́ Госпо́дь христа́ Своего́, услы́шит eго́ с Небесе́ Свята́го Своего́, в си́лах спасе́ние десни́цы Его́.</li>
            
                <li><strong class="text-danger">8</strong> Си́и на колесни́цах, и си́и на ко́нех, мы же во и́мя Го́спода Бо́га на́шего призове́м.</li>
            
                <li><strong class="text-danger">9</strong> Ти́и спя́ти бы́ша и падо́ша, мы же воста́хом и испра́вихомся.</li>
            
                <li><strong class="text-danger">10</strong> Го́споди, спаси́ царя́ и услы́ши ны, во́ньже а́ще день призове́м Тя.</li>
            
            </ul>
        
            <h4>Псалом 20</h4>
            <ul class="list-unstyled">
            
                <li><strong class="text-danger">1</strong> <span class="text-secondary">Псало́м Дави́ду</span></li>
            
                <li><strong class="text-danger">2</strong> Го́споди, си́лою Твое́ю возвесели́тся царь и о спасе́нии Твое́м возра́дуется зело́.</li>
            
                <li><strong class="text-danger">3</strong> Жела́ние се́рдца eго́ дал еси́ eму́, и хоте́ния устну́ eго́ не́си лиши́л eго́.</li>
            
                <li><strong class="text-danger">4</strong> Я́ко предвари́л еси́ eго́ благослове́нием благосты́нным, положи́л еси́ на главе́ eго́ вене́ц от ка́мене че́стна.</li>
            
                <li><strong class="text-danger">5</strong> Живота́ проси́л есть у Тебе́, и дал еси́ eму́ долготу́ дний во век ве́ка.</li>
            
                <li><strong class="text-danger">6</strong> Ве́лия сла́ва eго́ спасе́нием Твои́м, сла́ву и велеле́пие возложи́ши на него́.</li>
            
                <li><strong class="text-danger">7</strong> Я́ко да́си eму́ благослове́ние во век ве́ка, возвесели́ши eго́ ра́достию с лице́м Твои́м.</li>
            
                <li><strong class="text-danger">8</strong> Я́ко царь упова́ет на Го́спода, и ми́лостию Вы́шняго не подви́жится.</li>
            
                <li><strong class="text-danger">9</strong> Да обря́щется рука́ Твоя́ всем враго́м Твои́м, десни́ца Твоя́ да обря́щет вся ненави́дящыя Тебе́.</li>
            
                <li><strong class="text-danger">10</strong> Я́ко положи́ши их я́ко пещь о́гненную во вре́мя лица́ Твоего́, Госпо́дь гне́вом Свои́м смяте́т я́, и сне́сть их огнь.</li>
            
                <li><strong class="text-danger">11</strong> Плод их от земли́ погуби́ши, и се́мя их от сыно́в челове́ческих.</li>
            
                <li><strong class="text-danger">12</strong> Я́ко уклони́ша на Тя зла́я, помы́слиша сове́ты, и́хже не возмо́гут соста́вити.</li>
            
                <li><strong class="text-danger">13</strong> Я́ко положи́ши я́ хребе́т, во избы́тцех Твои́х угото́виши лице́ их.</li>
            
                <li><strong class="text-danger">14</strong> Вознеси́ся, Го́споди, си́лою Твое́ю, воспое́м и пое́м си́лы Твоя́.</li>
            
            </ul>
        

        <br/>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <p>Аллилуйя, аллилуйя, аллилуйя, слава Тебе, Боже! (<span class="text-muted">3 раза</span>).</p>
        <p>Господи, помилуй (<span class="text-muted">3 раза</span>).</p>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <br/>

        <h4>Молитва об усопших</h4>
        
            Упоко́й, Го́споди, ду́ши усо́пших раб Твои́х:
            {% if rip %}
                {% for n in rip %}
                    {% if n.name %}
                    <span class="badge badge-light">{{ n.name }}{% if n.till %} <small class="text-muted">до {{ n.till }}</small>{% endif %}{% if not forloop.last %}, {% endif %}</span>
                    {% endif %}
                {% endfor %}
            {% else %}
            <small>{% if user.is_authenticated %}<a href="{% url 'mysynodik-edit' %}" class="badge bg-light text-dark">[добавить имена о упокоении]</a>{% else %}<a href="{% url 'login' %}?next={{ request.path }}" class="badge bg-light text-dark">[войдите или зарегистрируйтесь, чтобы добавить имена]</a>{% endif %}</small>
            {% endif %}
            и всех правосла́вных христиа́н, и прости́ им вся согреше́ния во́льная и нево́льная, и да́руй им Ца́рствие Небе́сное.<br/>
        
        <br/>

        
            <h4>Псалом 21</h4>
            <ul class="list-unstyled">
            
                <li><strong class="text-danger">1</strong> <span class="text-secondary">В коне́ц, о заступле́нии у́треннем, псало́м Дави́ду</span></li>
            
                <li><strong class="text-danger">2</strong> Бо́же, Бо́же мой, вонми́ ми, вску́ю оста́вил мя еси́? Дале́че от спасе́ния моего́ словеса́ грехопаде́ний мои́х.</li>
            
                <li><strong class="text-danger">3</strong> Бо́же мой, воззову́ во дни, и не услы́шиши, и в нощи́, и не в безу́мие мне.</li>
            
                <li><strong class="text-danger">4</strong> Ты же во Святе́м живе́ши, хвало́ Изра́илева.</li>
            
                <li><strong class="text-danger">5</strong> На Тя упова́ша отцы́ на́ши, упова́ша и изба́вил еси́ я́.</li>
            
                <li><strong class="text-danger">6</strong> К Тебе́ воззва́ша, и спасо́шася, на Тя упова́ша, и не постыде́шася.</li>
            
                <li><strong class="text-danger">7</strong> Аз же есмь червь, а не челове́к, поноше́ние челове́ков и уничиже́ние люде́й.</li>
            
                <li><strong class="text-danger">8</strong> Вси ви́дящии мя поруга́ша ми ся, глаго́лаша устна́ми, покива́ша главо́ю:</li>
            
                <li><strong class="text-danger">9</strong> упова́ на Го́спода, да изба́вит eго́, да спасе́т eго́, я́ко хо́щет eго́.</li>
            
                <li><strong class="text-danger">10</strong> Я́ко Ты еси́ исто́ргий мя из чре́ва, упова́ние мое́ от сосцу́ ма́тере моея́.</li>
            
                <li><strong class="text-danger">11</strong> К Тебе́ приве́ржен есмь от ложе́сн, от чре́ва ма́тере моея́ Бог мой еси́ Ты.</li>
            
                <li><strong class="text-danger">12</strong> Да не отсту́пиши от мене́, я́ко скорбь близ, я́ко несть помога́яй ми.</li>
            
                <li><strong class="text-danger">13</strong> Обыдо́ша мя тельцы́ мно́зи, юнцы́ ту́чнии одержа́ша мя.</li>
            
                <li><strong class="text-danger">14</strong> Отверзо́ша на мя уста́ своя́, я́ко лев восхища́яй и рыка́яй.</li>
            
                <li><strong class="text-danger">15</strong> Я́ко вода́ излия́хся, и разсы́пашася вся ко́сти моя́, бысть се́рдце мое́ я́ко воск, та́яй посреде́ чре́ва моего́.</li>
            
                <li><strong class="text-danger">16</strong> И́зсше я́ко скуде́ль кре́пость моя́, и язы́к мой прильпе́ горта́ни моему́, и в персть сме́рти свел мя еси́.</li>
            
                <li><strong class="text-danger">17</strong> Я́ко обыдо́ша мя пси мно́зи, сонм лука́вых одержа́ша мя, ископа́ша ру́це мои́ и но́зе мои́.</li>
            
                <li><strong class="text-danger">18</strong> Исчето́ша вся ко́сти моя́, ти́и же смотри́ша и презре́ша мя.</li>
            
                <li><strong class="text-danger">19</strong> Раздели́ша ри́зы моя́ себе́, и о оде́жди мое́й мета́ша жре́бий.</li>
            
                <li><strong class="text-danger">20</strong> Ты же, Го́споди, не удали́ по́мощь Твою́ от мене́, на заступле́ние мое́ вонми́.</li>
            
                <li><strong class="text-danger">21</strong> Изба́ви от ору́жия ду́шу мою́, и из руки́ пе́сии единоро́дную мою́.</li>
            
                <li><strong class="text-danger">22</strong> Спаси́ мя от уст льво́вых и от рог единоро́жь смире́ние мое́.</li>
            
                <li><strong class="text-danger">23</strong> Пове́м и́мя Твое́ бра́тии мое́й, посреде́ це́ркве воспою́ Тя.</li>
            
                <li><strong class="text-danger">24</strong> Боя́щиися Го́спода, восхвали́те Его́, все се́мя Иа́ковле, просла́вите Его́, да убои́тся же от Него́ все се́мя Изра́илево.</li>
            
                <li><strong class="text-danger">25</strong> Я́ко не уничижи́, ниже́ негодова́ моли́твы ни́щаго, ниже́ отврати́ лице́ Свое́ от мене́, и егда́ воззва́х к Нему́, услы́ша мя.</li>
            
                <li><strong class="text-danger">26</strong> От Тебе́ похвала́ моя́, в це́ркви вели́цей испове́мся Тебе́, моли́твы моя́ возда́м пред боя́щимися Его́.</li>
            
                <li><strong class="text-danger">27</strong> Ядя́т убо́зии и насы́тятся, и восхва́лят Го́спода взыска́ющии Его́, жива́ бу́дут сердца́ их в век ве́ка.</li>
            
                <li><strong class="text-danger">28</strong> Помяну́тся и обратя́тся ко Го́споду вси концы́ земли́, и покло́нятся пред Ним вся оте́чествия язы́к.</li>
            
                <li><strong class="text-danger">29</strong> Я́ко Госпо́дне есть ца́рствие, и Той облада́ет язы́ки.</li>
            
                <li><strong class="text-danger">30</strong> Ядо́ша и поклони́шася вси ту́чнии земли́, пред Ним припаду́т вси низходя́щии в зе́млю, и душа́ моя́ Тому́ живе́т.</li>
            
                <li><strong class="text-danger">31</strong> И се́мя мое́ порабо́тает Ему́, возвести́т Го́сподеви род гряду́щий.</li>
            
                <li><strong class="text-danger">32</strong> И возвестя́т пра́вду Его́ лю́дем ро́ждшымся, я́же сотвори́ Госпо́дь.</li>
            
            </ul>
        
            <h4>Псалом 22</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Псало́м Дави́ду</span></li>
            
                <li><strong class="text-danger">1</strong> Госпо́дь пасе́т мя, и ничто́же мя лиши́т.</li>
            
                <li><strong class="text-danger">2</strong> На ме́сте зла́чне, та́мо всели́ мя, на воде́ поко́йне воспита́ мя.</li>
            
                <li><strong class="text-danger">3</strong> Ду́шу мою́ обрати́, наста́ви мя на стези́ пра́вды, и́мене ра́ди Своего́.</li>
            
                <li><strong class="text-danger">4</strong> А́ще бо и пойду́ посреде́ се́ни сме́ртныя, не убою́ся зла, я́ко Ты со мно́ю еси́, жезл Твой и па́лица Твоя́, та мя уте́шиста.</li>
            
                <li><strong class="text-danger">5</strong> Угото́вал еси́ предо мно́ю трапе́зу сопроти́в стужа́ющым мне, ума́стил еси́ еле́ом главу́ мою́, и ча́ша Твоя́ упоява́ющи мя, я́ко держа́вна.</li>
            
                <li><strong class="text-danger">6</strong> И ми́лость Твоя́ пожене́т мя вся дни живота́ моего́, и е́же всели́ти ми ся в дом Госпо́день, в долготу́ дний.</li>
            
            </ul>
        
            <h4>Псалом 23</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Псало́м Дави́ду, еди́ныя от суббо́т</span></li>
            
                <li><strong class="text-danger">1</strong> Госпо́дня земля́, и исполне́ние ея́, вселе́нная и вси живу́щии на ней.</li>
            
                <li><strong class="text-danger">2</strong> Той на моря́х основа́л ю есть, и на река́х угото́вал ю есть.</li>
            
                <li><strong class="text-danger">3</strong> Кто взы́дет на го́ру Госпо́дню? или́ кто ста́нет на ме́сте святе́м Его́?</li>
            
                <li><strong class="text-danger">4</strong> Непови́нен рука́ма и чист се́рдцем, и́же не прия́т всу́е ду́шу свою́, и не кля́тся ле́стию и́скреннему своему́.</li>
            
                <li><strong class="text-danger">5</strong> Сей прии́мет благослове́ние от Го́спода, и ми́лостыню от Бо́га, Спа́са своего́.</li>
            
                <li><strong class="text-danger">6</strong> Сей род и́щущих Го́спода, и́щущих лице́ Бо́га Иа́ковля.</li>
            
                <li><strong class="text-danger">7</strong> Возми́те врата́ кня́зи ва́ша, и возми́теся врата́ ве́чная, и вни́дет Царь сла́вы.</li>
            
                <li><strong class="text-danger">8</strong> Кто есть се́й Царь сла́вы? Госпо́дь кре́пок и си́лен, Госпо́дь си́лен в бра́ни.</li>
            
                <li><strong class="text-danger">9</strong> Возми́те врата́ кня́зи ва́ша, и возми́теся врата́ ве́чная, и вни́дет Царь сла́вы.</li>
            
                <li><strong class="text-danger">10</strong> Кто есть се́й Царь сла́вы? Госпо́дь сил, Той есть Царь сла́вы.</li>
            
            </ul>
        

        <br/>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <p>Аллилуйя, аллилуйя, аллилуйя, слава Тебе, Боже! (<span class="text-muted">3 раза</span>).</p>
        <p>Господи, помилуй (<span class="text-muted">3 раза</span>).</p>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <br/>

        <h4>По 3–й кафисме:</h4>

        <p>Святы́й Бо́же, Святы́й Кре́пкий, Святы́й Безсме́ртный, поми́луй нас. (<span class="text-muted">Tрижды</span>)</p>
        <p>Сла́ва Отцу́ и Сы́ну и Свято́му Ду́ху, и ны́не и при́сно и во ве́ки веко́в. Ами́нь.</p>
        <p>Пресвята́я Тро́ице, поми́луй нас; Го́споди, очи́сти грехи́ на́ша; Влады́ко, прости́ беззако́ния на́ша; Святы́й, посети́ и исцели́ не́мощи на́ша, и́мене Твоего́ ра́ди.</p>
        <p>Го́споди, поми́луй. (<span class="text-muted">Трижды</span>)</p>
        <p>Сла́ва Отцу́ и Сы́ну и Свято́му Ду́ху, и ны́не и при́сно и во ве́ки веко́в. Ами́нь.</p>
        <p>О́тче наш, И́же еси́ на небесе́х! Да святи́тся и́мя Твое́, да прии́дет Ца́рствие Твое́, да бу́дет во́ля Твоя́, я́ко на небеси́ и на земли́. Хлеб наш насу́щный даждь нам днесь; и оста́ви нам до́лги на́ша, я́коже и мы оставля́ем должнико́м на́шим; и не введи́ нас во искуше́ние, но изба́ви нас от лука́ваго.</p>

        <h5>Таже тропари, глас 3:</h5>
        
            <p> Живу́щи на земли́, душе́ моя́, пока́йся: персть во гро́бе не пое́т, прегреше́ний не избавля́ет. Возопи́й Христу́ Бо́гу: Сердцеве́дче, согреши́х, пре́жде да́же не осу́диши мя, поми́луй мя.</p>
        
            <p>Доко́ле, душе́ моя́, пребыва́еши в прегреше́ниих? Доко́ле прие́млеши покая́ния преложе́ние? Приими́ во уме́ суд гряду́щий и возопи́й Го́споду: Сердцеве́дче, согреши́х, пре́жде да́же не осу́диши мя, поми́луй мя.</p>
        
        <p><span class="text-danger">Сла́ва Отцу, и Сы́ну, и Свято́му Ду́ху.</span>  На Стра́шном суди́щи без оглаго́льников облича́юся, без свиде́телей осужда́юся, кни́ги бо со́вестныя разгиба́ются, и дела́ сокрове́нная открыва́ются. Пре́жде не́же во о́ном всенаро́дном позо́рищи и́маши испыта́ти, я́же мно́ю соде́янная, Бо́же, очи́сти мя и спаси́ мя.</p>
        <p><span class="text-danger">И ны́не, и при́сно, и во ве́ки веко́в, ами́нь.</span>  Недоразумева́емое и непостижи́мое есть, Влады́чице Богоблагода́тная, соде́янное о Тебе́ стра́шное та́инство: Необъе́млемаго бо, заче́нши, родила́ еси́ пло́тию, обложе́ннаго от чи́стых крове́й Твои́х: Его́же, Чи́стая, я́ко Сы́на Твоего́, моли́ спасти́ вся пою́щыя Тя.</p>

        <p>Го́споди, поми́луй (<span class="text-muted">40</span>) <span class="text-muted">и молитва</span>:</p>
        <p>Го́споди Вседержи́телю, Сло́ве Пребезнача́льнаго Отца́, Самосоверше́нный Бо́же Иису́се Христе́, милосе́рдия ра́ди безприкла́днаго ми́лости Твоея́, ника́коже разлуча́яйся Твои́х рабо́в, но при́сно в них почива́яй, не оста́ви мя, раба́ Твоего́, Всесвяты́й Царю́, но даждь мне, недосто́йному, ра́дование спасе́ния Твоего́ и просвети́ мой ум све́том позна́ния Ева́нгелиа Твоего́, ду́шу мою́ любо́вию Креста́ Твоего́ обяжи́, те́ло же мое́ Твои́м безстра́стием украси́, мы́сли умири́ и но́зе мои́ сохрани́ от поползнове́ния, и не погуби́ мя со беззако́ньми мои́ми, Благи́й Го́споди, но искуси́ мя, Бо́же, и вразуми́ се́рдце мое́, испыта́й мя и уве́ждь стези́ моя́, и виждь, а́ще путь беззако́ния во мне, и отврати́ от него́, и наста́ви мя на путь ве́чен. Ты бо еси́ Путь, и И́стина, и Живо́т, и Тебе́ сла́ву возсыла́ем со Безнача́льным Твои́м Отце́м и Пресвяты́м, и Благи́м, и Животворя́щим Ду́хом ны́не и при́сно и во ве́ки веко́в, ами́нь.</p>
    </div>
</div>

{% endblock %}

