
{% extends 'wrapper.html' %}
{% block title %}

Кафисма 15

{% endblock %}
{% block main %}

<script>
    $(function() {
        $("#bf-sw").click(function(e) {
            e.preventDefault();
            $("#sp-bf-sw").text(function(i, text) {
                return text === "включить" ? "выключить" : "включить";
            });
            $("#l-content").toggleClass("display-4-1");
            $("h3, h4, h5, h6").toggleClass("display-3-1");
        });
    });
</script>
<p class="text-right d-print-none">
    <i class="fas fa-font"></i> <a href="#" id="bf-sw"><span id="sp-bf-sw">включить</span> крупный шрифт</a>
</p>
<div id="l-content" class="m-3">
    <p><a href="/psalter/">Псалтирь</a></p>
    <h3>Кафи́сма пятаяна́десять</h3>
    <div class="">
        
            <h4>Псалом 105</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Аллилу́иа</span></li>
            
                <li><strong class="text-danger">1</strong> Испове́дайтеся Го́сподеви, я́ко Благ, я́ко в век ми́лость. Его́.</li>
            
                <li><strong class="text-danger">2</strong> Кто возглаго́лет си́лы Госпо́дни? Слы́шаны сотвори́т вся хвалы́ Его́?</li>
            
                <li><strong class="text-danger">3</strong> Блаже́ни храня́щии суд и творя́щии пра́вду во вся́кое вре́мя.</li>
            
                <li><strong class="text-danger">4</strong> Помяни́ нас, Го́споди, во благоволе́нии люде́й Твои́х, посети́ нас спасе́нием Твои́м.</li>
            
                <li><strong class="text-danger">5</strong> Ви́дети во бла́гости избра́нныя Твоя́, возвесели́тися в весе́лии язы́ка Твоего́, хвали́тися с достоя́нием Твои́м.</li>
            
                <li><strong class="text-danger">6</strong> Согреши́хом со отцы́ на́шими, беззако́нновахом, непра́вдовахом.</li>
            
                <li><strong class="text-danger">7</strong> Отцы́ на́ши во Еги́пте не разуме́ша чуде́с Твои́х, ни помяну́ша мно́жества ми́лости Твоея́ и преогорчи́ша восходя́ще в Чермно́е мо́ре.</li>
            
                <li><strong class="text-danger">8</strong> И спасе́ их и́мене Своего́ ра́ди, сказа́ти си́лу Свою́,</li>
            
                <li><strong class="text-danger">9</strong> и запрети́ Чермно́му мо́рю, и изся́че, и наста́ви я́ в без́дне, я́ко в пусты́ни.</li>
            
                <li><strong class="text-danger">10</strong> И спасе́ я́ из руки́ ненави́дящих, и изба́ви я́ из руки́ враго́в.</li>
            
                <li><strong class="text-danger">11</strong> Покры́ вода́ стужа́ющыя им, ни еди́н от них избы́сть.</li>
            
                <li><strong class="text-danger">12</strong> И ве́роваша словеси́ Его́, и воспе́ша хвалу́ Его́.</li>
            
                <li><strong class="text-danger">13</strong> Ускори́ша, забы́ша дела́ Его́, не стерпе́ша сове́та Его́</li>
            
                <li><strong class="text-danger">14</strong> и похоте́ша жела́нию в пусты́ни, и искуси́ша Бо́га в безво́дней.</li>
            
                <li><strong class="text-danger">15</strong> И даде́ им проше́ние их, посла́ сы́тость в ду́шы их.</li>
            
                <li><strong class="text-danger">16</strong> И прогне́ваша Моисе́а в стану́, Ааро́на свята́го Госпо́дня.</li>
            
                <li><strong class="text-danger">17</strong> Отве́рзеся земля́ и пожре́ Дафа́на, и покры́ на со́нмищи Авиро́на,</li>
            
                <li><strong class="text-danger">18</strong> и разжже́ся огнь в со́нме их, пла́мень попали́ гре́шники.</li>
            
                <li><strong class="text-danger">19</strong> И сотвори́ша тельца́ в Хори́ве, и поклони́шася истука́нному,</li>
            
                <li><strong class="text-danger">20</strong> и измени́ша сла́ву Его́ в подо́бие тельца́ яду́щаго траву́,</li>
            
                <li><strong class="text-danger">22</strong> чудеса́ в земли́ Ха́мове, стра́шная в мо́ри Чермне́м.</li>
            
                <li><strong class="text-danger">23</strong> И рече́ потреби́ти их, а́ще не бы Моисе́й, избра́нный Его́, стал в сокруше́нии пред Ним, возврати́ти я́рость Его́, да не погуби́т их.</li>
            
                <li><strong class="text-danger">24</strong> И уничижи́ша зе́млю жела́нную, не я́ша ве́ры словеси́ Его́,</li>
            
                <li><strong class="text-danger">25</strong> и поропта́ша в селе́ниих свои́х, не услы́шаша гла́са Госпо́дня.</li>
            
                <li><strong class="text-danger">26</strong> И воздви́же ру́ку Свою́ на ня, низложи́ти я́ в пусты́ни.</li>
            
                <li><strong class="text-danger">27</strong> И низложи́ти се́мя их во язы́цех, и расточи́ти я́ в страны́.</li>
            
                <li><strong class="text-danger">28</strong> И причасти́шася Веельфего́ру, и снедо́ша же́ртвы ме́ртвых.</li>
            
                <li><strong class="text-danger">29</strong> И раздражи́ша Eго́ в начина́ниих свои́х, и умно́жися в них паде́ние.</li>
            
                <li><strong class="text-danger">30</strong> И ста Финее́с, и уми́лостиви, и преста́ сечь.</li>
            
                <li><strong class="text-danger">31</strong> И вмени́ся eму́ в пра́вду, в род и род до ве́ка.</li>
            
                <li><strong class="text-danger">32</strong> И прогне́ваша Его́ на воде́ пререка́ния, и озло́блен бысть Моисе́й их ра́ди,</li>
            
                <li><strong class="text-danger">33</strong> я́ко преогорчи́ша дух eго́ и ра́знствова устна́ма свои́ма.</li>
            
                <li><strong class="text-danger">34</strong> Не потреби́ша язы́ки, я́же рече́ Госпо́дь им,</li>
            
                <li><strong class="text-danger">35</strong> и смеси́шася во язы́цех, и навыко́ша дело́м их.</li>
            
                <li><strong class="text-danger">36</strong> И порабо́таша истука́нным их, и бысть им в собла́зн,</li>
            
                <li><strong class="text-danger">37</strong> и пожро́ша сы́ны своя́ и дще́ри своя́ бесово́м,</li>
            
                <li><strong class="text-danger">38</strong> и пролия́ша кровь непови́нную, кровь сыно́в свои́х и дще́рей, я́же пожро́ша истука́нным ханаа́нским, и убие́на бысть земля́ их кровьми́,</li>
            
                <li><strong class="text-danger">39</strong> и оскверни́ся в де́лех их, и соблуди́ша в начина́ниих свои́х.</li>
            
                <li><strong class="text-danger">40</strong> И разгне́вася я́ростию Госпо́дь на лю́ди Своя́, и омерзи́ достоя́ние Свое́,</li>
            
                <li><strong class="text-danger">41</strong> и предаде́ я́ в ру́ки враго́в, и облада́ша и́ми ненави́дящии их.</li>
            
                <li><strong class="text-danger">42</strong> И стужи́ша им врази́ их, и смири́шася под рука́ми их.</li>
            
                <li><strong class="text-danger">43</strong> Мно́жицею изба́ви я́, ти́и же преогорчи́ша Его́ сове́том свои́м и смири́шася в беззако́ниих свои́х.</li>
            
                <li><strong class="text-danger">44</strong> И ви́де Госпо́дь, внегда́ скорбе́ти им, внегда́ услы́шаше моле́ние их.</li>
            
                <li><strong class="text-danger">45</strong> И помяну́ заве́т Свой, и раска́яся по мно́жеству ми́лости Своея́,</li>
            
                <li><strong class="text-danger">46</strong> и даде́ я́ в щедро́ты пред все́ми плени́вшими я́.</li>
            
                <li><strong class="text-danger">47</strong> Спаси́ ны, Го́споди Бо́же наш, и собери́ ны от язы́к испове́датися и́мени Твоему́ свято́му, хвали́тися во хвале́ Твое́й.</li>
            
                <li><strong class="text-danger">48</strong> Благослове́н Госпо́дь Бог Изра́илев от ве́ка и до ве́ка. И реку́т вси лю́дие: бу́ди, бу́ди.</li>
            
            </ul>
        

        <br/>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <p>Аллилуйя, аллилуйя, аллилуйя, слава Тебе, Боже! (<span class="text-muted">3 раза</span>).</p>
        <p>Господи, помилуй (<span class="text-muted">3 раза</span>).</p>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <br/>
        <h4>Молитва о живых</h4>
        
            Спаси́, Го́споди, и поми́луй раб Твои́х:
            {% if health %}
                {% for n in health %}
                    {% if n.name %}
                    <span class="badge badge-light">{{ n.name }}{% if n.till %} <small class="text-muted">до {{ n.till }}</small>{% endif %}, </span>
                    {% endif %}
                {% endfor %}
            {% else %}
                <small>{% if user.is_authenticated %}<a href="{% url 'mysynodik-edit' %}" class="badge bg-light text-dark">[добавить имена о здравии]</a>{% else %}<a href="{% url 'login' %}?next={{ request.path }}" class="badge bg-light text-dark">[войдите или зарегистрируйтесь, чтобы добавить имена]</a>{% endif %}</small>
            {% endif %}
            и всех правосла́вных христиа́н.<br/>
            <br/>
        

        
            <h4>Псалом 106</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Аллилу́иа</span></li>
            
                <li><strong class="text-danger">1</strong> Испове́дайтеся Го́сподеви, я́ко Благ, я́ко в век ми́лость Его́.</li>
            
                <li><strong class="text-danger">2</strong> Да реку́т изба́влении Го́сподем, и́хже изба́ви из руки́ врага́</li>
            
                <li><strong class="text-danger">3</strong> и от стран собра́ их, от восто́к и за́пад, и се́вера, и мо́ря.</li>
            
                <li><strong class="text-danger">4</strong> Заблуди́ша в пусты́ни безво́дней, пути́ гра́да оби́тельнаго не обрето́ша.</li>
            
                <li><strong class="text-danger">5</strong> А́лчуще и жа́ждуще, душа́ их в них исчезе́.</li>
            
                <li><strong class="text-danger">6</strong> И воззва́ша ко Го́споду, внегда́ скорбе́ти им, и от нужд их изба́ви я́,</li>
            
                <li><strong class="text-danger">7</strong> и наста́ви я́ на путь прав, вни́ти во град оби́тельный.</li>
            
                <li><strong class="text-danger">8</strong> Да испове́дятся Го́сподеви ми́лости Его́, и чудеса́ Его́ сыново́м челове́ческим,</li>
            
                <li><strong class="text-danger">9</strong> я́ко насы́тил есть ду́шу тщу и ду́шу а́лчущу испо́лни благ.</li>
            
                <li><strong class="text-danger">10</strong> Седя́щыя во тьме и се́ни сме́ртней, окова́нныя нище́тою и желе́зом,</li>
            
                <li><strong class="text-danger">11</strong> я́ко преогорчи́ша словеса́ Бо́жия и сове́т Вы́шняго раздражи́ша.</li>
            
                <li><strong class="text-danger">12</strong> И смири́ся в труде́х се́рдце их, и изнемого́ша, и не бе помога́яй.</li>
            
                <li><strong class="text-danger">13</strong> И воззва́ша ко Го́споду, внегда́ скорбе́ти им, и от нужд их спасе́ я́,</li>
            
                <li><strong class="text-danger">14</strong> и изведе́ я́ из тьмы и се́ни сме́ртныя, и у́зы их растерза́.</li>
            
                <li><strong class="text-danger">15</strong> Да испове́дятся Го́сподеви ми́лости Его́, и чудеса́ Его́ сыново́м челове́ческим,</li>
            
                <li><strong class="text-danger">16</strong> я́ко сокруши́ врата́ ме́дная и вереи́ желе́зныя сломи́.</li>
            
                <li><strong class="text-danger">17</strong> Восприя́т я́ от пути́ беззако́ния их, беззако́ний бо ра́ди свои́х смири́шася.</li>
            
                <li><strong class="text-danger">18</strong> Вся́каго бра́шна возгнуша́ся душа́ их, и прибли́жишася до врат сме́ртных.</li>
            
                <li><strong class="text-danger">19</strong> И воззва́ша ко Го́споду, внегда́ скорбе́ти им, и от нужд их спасе́ я́,</li>
            
                <li><strong class="text-danger">20</strong> посла́ сло́во Свое́ и исцели́ я́, и изба́ви я́ от растле́ний их.</li>
            
                <li><strong class="text-danger">21</strong> Да испове́дятся Го́сподеви ми́лости Его́, и чудеса́ Его́ сыново́м челове́ческим,</li>
            
                <li><strong class="text-danger">22</strong> и да пожру́т Ему́ же́ртву хвалы́, и да возвестя́т дела́ Его́ в ра́дости.</li>
            
                <li><strong class="text-danger">23</strong> Сходя́щии в мо́ре в корабля́х, творя́щии де́лания в вода́х мно́гих,</li>
            
                <li><strong class="text-danger">24</strong> ти́и ви́деша дела́ Госпо́дня и чудеса́ Его́ во глубине́.</li>
            
                <li><strong class="text-danger">25</strong> Рече́, и ста дух бу́рен, и вознесо́шася во́лны eго́,</li>
            
                <li><strong class="text-danger">26</strong> восхо́дят до небе́с и низхо́дят до бездн, душа́ их в злых та́яше:</li>
            
                <li><strong class="text-danger">27</strong> смято́шася, подвиго́шася, я́ко пия́ный, и вся му́дрость их поглощена́ бысть.</li>
            
                <li><strong class="text-danger">28</strong> И воззва́ша ко Го́споду, внегда́ скорбе́ти им, и от нужд их изведе́ я́,</li>
            
                <li><strong class="text-danger">29</strong> и повеле́ бу́ри, и ста в тишину́, и умолко́ша во́лны eго́.</li>
            
                <li><strong class="text-danger">30</strong> И возвесели́шася, я́ко умолко́ша, и наста́ви я́ в приста́нище хоте́ния своего́.</li>
            
                <li><strong class="text-danger">31</strong> Да испове́дятся Го́сподеви ми́лости Его́, и чудеса́ Его́ сыново́м челове́ческим:</li>
            
                <li><strong class="text-danger">32</strong> да вознесу́т Его́ в це́ркви людсте́й и на седа́лищи ста́рец восхва́лят Его́.</li>
            
                <li><strong class="text-danger">33</strong> Положи́л есть ре́ки в пусты́ню, и исхо́дища водна́я в жа́жду,</li>
            
                <li><strong class="text-danger">34</strong> зе́млю плодоно́сную в сла́ность, от зло́бы живу́щих на ней.</li>
            
                <li><strong class="text-danger">35</strong> Положи́л есть пусты́ню во езе́ра водна́я и зе́млю безво́дную во исхо́дища водна́я.</li>
            
                <li><strong class="text-danger">36</strong> И насели́ та́мо а́лчущыя, и соста́виша гра́ды оби́тельны,</li>
            
                <li><strong class="text-danger">37</strong> и насе́яша се́ла, и насади́ша виногра́ды, и сотвори́ша плод жи́тен.</li>
            
                <li><strong class="text-danger">38</strong> И благослови́ я́, и умно́жишася зело́, и скоты́ их не ума́ли.</li>
            
                <li><strong class="text-danger">39</strong> И ума́лишася, и озло́бишася от ско́рби зол и боле́зни.</li>
            
                <li><strong class="text-danger">40</strong> Излия́ся уничиже́ние на кня́зи их, и облазни́ я́ по непрохо́дней, а не по пути́.</li>
            
                <li><strong class="text-danger">41</strong> И помо́же убо́гу от нищеты́ и положи́ я́ко о́вцы оте́чествия.</li>
            
                <li><strong class="text-danger">42</strong> У́зрят пра́вии и возвеселя́тся, и вся́кое беззако́ние загради́т уста́ своя́.</li>
            
                <li><strong class="text-danger">43</strong> Кто прему́др и сохрани́т сия́? И уразуме́ют ми́лости Госпо́дни.</li>
            
            </ul>
        

        <br/>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <p>Аллилуйя, аллилуйя, аллилуйя, слава Тебе, Боже! (<span class="text-muted">3 раза</span>).</p>
        <p>Господи, помилуй (<span class="text-muted">3 раза</span>).</p>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <br/>

        <h4>Молитва об усопших</h4>
        
            Упоко́й, Го́споди, ду́ши усо́пших раб Твои́х:
            {% if rip %}
                {% for n in rip %}
                    {% if n.name %}
                    <span class="badge badge-light">{{ n.name }}{% if n.till %} <small class="text-muted">до {{ n.till }}</small>{% endif %}{% if not forloop.last %}, {% endif %}</span>
                    {% endif %}
                {% endfor %}
            {% else %}
            <small>{% if user.is_authenticated %}<a href="{% url 'mysynodik-edit' %}" class="badge bg-light text-dark">[добавить имена о упокоении]</a>{% else %}<a href="{% url 'login' %}?next={{ request.path }}" class="badge bg-light text-dark">[войдите или зарегистрируйтесь, чтобы добавить имена]</a>{% endif %}</small>
            {% endif %}
            и всех правосла́вных христиа́н, и прости́ им вся согреше́ния во́льная и нево́льная, и да́руй им Ца́рствие Небе́сное.<br/>
        
        <br/>

        
            <h4>Псалом 107</h4>
            <ul class="list-unstyled">
            
                <li><strong class="text-danger">1</strong> <span class="text-secondary">Песнь, псало́м Дави́ду</span></li>
            
                <li><strong class="text-danger">2</strong> Гото́во се́рдце мое́, Бо́же, гото́во се́рдце мое́: воспою́ и пою́ во сла́ве мое́й.</li>
            
                <li><strong class="text-danger">3</strong> Воста́ни сла́ва моя́, воста́ни псалти́рю и гу́сли, воста́ну ра́но.</li>
            
                <li><strong class="text-danger">4</strong> Испове́мся Тебе́ в лю́дех, Го́споди, пою́ Тебе́ во язы́цех.</li>
            
                <li><strong class="text-danger">5</strong> Я́ко ве́лия верху́ небе́с ми́лость Твоя́ и до о́блак и́стина Твоя́.</li>
            
                <li><strong class="text-danger">6</strong> Вознеси́ся на Небеса́, Бо́же, и пo всей земли́ сла́ва Твоя́,</li>
            
                <li><strong class="text-danger">7</strong> я́ко да изба́вятся возлю́бленнии Твои́: спаси́ десни́цею Твое́ю и услы́ши мя.</li>
            
                <li><strong class="text-danger">8</strong> Бог возглаго́ла во святе́м Свое́м: вознесу́ся и разделю́ Сики́му, и удо́ль селе́ний разме́рю.</li>
            
                <li><strong class="text-danger">9</strong> Мой есть Галаа́д и Мой есть Манасси́й, и Ефре́м заступле́ние главы́ Моея́, Иу́да царь Мой.</li>
            
                <li><strong class="text-danger">10</strong> Моа́в коно́б упова́ния Моего́, на Идуме́ю наложу́ сапо́г Мой: Мне иноплеме́нницы покори́шася.</li>
            
                <li><strong class="text-danger">11</strong> Кто введе́т мя во град огражде́ния? Или́ кто наста́вит мя до Идуме́и?</li>
            
                <li><strong class="text-danger">12</strong> Не Ты ли, Бо́же, отри́нувый нас? И не изы́деши, Бо́же, в си́лах на́ших?</li>
            
                <li><strong class="text-danger">13</strong> Даждь нам по́мощь от ско́рби, и су́етно спасе́ние челове́ческо.</li>
            
                <li><strong class="text-danger">14</strong> О Бо́зе сотвори́м си́лу, и Той уничижи́т враги́ на́ша.</li>
            
            </ul>
        
            <h4>Псалом 108</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">В коне́ц, псало́м Дави́ду</span></li>
            
                <li><strong class="text-danger">1</strong> Бо́же, хвалы́ моея́ не премолчи́,</li>
            
                <li><strong class="text-danger">2</strong> я́ко уста́ гре́шнича и уста́ льсти́ваго на мя отверзо́шася, глаго́лаша на мя язы́ком льсти́вым,</li>
            
                <li><strong class="text-danger">3</strong> и словесы́ ненави́стными обыдо́ша мя, и бра́шася со мно́ю ту́не.</li>
            
                <li><strong class="text-danger">4</strong> Вме́сто е́же люби́ти мя, оболга́ху мя, аз же моля́хся,</li>
            
                <li><strong class="text-danger">5</strong> и положи́ша на мя зла́я за блага́я, и не́нависть за возлюбле́ние мое́.</li>
            
                <li><strong class="text-danger">6</strong> Поста́ви на него́ гре́шника, и диа́вол да ста́нет одесну́ю eго́.</li>
            
                <li><strong class="text-danger">7</strong> Внегда́ суди́тися eму́, да изы́дет осужде́н, и моли́тва eго́ да бу́дет в грех.</li>
            
                <li><strong class="text-danger">8</strong> Да бу́дут дни́е eго́ ма́ли, и епи́скопство eго́ да прии́мет ин:</li>
            
                <li><strong class="text-danger">9</strong> да бу́дут сы́нове eго́ си́ри, и жена́ eго́ вдова́:</li>
            
                <li><strong class="text-danger">10</strong> дви́жущеся да преселя́тся сы́нове eго́ и воспро́сят, да изгна́ни бу́дут из домо́в свои́х.</li>
            
                <li><strong class="text-danger">11</strong> Да взы́щет заимода́вец вся, ели́ка суть eго́, и да восхи́тят чужди́и труды́ eго́.</li>
            
                <li><strong class="text-danger">12</strong> Да не бу́дет eму́ засту́пника, ниже́ да бу́дет ущедря́яй сироты́ eго́.</li>
            
                <li><strong class="text-danger">13</strong> Да бу́дут ча́да eго́ в погубле́ние, в ро́де еди́ном да потреби́тся и́мя eго́.</li>
            
                <li><strong class="text-danger">14</strong> Да воспомяне́тся беззако́ние оте́ц eго́ пред Го́сподем, и грех ма́тере eго́ да не очи́стится.</li>
            
                <li><strong class="text-danger">15</strong> Да бу́дут пред Го́сподем вы́ну и да потреби́тся от земли́ па́мять их.</li>
            
                <li><strong class="text-danger">16</strong> Зане́же не помяну́ сотвори́ти ми́лость, и погна́ челове́ка ни́ща и убо́га, и умиле́на се́рдцем умертви́ти.</li>
            
                <li><strong class="text-danger">17</strong> И возлюби́ кля́тву, и прии́дет eму́, и не восхоте́ благослове́ния, и удали́тся от него́.</li>
            
                <li><strong class="text-danger">18</strong> И облече́ся в кля́тву я́ко в ри́зу, и вни́де я́ко вода́ во утро́бу eго́, и я́ко еле́й в ко́сти eго́.</li>
            
                <li><strong class="text-danger">19</strong> Да бу́дет eму́ я́ко ри́за, в ню́же облачи́тся, и я́ко по́яс, и́мже вы́ну опоясу́ется.</li>
            
                <li><strong class="text-danger">20</strong> Сие́ де́ло оболга́ющих мя у Го́спода и глаго́лющих лука́вая на ду́шу мою́.</li>
            
                <li><strong class="text-danger">21</strong> И ты, Го́споди, Го́споди, сотвори́ со мно́ю и́мене ра́ди Твоего́, я́ко бла́га ми́лость Твоя́.</li>
            
                <li><strong class="text-danger">22</strong> Изба́ви мя, я́ко нищ и убо́г есмь аз, и се́рдце мое́ смяте́ся внутрь мене́.</li>
            
                <li><strong class="text-danger">23</strong> Я́ко сень, внегда́ уклони́тися ей, отъя́хся, стрясо́хся я́ко пру́зи.</li>
            
                <li><strong class="text-danger">24</strong> Коле́на моя́ изнемого́ста от поста́, и плоть моя́ измени́ся еле́а ра́ди.</li>
            
                <li><strong class="text-danger">25</strong> И аз бых поноше́ние им, ви́деша мя, покива́ша глава́ми свои́ми.</li>
            
                <li><strong class="text-danger">26</strong> Помози́ ми, Го́споди Бо́же мой, и спаси́ мя по ми́лости Твое́й,</li>
            
                <li><strong class="text-danger">27</strong> и да разуме́ют, я́ко рука́ Твоя́ сия́, и Ты, Го́споди, сотвори́л еси́ ю́.</li>
            
                <li><strong class="text-danger">28</strong> Проклену́т ти́и, и Ты благослови́ши, востаю́щии на мя да постыдя́тся, раб же Твой возвесели́тся.</li>
            
                <li><strong class="text-danger">29</strong> Да облеку́тся оболга́ющии мя в срамоту́, и оде́ждутся, я́ко оде́ждею, студо́м свои́м.</li>
            
                <li><strong class="text-danger">30</strong> Испове́мся Го́сподеви зело́ усты́ мои́ми, и посреде́ мно́гих восхвалю́ Его́,</li>
            
                <li><strong class="text-danger">31</strong> я́ко предста́ одесну́ю убо́гаго, е́же спасти́ от гоня́щих ду́шу мою́.</li>
            
            </ul>
        

        <br/>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <p>Аллилуйя, аллилуйя, аллилуйя, слава Тебе, Боже! (<span class="text-muted">3 раза</span>).</p>
        <p>Господи, помилуй (<span class="text-muted">3 раза</span>).</p>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <br/>

        <h4>По 15–й кафисме:</h4>

        <p>Святы́й Бо́же, Святы́й Кре́пкий, Святы́й Безсме́ртный, поми́луй нас. (<span class="text-muted">Tрижды</span>)</p>
        <p>Сла́ва Отцу́ и Сы́ну и Свято́му Ду́ху, и ны́не и при́сно и во ве́ки веко́в. Ами́нь.</p>
        <p>Пресвята́я Тро́ице, поми́луй нас; Го́споди, очи́сти грехи́ на́ша; Влады́ко, прости́ беззако́ния на́ша; Святы́й, посети́ и исцели́ не́мощи на́ша, и́мене Твоего́ ра́ди.</p>
        <p>Го́споди, поми́луй. (<span class="text-muted">Трижды</span>)</p>
        <p>Сла́ва Отцу́ и Сы́ну и Свято́му Ду́ху, и ны́не и при́сно и во ве́ки веко́в. Ами́нь.</p>
        <p>О́тче наш, И́же еси́ на небесе́х! Да святи́тся и́мя Твое́, да прии́дет Ца́рствие Твое́, да бу́дет во́ля Твоя́, я́ко на небеси́ и на земли́. Хлеб наш насу́щный даждь нам днесь; и оста́ви нам до́лги на́ша, я́коже и мы оставля́ем должнико́м на́шим; и не введи́ нас во искуше́ние, но изба́ви нас от лука́ваго.</p>

        <h5>Таже тропари, глас 1:</h5>
        
            <p> Я́ко пучи́на мно́га прегреше́ний мои́х, Спа́се, и лю́те погрузи́хся согреше́ньми мои́ми: даждь ми ру́ку, я́ко Петро́ви, и спаси́ мя, Бо́же, и поми́луй мя.</p>
        
        <p><span class="text-danger">Сла́ва Отцу, и Сы́ну, и Свято́му Ду́ху.</span>  Я́ко помышле́нии лука́выми и де́лы осуди́хся, Спа́се, мысль ми да́руй обраще́ния, Бо́же, да зову́: спаси́ мя, Благоде́телю Благи́й, и поми́луй мя.</p>
        <p><span class="text-danger">И ны́не, и при́сно, и во ве́ки веко́в, ами́нь.</span>  Богоблаже́нная Отрокови́це и Пренепоро́чная, скве́рна мя су́ща и окаля́нна от дея́ний безме́стных, и скве́рных помышле́ний, очи́сти мя, окая́ннаго, Нескве́рная и Чи́стая, Всесвята́я Ма́ти Де́во.</p>

        <p>Го́споди, поми́луй (<span class="text-muted">40</span>) <span class="text-muted">и молитва</span>:</p>
        <p>Влады́ко Го́споди Иису́се Христе́, Ты еси́ Помо́щник мой, в рука́х Твои́х есмь аз, помози́ ми, не оста́ви мене́ согреши́ти к Тебе́, я́ко заблужде́н есмь, не оста́ви мя после́довати во́ли пло́ти моея́, не пре́зри мя, Го́споди, я́ко не́мощен есмь. Ты ве́си поле́зное мне, не оста́ви мя поги́бнути грехи́ мои́ми, не оста́ви мя, Го́споди, не отступи́ от мене́, я́ко к Тебе́ прибего́х, научи́ мя твори́ти во́лю Твою́, я́ко Ты еси́ Бог мой. Исцели́ ду́шу мою́, я́ко согреши́х Ти, спаси́ мя ра́ди ми́лости Твоея́, я́ко пред Тобо́ю суть вси стужа́ющии ми, и несть мне ино́е прибе́жище, то́кмо Ты, Го́споди. Да постыдя́тся у́бо вси востаю́щии на мя и и́шущии ду́шу мою́, е́же потреби́ти ю́, я́ко Ты еси́ Еди́н Си́льный, Го́споди, во всех, и Твоя́ есть сла́ва во ве́ки веко́в, ами́нь.</p>
    </div>
</div>

{% endblock %}

