
{% extends 'wrapper.html' %}
{% block title %}

Кафисма 18

{% endblock %}
{% block main %}

<script>
    $(function() {
        $("#bf-sw").click(function(e) {
            e.preventDefault();
            $("#sp-bf-sw").text(function(i, text) {
                return text === "включить" ? "выключить" : "включить";
            });
            $("#l-content").toggleClass("display-4-1");
            $("h3, h4, h5, h6").toggleClass("display-3-1");
        });
    });
</script>
<p class="text-right d-print-none">
    <i class="fas fa-font"></i> <a href="#" id="bf-sw"><span id="sp-bf-sw">включить</span> крупный шрифт</a>
</p>
<div id="l-content" class="m-3">
    <p><a href="/psalter/">Псалтирь</a></p>
    <h3>Кафи́сма осмаяна́десять</h3>
    <div class="">
        
            <h4>Псалом 119</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Песнь степе́ней</span></li>
            
                <li><strong class="text-danger">1</strong> Ко Го́споду, внегда́ скорбе́ти ми, воззва́х, и услы́ша мя.</li>
            
                <li><strong class="text-danger">2</strong> Го́споди, изба́ви ду́шу мою́ от усте́н непра́ведных и от язы́ка льсти́ва.</li>
            
                <li><strong class="text-danger">3</strong> Что да́стся тебе́, или́ что приложи́тся тебе́ к язы́ку льсти́ву?</li>
            
                <li><strong class="text-danger">4</strong> Стре́лы си́льнаго изощре́ны, со у́гльми пусты́нными.</li>
            
                <li><strong class="text-danger">5</strong> Увы́ мне, я́ко прише́льствие мое́ продолжи́ся, всели́хся с селе́нии Кида́рскими.</li>
            
                <li><strong class="text-danger">6</strong> Мно́го прише́льствова душа́ моя́, с ненави́дящими ми́ра бех ми́рен:</li>
            
                <li><strong class="text-danger">7</strong> егда́ глаго́лах им, боря́ху мя ту́не.</li>
            
            </ul>
        
            <h4>Псалом 120</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Песнь степе́ней</span></li>
            
                <li><strong class="text-danger">1</strong> Возведо́х о́чи мои́ в го́ры, отню́дуже прии́дет по́мощь моя́.</li>
            
                <li><strong class="text-danger">2</strong> По́мощь моя́ от Го́спода, сотво́ршаго не́бо и зе́млю.</li>
            
                <li><strong class="text-danger">3</strong> Не даждь во смяте́ние ноги́ твоея́, ниже́ воздре́млет храня́й тя,</li>
            
                <li><strong class="text-danger">4</strong> се не воздре́млет, ниже́ у́снет храня́й Изра́иля.</li>
            
                <li><strong class="text-danger">5</strong> Госпо́дь сохрани́т тя, Госпо́дь покро́в твой на ру́ку десну́ю твою́.</li>
            
                <li><strong class="text-danger">6</strong> Во дни со́лнце не ожже́т тебе́, ниже́ луна́ но́щию.</li>
            
                <li><strong class="text-danger">7</strong> Госпо́дь сохрани́т тя от вся́каго зла, сохрани́т ду́шу твою́ Госпо́дь.</li>
            
                <li><strong class="text-danger">8</strong> Госпо́дь сохрани́т вхожде́ние твое́ и исхожде́ние твое́, отны́не и до ве́ка.</li>
            
            </ul>
        
            <h4>Псалом 121</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Песнь степе́ней</span></li>
            
                <li><strong class="text-danger">1</strong> Возвесели́хся о ре́кших мне: в дом Госпо́день по́йдем.</li>
            
                <li><strong class="text-danger">2</strong> Стоя́ще бя́ху но́ги на́ша во дво́рех твои́х, Иерусали́ме.</li>
            
                <li><strong class="text-danger">3</strong> Иерусали́м зи́ждемый я́ко град, eму́же прича́стие eго́ вку́пе.</li>
            
                <li><strong class="text-danger">4</strong> Та́мо бо взыдо́ша коле́на, коле́на Госпо́дня, свиде́ние Изра́илево, испове́датися и́мени Госпо́дню,</li>
            
                <li><strong class="text-danger">5</strong> я́ко та́мо седо́ша престо́ли на суд, престо́ли в дому́ Дави́дове.</li>
            
                <li><strong class="text-danger">6</strong> Вопроси́те же я́же о ми́ре Иерусали́ма: и оби́лие лю́бящым тя.</li>
            
                <li><strong class="text-danger">7</strong> Бу́ди же мир в си́ле твое́й и оби́лие в столпостена́х твои́х.</li>
            
                <li><strong class="text-danger">8</strong> Ра́ди бра́тий мои́х и бли́жних мои́х глаго́лах у́бо мир о тебе́.</li>
            
                <li><strong class="text-danger">9</strong> До́му ра́ди Го́спода Бо́га на́шего взыска́х блага́я тебе́.</li>
            
            </ul>
        
            <h4>Псалом 122</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Песнь степе́ней</span></li>
            
                <li><strong class="text-danger">1</strong> К Тебе́ возведо́х о́чи мои́, живу́щему на Небеси́.</li>
            
                <li><strong class="text-danger">2</strong> Се я́ко о́чи раб в руку́ госпо́дий свои́х, я́ко о́чи рабы́ни в руку́ госпожи́ своея́, та́ко о́чи на́ши ко Го́споду Бо́гу на́шему, до́ндеже уще́дрит ны.</li>
            
                <li><strong class="text-danger">3</strong> Поми́луй нас, Го́споди, поми́луй нас, я́ко по мно́гу испо́лнихомся уничиже́ния,</li>
            
                <li><strong class="text-danger">4</strong> наипа́че напо́лнися душа́ на́ша поноше́ния гобзу́ющих и уничиже́ния го́рдых.</li>
            
            </ul>
        
            <h4>Псалом 123</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Песнь степе́ней</span></li>
            
                <li><strong class="text-danger">1</strong> Я́ко а́ще не Госпо́дь бы был в нас, да рече́т у́бо Изра́иль,</li>
            
                <li><strong class="text-danger">2</strong> я́ко а́ще не Госпо́дь бы был в нас, внегда́ воста́ти челове́ком на ны, у́бо живы́х поже́рли бы́ша нас,</li>
            
                <li><strong class="text-danger">3</strong> внегда́ прогне́ватися я́рости их на ны, у́бо вода́ потопи́ла бы нас.</li>
            
                <li><strong class="text-danger">4</strong> Пото́к пре́йде душа́ на́ша,</li>
            
                <li><strong class="text-danger">5</strong> у́бо пре́йде душа́ на́ша во́ду непостоя́нную.</li>
            
                <li><strong class="text-danger">6</strong> Благослове́н Госпо́дь, И́же не даде́ нас в лови́тву зубо́м их.</li>
            
                <li><strong class="text-danger">7</strong> Душа́ на́ша, я́ко пти́ца изба́вися от се́ти ловя́щих: сеть сокруши́ся, и мы изба́влени бы́хом.</li>
            
                <li><strong class="text-danger">8</strong> По́мощь на́ша во и́мя Го́спода, сотво́ршаго не́бо и зе́млю.</li>
            
            </ul>
        

        <br/>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <p>Аллилуйя, аллилуйя, аллилуйя, слава Тебе, Боже! (<span class="text-muted">3 раза</span>).</p>
        <p>Господи, помилуй (<span class="text-muted">3 раза</span>).</p>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <br/>
        <h4>Молитва о живых</h4>
        
            Спаси́, Го́споди, и поми́луй раб Твои́х:
            {% if health %}
                {% for n in health %}
                    {% if n.name %}
                    <span class="badge badge-light">{{ n.name }}{% if n.till %} <small class="text-muted">до {{ n.till }}</small>{% endif %}, </span>
                    {% endif %}
                {% endfor %}
            {% else %}
                <small>{% if user.is_authenticated %}<a href="{% url 'mysynodik-edit' %}" class="badge bg-light text-dark">[добавить имена о здравии]</a>{% else %}<a href="{% url 'login' %}?next={{ request.path }}" class="badge bg-light text-dark">[войдите или зарегистрируйтесь, чтобы добавить имена]</a>{% endif %}</small>
            {% endif %}
            и всех правосла́вных христиа́н.<br/>
            <br/>
        

        
            <h4>Псалом 124</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Песнь степе́ней</span></li>
            
                <li><strong class="text-danger">1</strong> Наде́ющиися на Го́спода, я́ко гора́ Сио́н: не подви́жится в век живы́й во Иерусали́ме.</li>
            
                <li><strong class="text-danger">2</strong> Го́ры о́крест eго́, и Госпо́дь о́крест люде́й Свои́х отны́не и до ве́ка.</li>
            
                <li><strong class="text-danger">3</strong> Я́ко не оста́вит Госпо́дь жезла́ гре́шных на жре́бий пра́ведных, я́ко да не про́струт пра́веднии в беззако́ния рук свои́х.</li>
            
                <li><strong class="text-danger">4</strong> Ублажи́, Го́споди, благи́я и пра́выя се́рдцем.</li>
            
                <li><strong class="text-danger">5</strong> Уклоня́ющыяся же в развраще́ния отведе́т Госпо́дь с де́лающими беззако́ние. Мир на Изра́иля.</li>
            
            </ul>
        
            <h4>Псалом 125</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Песнь степе́ней</span></li>
            
                <li><strong class="text-danger">1</strong> Всегда́ возврати́ти Го́споду плен Сио́нь, бы́хом я́ко уте́шени.</li>
            
                <li><strong class="text-danger">2</strong> Тогда́ испо́лнишася ра́дости уста́ на́ша и язы́к наш весе́лия, тогда́ реку́т во язы́цех: возвели́чил есть Госпо́дь сотвори́ти с ни́ми.</li>
            
                <li><strong class="text-danger">3</strong> Возвели́чил есть Госпо́дь сотвори́ти с на́ми: бы́хом веселя́щеся.</li>
            
                <li><strong class="text-danger">4</strong> Возврати́, Го́споди, плене́ние на́ше, я́ко пото́ки ю́гом.</li>
            
                <li><strong class="text-danger">5</strong> Се́юшии слеза́ми, ра́достию по́жнут.</li>
            
                <li><strong class="text-danger">6</strong> Ходя́щии хожда́ху и пла́кахуся, мета́юще се́мена своя́, гряду́ще же прии́дут ра́достию, взе́млюше рукоя́ти своя́.</li>
            
            </ul>
        
            <h4>Псалом 126</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Песнь степе́ней</span></li>
            
                <li><strong class="text-danger">1</strong> А́ще не Госпо́дь сози́ждет дом, всу́е труди́шася зи́ждущии. А́ще не Госпо́дь сохрани́т град, всу́е бде стреги́й.</li>
            
                <li><strong class="text-danger">2</strong> Всу́е вам есть у́треневати, воста́нете по седе́нии, яду́щии хлеб боле́зни, егда́ даст возлю́бленным Свои́м сон.</li>
            
                <li><strong class="text-danger">3</strong> Се достоя́ние Госпо́дне сы́нове, мзда плода́ чре́вняго.</li>
            
                <li><strong class="text-danger">4</strong> Я́ко стре́лы в руце́ си́льнаго, та́ко сы́нове оттрясе́нных.</li>
            
                <li><strong class="text-danger">5</strong> Блаже́н, и́же испо́лнит жела́ние свое́ от них. Не постыдя́тся, егда́ глаго́лют враго́м свои́м во врате́х.</li>
            
            </ul>
        
            <h4>Псалом 127</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Песнь степе́ней</span></li>
            
                <li><strong class="text-danger">1</strong> Блаже́ни вси боя́щиися Го́спода, ходя́щии в путе́х Eгó.</li>
            
                <li><strong class="text-danger">2</strong> Труды́ плодо́в Твои́х сне́си: блаже́н еси́, и добро́ тебе́ бу́дет.</li>
            
                <li><strong class="text-danger">3</strong> Жена́ твоя́, я́ко лоза́, плодови́та в страна́х до́му твоего́,</li>
            
                <li><strong class="text-danger">4</strong> сы́нове твои́, я́ко новосажде́ния ма́сличная, о́крест трапе́зы твоея́.</li>
            
                <li><strong class="text-danger">5</strong> Се та́ко благослови́тся челове́к боя́йся Го́спода.</li>
            
                <li><strong class="text-danger">6</strong> Благослови́т тя Госпо́дь от Сио́на,</li>
            
                <li><strong class="text-danger">7</strong> и у́зриши блага́я Иерусали́ма вся дни живо́та твоего́, и у́зриши сы́ны сыно́в твои́х. Мир на Изра́иля.</li>
            
            </ul>
        
            <h4>Псалом 128</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Песнь степе́ней</span></li>
            
                <li><strong class="text-danger">1</strong> Мно́жицею бра́шася со мно́ю от ю́ности моея́, да рече́т у́бо Изра́иль:</li>
            
                <li><strong class="text-danger">2</strong> мно́жицею бра́шася со мно́ю от ю́ности моея́, и́бо не премого́ша мя.</li>
            
                <li><strong class="text-danger">3</strong> На хребте́ мое́м де́лаша гре́шницы, продолжи́ша беззако́ние свое́.</li>
            
                <li><strong class="text-danger">4</strong> Госпо́дь Пра́веден ссече́ вы́я гре́шников.</li>
            
                <li><strong class="text-danger">5</strong> Да постыдя́тся и возвратя́тся вспять вси ненави́дящии Сио́на.</li>
            
                <li><strong class="text-danger">6</strong> Да бу́дут, я́ко трава́ на здех, я́же пре́жде восторже́ния и́зсше,</li>
            
                <li><strong class="text-danger">7</strong> е́юже не испо́лни руки́ своея́ жня́й, и не́дра своего́ рукоя́ти собира́яй,</li>
            
                <li><strong class="text-danger">8</strong> и не ре́ша мимоходя́щии: благослове́ние Госпо́дне на вы, благослови́хом вы во и́мя Госпо́дне.</li>
            
            </ul>
        

        <br/>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <p>Аллилуйя, аллилуйя, аллилуйя, слава Тебе, Боже! (<span class="text-muted">3 раза</span>).</p>
        <p>Господи, помилуй (<span class="text-muted">3 раза</span>).</p>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <br/>

        <h4>Молитва об усопших</h4>
        
            Упоко́й, Го́споди, ду́ши усо́пших раб Твои́х:
            {% if rip %}
                {% for n in rip %}
                    {% if n.name %}
                    <span class="badge badge-light">{{ n.name }}{% if n.till %} <small class="text-muted">до {{ n.till }}</small>{% endif %}{% if not forloop.last %}, {% endif %}</span>
                    {% endif %}
                {% endfor %}
            {% else %}
            <small>{% if user.is_authenticated %}<a href="{% url 'mysynodik-edit' %}" class="badge bg-light text-dark">[добавить имена о упокоении]</a>{% else %}<a href="{% url 'login' %}?next={{ request.path }}" class="badge bg-light text-dark">[войдите или зарегистрируйтесь, чтобы добавить имена]</a>{% endif %}</small>
            {% endif %}
            и всех правосла́вных христиа́н, и прости́ им вся согреше́ния во́льная и нево́льная, и да́руй им Ца́рствие Небе́сное.<br/>
        
        <br/>

        
            <h4>Псалом 129</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Песнь степе́ней</span></li>
            
                <li><strong class="text-danger">1</strong> Из глубины́ воззва́х к Тебе́, Го́споди, Го́споди, услы́ши глас мой.</li>
            
                <li><strong class="text-danger">2</strong> Да бу́дут у́ши Твои́ вне́млюще гла́су моле́ния моего́.</li>
            
                <li><strong class="text-danger">3</strong> А́ще беззако́ния на́зриши, Го́споди, Го́споди, кто постои́т? Я́ко у Тебе́ очище́ние есть.</li>
            
                <li><strong class="text-danger">4</strong> И́мене ра́ди Твоего́ потерпе́х Тя, Го́споди, потерпе́ душа́ моя́ в сло́во Твое́, упова́ душа́ моя́ на Го́спода.</li>
            
                <li><strong class="text-danger">5</strong> От стра́жи у́тренния до но́щи, от стра́жи у́тренния да упова́ет Изра́иль на Го́спода.</li>
            
                <li><strong class="text-danger">6</strong> Я́ко у Го́спода ми́лость, и мно́гое у Него́ избавле́ние, и Той изба́вит Изра́иля от всех беззако́ний eго́.</li>
            
            </ul>
        
            <h4>Псалом 130</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Песнь степе́ней</span></li>
            
                <li><strong class="text-danger">1</strong> Го́споди, не вознесе́ся се́рдце мое́, ниже́ вознесо́стеся о́чи мои́, ниже́ ходи́х в вели́ких, ниже́ в ди́вных па́че мене́.</li>
            
                <li><strong class="text-danger">2</strong> А́ще не смиреному́дрствовах, но вознесо́х ду́шу мою́, я́ко отдое́ное на ма́терь свою́, та́ко возда́си на ду́шу мою́.</li>
            
                <li><strong class="text-danger">3</strong> Да упова́ет Изра́иль на Го́спода, отны́не и до ве́ка.</li>
            
            </ul>
        
            <h4>Псалом 131</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Песнь степе́ней</span></li>
            
                <li><strong class="text-danger">1</strong> Помяни́, Го́споди, Дави́да и всю кро́тость eго́:</li>
            
                <li><strong class="text-danger">2</strong> я́ко кля́тся Го́сподеви, обеща́ся Бо́гу Иа́ковлю:</li>
            
                <li><strong class="text-danger">3</strong> а́ще вни́ду в селе́ние до́му моего́, или́ взы́ду на одр посте́ли моея́,</li>
            
                <li><strong class="text-danger">4</strong> а́ще дам сон очи́ма мои́ма и ве́ждома мои́ма дрема́ние, и поко́й скраниа́ма мои́ма,</li>
            
                <li><strong class="text-danger">5</strong> до́ндеже обря́щу ме́сто Го́сподеви, селе́ние Бо́гу Иа́ковлю.</li>
            
                <li><strong class="text-danger">6</strong> Се слы́шахом я́ во Евфра́фе, обрето́хом я́ в поля́х дубра́вы.</li>
            
                <li><strong class="text-danger">7</strong> Вни́дем в селе́ния Его́, поклони́мся на ме́сто, иде́же стоя́сте но́зе Его́.</li>
            
                <li><strong class="text-danger">8</strong> Воскресни́, Го́споди, в поко́й Твой, Ты и киво́т святы́ни Твоея́.</li>
            
                <li><strong class="text-danger">9</strong> Свяще́нницы Твои́ облеку́тся пра́вдою, и преподо́бнии Твои́ возра́дуются.</li>
            
                <li><strong class="text-danger">10</strong> Дави́да ра́ди раба́ Твоего́ не отврати́ лице́ пома́заннаго Твоего́.</li>
            
                <li><strong class="text-danger">11</strong> Кля́тся Госпо́дь Дави́ду и́стиною и не отве́ржется ея́: от плода́ чре́ва твоего́ посажду́ на престо́ле твое́м.</li>
            
                <li><strong class="text-danger">12</strong> А́ще сохраня́т сы́нове твои́ заве́т Мой, и свиде́ния Моя́ сия́, и́мже научу́ я́, и сы́нове их до ве́ка ся́дут на престо́ле твое́м.</li>
            
                <li><strong class="text-danger">13</strong> Я́ко избра́ Госпо́дь Сио́на, изво́ли и́ в жили́ще Себе́.</li>
            
                <li><strong class="text-danger">14</strong> Сей поко́й Мой во век ве́ка, зде вселю́ся, я́ко изво́лих и́.</li>
            
                <li><strong class="text-danger">15</strong> Лови́тву eго́ благословля́яй благословлю́, ни́щыя eго́ насы́щу хле́бы,</li>
            
                <li><strong class="text-danger">16</strong> свяще́нники eго́ облеку́ во спасе́ние, и преподо́бнии eго́ ра́достию возра́дуются.</li>
            
                <li><strong class="text-danger">17</strong> Та́мо возращу́ рог Дави́дови, угото́вах свети́льник пома́занному Моему́.</li>
            
                <li><strong class="text-danger">18</strong> Враги́ eго́ облеку́ студо́м, на не́мже процвете́т святы́ня Моя́.</li>
            
            </ul>
        
            <h4>Псалом 132</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Песнь степе́ней</span></li>
            
                <li><strong class="text-danger">1</strong> Се что́ добро́, или́ что́ красно́? Но е́же жи́ти бра́тии вку́пе.</li>
            
                <li><strong class="text-danger">2</strong> Я́ко ми́ро на главе́, сходя́щее на браду́, браду́ Ааро́ню, сходя́щее на оме́ты оде́жды eго́,</li>
            
                <li><strong class="text-danger">3</strong> я́ко роса́ Аермо́нская сходя́щая на го́ры Сио́нския, я́ко та́мо запове́да Госпо́дь благослове́ние и живо́т до ве́ка.</li>
            
            </ul>
        
            <h4>Псалом 133</h4>
            <ul class="list-unstyled">
            
                <li> <span class="text-secondary">Песнь степе́ней</span></li>
            
                <li><strong class="text-danger">1</strong> Се ны́не благослови́те Го́спода вси раби́ Госпо́дни, стоя́щии в хра́ме Госпо́дни, во дво́рех до́му Бо́га на́шего,</li>
            
                <li><strong class="text-danger">2</strong> В но́щех воздежи́те ру́ки ва́ша во свята́я, и благослови́те Го́спода.</li>
            
                <li><strong class="text-danger">3</strong> Благослови́т тя Госпо́дь от Сио́на, сотвори́вый не́бо и зе́млю.</li>
            
            </ul>
        

        <br/>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <p>Аллилуйя, аллилуйя, аллилуйя, слава Тебе, Боже! (<span class="text-muted">3 раза</span>).</p>
        <p>Господи, помилуй (<span class="text-muted">3 раза</span>).</p>
        <p class="text-danger">Слава Отцу, и Сыну, и Святому Духу и ныне, и присно и во веки веков. Аминь.</p>
        <br/>

        <h4>По 18–й кафисме:</h4>

        <p>Святы́й Бо́же, Святы́й Кре́пкий, Святы́й Безсме́ртный, поми́луй нас. (<span class="text-muted">Tрижды</span>)</p>
        <p>Сла́ва Отцу́ и Сы́ну и Свято́му Ду́ху, и ны́не и при́сно и во ве́ки веко́в. Ами́нь.</p>
        <p>Пресвята́я Тро́ице, поми́луй нас; Го́споди, очи́сти грехи́ на́ша; Влады́ко, прости́ беззако́ния на́ша; Святы́й, посети́ и исцели́ не́мощи на́ша, и́мене Твоего́ ра́ди.</p>
        <p>Го́споди, поми́луй. (<span class="text-muted">Трижды</span>)</p>
        <p>Сла́ва Отцу́ и Сы́ну и Свято́му Ду́ху, и ны́не и при́сно и во ве́ки веко́в. Ами́нь.</p>
        <p>О́тче наш, И́же еси́ на небесе́х! Да святи́тся и́мя Твое́, да прии́дет Ца́рствие Твое́, да бу́дет во́ля Твоя́, я́ко на небеси́ и на земли́. Хлеб наш насу́щный даждь нам днесь; и оста́ви нам до́лги на́ша, я́коже и мы оставля́ем должнико́м на́шим; и не введи́ нас во искуше́ние, но изба́ви нас от лука́ваго.</p>

        <h5>Таже тропари, глас 2:</h5>
        
            <p> Пре́жде да́же не осу́диши мя, Го́споди мой, Го́споди, даждь ми обраще́ние, и исправле́ние мно́гих мои́х грехо́в, даждь ми умиле́ние духо́вное, я́ко да возопию́ к Тебе́: Благоутро́бне, Человеколю́бче Бо́же мой, спаси́ мя.</p>
        
        <p><span class="text-danger">Сла́ва Отцу, и Сы́ну, и Свято́му Ду́ху.</span>  Несмы́сленным ското́м уподо́бивыйся аз, блу́дный, приложи́хся им: обраще́ние ми да́руй, Христе́, я́ко да прииму́ у Тебе́ ве́лию ми́лость.</p>
        <p><span class="text-danger">И ны́не, и при́сно, и во ве́ки веко́в, ами́нь.</span>  Не отврати́, Влады́чице, лица́ Твоего́ от мене́, моля́щагося Тебе́, но, я́ко Благоутро́бная Ма́ти Ще́драго Бо́га, потщи́ся пре́жде конца́ обраще́ние мне дарова́ти, я́ко да спа́сся Тобо́ю, воспою́ Тя, я́ко спасе́ние и упова́ние мое́, непосра́мленное, Госпоже́ моя́.</p>

        <p>Го́споди, поми́луй (<span class="text-muted">40</span>) <span class="text-muted">и молитва</span>:</p>
        <p>Го́споди, да не я́ростию Твое́ю обличи́ши мене́, ниже́ гне́вом Твои́м нака́жеши мя. Влады́ко Го́споди Иису́се Христе́, Сы́не Бо́га Жива́го, поми́луй мя, гре́шнаго, ни́щаго, обнаже́ннаго, лени́ваго, неради́ваго, прекосло́внаго, окая́ннаго, блудника́, прелюбоде́я, малаки́я, мужело́жника, скве́рнаго, блу́днаго, неблагода́рнаго, неми́лостиваго, жесто́каго, пия́ницу, сожже́ннаго со́вестию, безли́чнаго, бездерзнове́ннаго, безотве́тнаго, недосто́йнаго Твоего́ человеколю́бия, и досто́йна вся́каго муче́ния, и гее́нны, и му́ки. И не ра́ди мно́жества толи́ких мои́х согреше́ний мно́жеству подложи́ши, Изба́вителю, мук; но поми́луй мя, я́ко не́мощен есмь, и душе́ю, и пло́тию, и ра́зумом, и помышле́нием, и и́миже ве́си судьба́ми спаси́ мя, недосто́йнаго раба́ Твоего́, моли́твами Пречи́стыя Влады́чицы на́шея Богоро́дицы, и всех святы́х, от ве́ка Тебе́ благоуго́ждших: я́ко благослове́н еси́ во ве́ки веко́в, ами́нь.</p>
    </div>
</div>

{% endblock %}

