{% extends 'letters/letter_wrapper.html' %}
{% load i18n %}
{% block title %}
{% if user.first_name or user.last_name %}
{% trans 'Здравствуйте' %}, {{ user.first_name }} {{ user.last_name }}!
{% else %}
{% trans 'Здравствуйте' %}, {{ user.email }}!
{% endif %}
{% endblock %}
{% block main %}
<p>{% trans 'Вас приглашают принять участие в группе' %} "{{ group.name }}" {% trans 'на сайте' %} <a href="https://st-gospel.ru/" style="color:#007bff;text-decoration:none;font-weight:bold;">st-gospel.ru</a>!</p>
  <p>{% trans 'Данный сайт ориентирован на участие в группах чтения Священного Писания по соглашению' %}.</p>
  <p>{% trans 'Чтобы стать полноценным участником группы, Вам необходимо принять приглашение' %}. <a href="https://st-gospel.ru/invite/confirm/?t={{ confirmstr }}" style="color:#007bff;text-decoration:none;font-weight:bold;">{% trans 'Принять приглашение' %}</a>.</p>
  <p>{% trans 'Приглашение действительно 30 дней' %}.</p>
  <br />
  <p>{% trans 'Если Вы не понимаете, о чем это письмо, просто удалите его' %}.</p>
  <br />
  <p>{% trans 'Приятного Вам дня!' %}</p>
{% endblock %}
