{% extends 'wrapper.html' %}
{% block title %}Чтение {{ group.name }}{% endblock %}
{% block main %}
<script>
    $(function() {
        $("#bf-sw").click(function(e) {
            e.preventDefault();
            $("#sp-bf-sw").text(function(i, text) {
                return text === "включить" ? "выключить" : "включить";
            });
            $("#l-content").toggleClass("display-4-1");
            $("h5, h6").toggleClass("display-3-1");
        });
    });
</script>
<p class="text-right d-print-none">
<i class="fas fa-font"></i> <a href="#" id="bf-sw"><span id="sp-bf-sw">включить</span> крупный шрифт</a>
    <i class="fas fa-print"></i> <a href="#" onclick="window.print(); return false;">печатать</a>
</p>
<div id="l-content">
    {% if health %}
    <h5>О Здравии</h5>
    <p>Спаси, Господи, и помилуй словами Божественнаго Писания, чтомыми о спасении рабов Твоих:</p>
    {% for row in health %}
        {% for div in row %}
        {% if div.name or div.list %}
        <div>
            {% if div.name %}<h6>{{ div.name }}</h6>{% endif %}
            {% if div.list %}
            <div>
                {% for name in div.list %}
                {% if name.name %}
                <span>{{ name.name }}{% if name.till %} <small class="text-muted">до {{ name.till }}</small>{% endif %}</span>;&nbsp;
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    {% endfor %}
    <p class="mt-3">Попали, Господи, терние всех наших согрешений, и да вселится в нас благодать Твоя, опаляющая, очищающая, освящающая всего человека во имя Отца и Сына и Святаго Духа. Аминь.</p>
    {% endif %}
    {% if sick %}
        <h5 class="mt-3">О болящих</h5>
        <h6>Тропарь, глас 4</h6>
        <p>Ско́pый в заступле́нии Еди́н сый, Хpисте́,/ ско́pое свы́ше покажи́ посеще́ние стpа́ждущим pабо́м Твои́м,/ и изба́ви от неду́г и го́pьких боле́зней,/ и воздви́гни во е́же пе́ти Тя и сла́вити непpеста́нно,// моли́твами Богоpо́дицы, Еди́не Человеколю́бче.</p>
        <h6>Кондак, глас 2</h6>
        <p>На одре́ боле́зни лежа́щих и сме́ртною ра́ною уя́звленных,/ я́коже иногда́ воздви́гл еси́, Спа́се, Петро́ву те́щу,/ и рассла́бленнаго на одре́ носи́маго,/ си́це и ны́не, Милосе́рде, стра́ждущих посети́ и исцели́:/ Ты бо Еди́н еси́ неду́ги и боле́зни ро́да на́шего понесы́й,// и вся моги́й, я́ко Многоми́лостив.</p>
        <h6>Молитва ко Господу</h6>
        <p>
            Влады́ко, Вседержи́телю, Святы́й Царю́, наказу́яй и не умерщвля́яй, утвержда́яй низпа́дающия и возводя́й низве́рженныя, теле́сныя челове́ков ско́рби исправля́яй, мо́лимся Тебе́, Бо́же наш, раб Твоих
            {% for row in sick %}
                {% for div in row %}
                {% if div.list %}
                    {% for name in div.list %}
                    {% if name.name %}
                    <span class="badge border border-light">{{ name.name }}{% if name.till %} <small class="text-muted">до {{ name.till }}</small>{% endif %}{% if not forloop.last %}, {% endif %}</span>
                    {% endif %}
                    {% endfor %}
                    {% if not forloop.last %}, {% endif %}
                {% endif %}
                {% endfor %}
            {% endfor %}
            немощству́юща посети́ ми́лостию Твое́ю, прости́ ему́ вся́кое согреше́ние во́льное и нево́льное. Ей, Го́споди, враче́бную Твою́ си́лу с Небесе́ низпосли́, прикосни́ся телеси́, угаси́ огне́вицу, укроти́ стра́сть и вся́кую не́мощь тая́щуюся, бу́ди врач рабам Твоим <i>зде нами поминаемым</i>, воздви́гни их от одра́ боле́зненнаго и от ло́жа озлобле́ния це́ла и всесоверше́нна, да́руй их Це́ркви Твое́й благоугожда́юща и творя́ща во́лю Твою́. Твое́ бо есть, е́же ми́ловати и спаса́ти ны, Бо́же наш, и Тебе́ сла́ву возсыла́ем, Отцу́ и Сы́ну и Свято́му Ду́ху, ны́не и при́сно и во ве́ки веко́в. Ами́нь.
        </p>
    {% endif %}
    {% if war %}
        <h5 class="mt-3">О примирении враждующих</h5>
        <h6>Молитва о примирении враждующих</h6>
        <p>
            Благодарим Тя, Влады́ко Человеколю́бче, Царю́ веко́в и Пода́телю благи́х, разру́шивший вражды́ средосте́ния и мир пода́вший ро́ду челове́ческому, да́руй и ны́не мир рабо́м Твои́м
            {% for row in war %}
                {% for div in row %}
                {% if div.list %}
                    {% for name in div.list %}
                    {% if name.name %}
                    <span class="badge border border-light">{{ name.name }}{% if name.till %} <small class="text-muted">до {{ name.till }}</small>{% endif %}{% if not forloop.last %}, {% endif %}</span>
                    {% endif %}
                    {% endfor %}
                    {% if not forloop.last %}, {% endif %}
                {% endif %}
                {% endfor %}
            {% endfor %}
            вкорени́ в них стра́х Твой и друг к дру́гу любо́вь утверди́: угаси́ вся́ку ра́спрю, отъими́ вся разногла́сия и собла́зны. Я́ко Ты еси́ мир наш и Тебе́ сла́ву возсыла́ем, Отцу́ и Сы́ну и Свято́му Ду́ху, ны́не и при́сно и во ве́ки веко́в. Ами́нь.
        </p>
    {% endif %}
    {% if army %}
        <h5>О воинах</h5>
        <p>
        Господи Боже наш, послушавый Моисея, простерша к Тебе руце, и людей израилевых укрепивый на Амалика, ополчивый Иисуса Навина на брань, и повелевый солнцу стати: Ты и ныне, Владыко Господи, услыши нас молящихся Тебе: укрепи силою Твоею людей православных, благослови их дела, умножи славу их победами над противоборствующими Православной Церкви, утверди всесильною Твоею десницею, сохрани воинов православных 
        {% for row in army %}
            {% for div in row %}
            {% if div.list %}
                {% for name in div.list %}
                {% if name.name %}
                <span class="badge badge-light">{{ name.name }}{% if name.till %} <small class="text-muted">до {{ name.till }}</small>{% endif %}{% if not forloop.last %}, {% endif %}</span>
                {% endif %}
                {% endfor %}
                {% if not forloop.last %}, {% endif %}
            {% endif %}
            {% endfor %}
        {% endfor %}
        , посли Ангела Твоего укрепляющаго их. Отыми от них всяк глад и пагубу, и избави их от огня и меча и нападения врагов, и от всякаго востания противнаго: подаждь им вся, яже ко спасению прошения, споспешествуя им во всем. Посли, Господи, невидимо десницу Твою, рабов Твоих заступающую во всем: яко Твоя держава, Царство и сила, от Тебе помощь вси приемлем, на Тя уповаем и Тебе славу возсылаем, Отцу и Сыну и Святому Духу, ныне и присно и во веки веков. Аминь.
        </p>
    {% endif %}
    {% if rip %}
    <h5 class="mt-3">О Упокоении</h5>
    <p>Упоко́й, Го́споди, ду́ши усо́пших раб Твои́х:</p>
    {% for row in rip %}
        {% for div in row %}
        <div>
            {% if div.list %}
            <div>
                {% for name in div.list %}
                {% if name.name %}
                <span>{{ name.name }}{% if name.till %} <small class="text-muted">до {{ name.till }}</small>{% endif %}</span>;&nbsp;
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    {% endfor %}
    <p class="mt-3">и всех правосла́вных христиа́н, и прости́ им вся согреше́ния во́льная и нево́льная, и да́руй им Ца́рствие Небе́сное.</p>
    {% endif %}
</div>
{% endblock %}
