{% extends 'wrapper.html' %}
{% block title %}Часы ПАСХИ{% endblock %}
{% block main %}
<script>
    $(function() {
        $("#bf-sw").click(function(e) {
            e.preventDefault();
            $("#sp-bf-sw").text(function(i, text) {
                return text === "включить" ? "выключить" : "включить";
            });
            $("#l-content").toggleClass("display-4-1");
            $("h3, h4, h5, h6").toggleClass("display-3-1");
        });
    });
</script>
<p class="text-right d-print-none">
    <i class="fas fa-font"></i> <a href="#" id="bf-sw"><span id="sp-bf-sw">включить</span> крупный шрифт</a>
</p>
<div id="l-content" class="m-3">
    Молитвами святых отец наших, Господи Иисусе Христе, помилуй нас. Аминь.<br/>
    <br/>
<h5>Тропарь, глас 5:</h5>
Христо&#769;с воскре&#769;се из ме&#769;ртвых,/ сме&#769;ртию смерть попра&#769;в// и су&#769;щим во гробе&#769;х живо&#769;т дарова&#769;в. (<span class="text-muted">Трижды</span>)<br/>
    <br/>
Воскресе&#769;ние Христо&#769;во ви&#769;девше,/ поклони&#769;мся Свято&#769;му Го&#769;споду Иису&#769;су,/ Еди&#769;ному Безгре&#769;шному,/ Кресту&#769; Твоему&#769; покланя&#769;емся, Христе&#769;,/ и Свято&#769;е Воскресе&#769;ние Твое&#769; пое&#769;м и сла&#769;вим:/ Ты бо еси&#769; Бог наш,/ ра&#769;зве Тебе&#769; ино&#769;го не зна&#769;ем,/ и&#769;мя Твое&#769; имену&#769;ем./ Прииди&#769;те, вси ве&#769;рнии,/ поклони&#769;мся Свято&#769;му Христо&#769;ву Воскресе&#769;нию:/ се бо
прии&#769;де Кресто&#769;м ра&#769;дость всему&#769; ми&#769;ру./ Всегда&#769; благословя&#769;ще Го&#769;спода,/ пое&#769;м Воскресе&#769;ние Его&#769;:/ распя&#769;тие бо претерпе&#769;в,// сме&#769;ртию смерть разруши&#769;. (<span class="text-muted">Трижды</span>)<br/>
    <br/>
<h5>Ипакои&#769;, глас 4:</h5>
Предвари&#769;вшия у&#769;тро, я&#769;же о Мари&#769;и,/ и обре&#769;тшия ка&#769;мень отвале&#769;н от гро&#769;ба,/ слы&#769;шаху от А&#769;нгела: во све&#769;те присносу&#769;щнем Су&#769;щаго/ с ме&#769;ртвыми что и&#769;щете, я&#769;ко челове&#769;ка?/ Ви&#769;дите гро&#769;бныя пелены&#769;, тецы&#769;те и ми&#769;ру пропове&#769;дите,/ я&#769;ко воста&#769; Госпо&#769;дь, умертви&#769;вый сме&#769;рть,// я&#769;ко есть Сын Бо&#769;га, спаса&#769;ющаго род челове&#769;ческий.<br/>
    <br/>
<h5>Кондак, глас 8:</h5>
А&#769;ще и во гроб снизше&#769;л еси&#769;, Безсме&#769;ртне,/ но а&#769;дову разруши&#769;л еси&#769; си&#769;лу/ и воскре&#769;сл еси&#769;, я&#769;ко Победи&#769;тель, Христе&#769; Бо&#769;же,/ жена&#769;м мироно&#769;сицам веща&#769;вый: ра&#769;дуйтеся!/ и Твои&#769;м апо&#769;столом мир да&#769;руяй,// па&#769;дшим подая&#769;й воскресе&#769;ние.<br/>
    <br/>
    Во гро&#769;бе пло&#769;тски, во а&#769;де же с душе&#769;ю, я&#769;ко Бог,/ в раи&#769; же с разбо&#769;йником, и на Престо&#769;ле был еси&#769;, Христе&#769;, со Отце&#769;м и Ду&#769;хом,// вся исполня&#769;яй, Неопи&#769;санный.<br/>
    <br/>
    Сла&#769;ва Отцу&#769; и Сы&#769;ну и Свято&#769;му Ду&#769;ху.<br/>
    <br/>
    Я&#769;ко живоно&#769;сец, я&#769;ко рая&#769; красне&#769;йший,/ вои&#769;стину и черто&#769;га вся&#769;каго ца&#769;рскаго показа&#769;ся светле&#769;йший, Христе&#769;, гроб Твой,// исто&#769;чник на&#769;шего воскресе&#769;ния.<br/>
    <br/>
    И ны&#769;не и при&#769;сно и во ве&#769;ки веко&#769;в. Ами&#769;нь.<br/>
    <br/>
    Вы&#769;шняго освяще&#769;нное Боже&#769;ственное селе&#769;ние, ра&#769;дуйся,/ Тобо&#769;ю бо даде&#769;ся ра&#769;дость, Богоро&#769;дице, зову&#769;щим:// благослове&#769;нна Ты в жена&#769;х еси&#769;, Всенепоро&#769;чная Влады&#769;чице.<br/>
    <br/>
    Го&#769;споди, поми&#769;луй. (<span class="text-muted">40 раз</span>)<br/>
    <br/>
    Сла&#769;ва Отцу&#769; и Сы&#769;ну и Свято&#769;му Ду&#769;ху,// и ны&#769;не и при&#769;сно и во ве&#769;ки веко&#769;в. Ами&#769;нь.<br/>
    <br/>
    Честне&#769;йшую Херуви&#769;м/ и сла&#769;внейшую без сравне&#769;ния Серафи&#769;м,/ без истле&#769;ния Бо&#769;га Сло&#769;ва ро&#769;ждшую,// су&#769;щую Богоро&#769;дицу Тя велича&#769;ем.<br/>
    <br/>
    Христо&#769;с воскре&#769;се из ме&#769;ртвых,/ сме&#769;ртию смерть попра&#769;в// и су&#769;щим во гробе&#769;х живо&#769;т дарова&#769;в. (<span class="text-muted">Трижды</span>)<br/>
    <br/>
    Господи Иисусе Христе, Сы́не Божий, молитв ра́ди Пречи́стыя Твоея́ Ма́тере, преподо́бных и богоно́сных отец наших и всех святых, помилуй нас. Аминь.<br/>
</div>
{% endblock %}
