{% extends 'wrapper.html' %}
{% block title %}Последование ко Святому Причащению{% endblock %}
{% block main %}
<script>
    $(function() {
        $("#bf-sw").click(function(e) {
            e.preventDefault();
            $("#sp-bf-sw").text(function(i, text) {
                return text === "включить" ? "выключить" : "включить";
            });
            $("#l-content").toggleClass("display-4-1");
            $("h3, h4, h5, h6").toggleClass("display-3-1");
        });
    });
</script>
<p class="text-right d-print-none">
    <i class="fas fa-font"></i> <a href="#" id="bf-sw"><span id="sp-bf-sw">включить</span> крупный шрифт</a>
</p>
<div id="l-content" class="m-3">
<p><a href="#kanon">Канон</a></p>
<p><a href="#prihodya_jhe_prichastitca">Приходя же причаститься</a></p>
<h5>Начало обычное</h5>
Моли́твами святы́х оте́ц на́ших, Го́споди Иису́се Христе́ Бо́же на́ш, поми́луй на́с. Ами́нь.<br/>
<br/>
{% if user_today_date > "2025-04-19" and user_today_date < "2025-05-29" %}
Христо&#769;с воскре&#769;се из ме&#769;ртвых,/ сме&#769;ртию смерть попра&#769;в// и су&#769;щим во гробе&#769;х живо&#769;т дарова&#769;в. (<span class="text-muted">Трижды</span>)<br/>
{% else %}
Царю́ Небе́сный, Уте́шителю, Ду́ше и́стины, И́же везде́ сы́й и вся́ исполня́яй, Сокро́вище благи́х и жи́зни Пода́телю, прииди́ и всели́ся в ны́, и очи́сти ны́ от вся́кия скве́рны, и спаси́, Бла́же, ду́ши на́ша.<br/>
{% endif %}
<br/>
Святы́й Бо́же, Святы́й Кре́пкий, Святы́й Безсме́ртный, поми́луй на́с. (<span class="text-muted">Трижды</span>)<br/>
<br/>
Сла́ва Отцу, и Сы́ну, и Свято́му Ду́ху, и ны́не и при́сно и во ве́ки веко́в. Ами́нь.<br/>
<br/>
Пресвята́я Тро́ице, поми́луй на́с; Го́споди, очи́сти грехи́ на́ша; Влады́ко, прости́ беззако́ния на́ша; Святы́й, посети́ и исцели́ не́мощи на́ша, и́мене Твоего́ ра́ди.<br/>
<br/>
Го́споди, поми́луй. (<span class="text-muted">Три́жды</span>)<br/>
<br/>
Сла́ва Отцу, и Сы́ну, и Свято́му Ду́ху, и ны́не и при́сно и во ве́ки веко́в. Ами́нь.<br/>
<br/>
О́тче на́ш, И́же еси́ на небесе́х! Да святи́тся и́мя Твое́, да прии́дет Ца́рствие Твое́, да бу́дет во́ля Твоя́, я́ко на небеси́ и на земли́. Хле́б на́ш насу́щный да́ждь на́м дне́сь; и оста́ви на́м до́лги на́ша, я́коже и мы́ оставля́ем должнико́м на́шим; и не введи́ на́с во искуше́ние, но изба́ви на́с от лука́ваго.<br/>
<br/>
Го́споди, поми́луй. (<span class="text-muted">12 раз</span>)<br/>
<br/>
Прииди́те, поклони́мся Царе́ви на́шему Бо́гу. (<span class="text-muted">Покло́н</span>)<br/>
<br/>
Прииди́те, поклони́мся и припаде́м Христу́, Царе́ви на́шему Бо́гу. (<span class="text-muted">Покло́н</span>)<br/>
<br/>
Прииди́те, поклони́мся и припаде́м Самому́ Христу́, Царе́ви и Бо́гу на́шему. (<span class="text-muted">Покло́н</span>)<br/>
<br/>
<h3>Псало́м 22</h3>
Госпо́дь пасе́т мя́, и ничто́же мя́ лиши́т. На ме́сте зла́чне, та́мо всели́ мя́, на воде́ поко́йне воспита́ мя́. Ду́шу мою́ обрати́, наста́ви мя́ на стези́ пра́вды, и́мене ра́ди Своего́. А́ще бо и пойду́ посреде́ се́ни сме́ртныя, не убою́ся зла́, я́ко Ты́ со мно́ю еси́, же́зл Тво́й и па́лица Твоя́, та́ мя́ уте́шиста. Угото́вал еси́ предо мно́ю трапе́зу сопроти́в стужа́ющим мне́, ума́стил еси́ еле́ом главу́ мою́, и ча́ша Твоя́ упоява́ющи мя́, я́ко держа́вна. И ми́лость Твоя́ пожене́т мя́ вся́ дни́ живота́ моего́, и е́же всели́ти ми́ ся́ в до́м Госпо́день, в долготу́
дни́й.<br/>
<br/>
<h3>Псало́м 23</h3>
Госпо́дня земля́, и исполне́ние ея́, вселе́нная, и вси́ живу́щии на не́й. То́й на моря́х основа́л ю́ е́сть, и на река́х угото́вал ю́ е́сть. Кто́ взы́дет на го́ру Госпо́дню? Или́ кто́ ста́нет на ме́сте святе́м Его́? Непови́нен рука́ма и чи́ст се́рдцем, и́же не прия́т всу́е ду́шу свою́, и не кля́тся ле́стию и́скреннему своему́. Се́й прии́мет благослове́ние от Го́спода, и ми́лостыню от Бо́га, Спа́са своего́. Се́й ро́д и́щущих Го́спода, и́щущих лице́ Бо́га Иа́ковля. Возми́те врата́ кня́зи ва́ша, и возми́теся врата́ ве́чная; и вни́дет Ца́рь Сла́вы. Кто́ е́сть се́й
Ца́рь Сла́вы? Госпо́дь кре́пок и си́лен, Госпо́дь си́лен в бра́ни. Возми́те врата́ кня́зи ва́ша, и возми́теся врата́ ве́чная, и вни́дет Ца́рь Сла́вы. Кто́ е́сть се́й Ца́рь Сла́вы? Госпо́дь си́л, То́й е́сть Ца́рь Сла́вы.<br/>
<br/>
<h3>Псало́м 115</h3>
Ве́ровах, те́мже возглаго́лах, а́з же смири́хся зело́. А́з же ре́х во изступле́нии мое́м: вся́к челове́к ло́жь. Что́ возда́м Го́сподеви о все́х, я́же воздаде́ ми́? Ча́шу спасе́ния прииму́, и и́мя Госпо́дне призову́, моли́твы моя́ Го́сподеви возда́м пред все́ми людьми́ Его́. Честна́ пред Го́сподем сме́рть преподо́бных Его́. О, Го́споди, а́з ра́б Тво́й, а́з ра́б Тво́й и сы́н рабы́ни Твоея́; растерза́л еси́ у́зы моя́. Тебе́ пожру́ же́ртву хвалы́, и во и́мя Госпо́дне призову́. Моли́твы моя́ Го́сподеви возда́м пред все́ми людьми́ Его́, во дво́рех до́му Госпо́дня,
посреди́ тебе́, Иерусали́ме.<br/>
<br/>
Сла́ва, и ны́не: Аллилу́ия. (<span class="text-muted">Трижды с тремя поклонами</span>) (<small class="text-muted">В молитвословах и богослужебных книгах некоторые часто употребляемые молитвы не приводятся каждый раз полностью, а обозначаются сокращенно. Так, «Слава, и ныне: (либо: «Слава: И ныне:») читается как «Слава Отцу и Сыну, и Святому Духу, и ныне и присно, и во веки веков. Аминь». «Слава:» — «Слава Отцу, и Сыну, и Святому Духу». «И ныне:» — «И ныне и присно, и во веки веков. Аминь». «Аллилуиа» (Трижды) — «Аллилуиа, аллилуиа, аллилуиа, слава Тебе,
    Боже». (Трижды)</small>)<br/>
<br/>
<h3>Тропари́, гла́с 8‑й</h3>
Беззако́ния моя́ пре́зри, Го́споди, от Де́вы рожде́йся, и се́рдце мое́ очи́сти, хра́м то́ творя́ пречи́стому Твоему́ Те́лу и Кро́ви, ниже́ отри́ни мене́ от Твоего́ лица́, без числа́ име́яй ве́лию ми́лость.<br/>
<br/>
<span class="text-danger">Сла́ва Отцу, и Сы́ну, и Свято́му Ду́ху.</span> Во прича́стие святы́нь Твои́х ка́ко дерзну́ [вни́ду], недосто́йный? А́ще бо дерзну́ к Тебе́ приступи́ти с досто́йными, хито́н мя́ облича́ет, я́ко не́сть вече́рний, и осужде́ние исхода́тайствую многогре́шной души́ мое́й. Очи́сти, Го́споди, скве́рну души́ моея́, и спаси́ мя́, я́ко Человеколю́бец.<br/>
<br/>
<span class="text-danger">И ны́не, и при́сно, и во ве́ки веко́в, ами́нь.</span> Мно́гая мно́жества мои́х, Богоро́дице, прегреше́ний, к Тебе́ прибего́х, Чи́стая, спасе́ния тре́буя: посети́ немощству́ющую мою́ ду́шу, и моли́ Сы́на Твоего́ и Бо́га на́шего, да́ти ми́ оставле́ние, я́же соде́ях лю́тых, Еди́на благослове́нная.<br/>
<br/>
{% if user_today_date > "2024-03-17" and user_today_date < "2024-05-05" %}
<span class="text-muted">Во Святу́ю же Четыредеся́тницу</span>:<br/>
Егда́ сла́внии ученицы́ на умове́нии ве́чери просвеща́хуся, тогда́ Иу́да злочести́вый сребролю́бием неду́говав омрача́шеся, и беззако́нным судия́м Тебе́ пра́веднаго Судию́ предае́т. Ви́ждь, име́ний рачи́телю, си́х ра́ди удавле́ние употреби́вша: бежи́ несы́тыя души́, Учи́телю такова́я дерзну́вшия. И́же о все́х благи́й Го́споди, сла́ва Тебе́.<br/>
<br/>
{% endif %}
<h3>Псало́м 50</h3>
Поми́луй мя́, Бо́же, по вели́цей ми́лости Твое́й, и по мно́жеству щедро́т Твои́х очи́сти беззако́ние мое́. Наипа́че омы́й мя́ от беззако́ния моего́, и от греха́ моего́ очи́сти мя́; я́ко беззако́ние мое́ а́з зна́ю, и гре́х мо́й предо мно́ю е́сть вы́ну. Тебе́ еди́ному согреши́х и лука́вое пред Тобо́ю сотвори́х; я́ко да оправди́шися во словесе́х Твои́х, и победи́ши внегда́ суди́ти Ти́. Се́ бо, в беззако́ниих зача́т е́смь, и во гресе́х ро́ди мя́ ма́ти моя́. Се́ бо, и́стину возлюби́л еси́; безве́стная и та́йная прему́дрости Твоея́ яви́л ми́ еси́. Окропи́ши мя́
иссо́пом, и очи́щуся; омы́еши мя́, и па́че сне́га убелю́ся. Слу́ху моему́ да́си ра́дость и весе́лие; возра́дуются ко́сти смире́нныя. Отврати́ лице́ Твое́ от гре́х мои́х и вся́ беззако́ния моя́ очи́сти. Се́рдце чи́сто сози́жди во мне́, Бо́же, и ду́х пра́в обнови́ во утро́бе мое́й. Не отве́ржи мене́ от лица́ Твоего́ и Ду́ха Твоего́ Свята́го не отыми́ от мене́. Возда́ждь ми́ ра́дость спасе́ния Твоего́ и Ду́хом Влады́чним утверди́ мя́. Научу́ беззако́нныя путе́м Твои́м, и нечести́вии к Тебе́ обратя́тся. Изба́ви мя́ от крове́й, Бо́же, Бо́же спасе́ния
моего́;
возра́дуется язы́к мо́й пра́вде Твое́й. Го́споди, устне́ мои́ отве́рзеши, и уста́ моя́ возвестя́т хвалу́ Твою́. Я́ко а́ще бы восхоте́л еси́ же́ртвы, да́л бы́х у́бо: всесожже́ния не благоволи́ши. Же́ртва Бо́гу ду́х сокруше́н; се́рдце сокруше́нно и смире́нно Бо́г не уничижи́т. Ублажи́, Го́споди, благоволе́нием Твои́м Сио́на, и да сози́ждутся сте́ны Иерусали́мския. Тогда́ благоволи́ши же́ртву пра́вды, возноше́ние и всесожега́емая; тогда́ возложа́т на олта́рь Тво́й тельцы́.<br/>
<br/>

<h1 id="kanon">Кано́н, гла́с 2‑й</h1>
<h2>Песнь 1</h2>
<p class="small"><span class="text-danger">Ирмо́с:</span> Гряди́те лю́дие, пои́м песнь Христу́ Бо́гу, разде́льшему мо́ре, и наста́вльшему лю́ди, я́же изведе́ из рабо́ты еги́петския, я́ко просла́вися.</p>
<p class="small text-danger">Припе́в: Се́рдце чи́сто сози́жди во мне, Бо́же, и дух прав обнови́ во утро́бе мое́й.</p>
<p>Хлеб живота́ ве́чнующаго да бу́дет ми Те́ло Твое́ Свято́е, благоутро́бне Го́споди, и Честна́я Кровь, и неду́г многообра́зных исцеле́ние.</p>
<p class="small text-danger">Припе́в: Не отве́ржи мене́ от лица́ Твоего́, и Ду́ха Твоего́ Свята́го не отыми́ от мене́.</p>
<p>Оскверне́н де́лы безме́стными окая́нный, Твоего́ Пречи́стаго Те́ла и Боже́ственныя Кро́ве недосто́ин есмь, Христе́, причаще́ния, его́же мя сподо́би.</p>
<p class="small text-danger">Припе́в: Пресвята́я Богоро́дице, спаси́ нас.</p>
<p><span class="text-danger">Богоро́дичен:</span> Земле́ блага́я, благослове́нная Богоневе́сто, клас прозя́бшая неора́нный и спаси́тельный ми́ру, сподо́би мя сей яду́ща спасти́ся.</p>

<h2>Песнь 3</h2>
<p class="small"><span class="text-danger">Ирмо́с:</span> На ка́мени мя́ ве́ры утверди́в, разшири́л еси́ уста́ моя́ на враги́ моя́. Возвесели́ бо ся́ ду́х мо́й, внегда́ пе́ти: не́сть свя́т, я́коже Бо́г на́ш, и не́сть пра́веден, па́че Тебе́, Го́споди.</p>
<p class="small text-danger">Припе́в: Се́рдце чи́сто сози́жди во мне, Бо́же, и дух прав обнови́ во утро́бе мое́й.</p>
<p>Сле́зныя ми пода́ждь, Христе́, ка́пли, скве́рну се́рдца моего́ очища́ющия: я́ко да благо́ю со́вестию очище́н, ве́рою прихожду́ и стра́хом, Влады́ко, ко причаще́нию Боже́ственных Даро́в Твои́х.</p>
<p class="small text-danger">Припе́в: Не отве́ржи мене́ от лица́ Твоего́, и Ду́ха Твоего́ Свята́го не отыми́ от мене́.</p>
<p>Во оставле́ние да бу́дет ми прегреше́ний Пречи́стое Те́ло Твое́, и Боже́ственная Кровь, Ду́ха же Свята́го обще́ние, и в жизнь ве́чную, Человеколю́бче, и страсте́й и скорбе́й отчужде́ние.</p>
<p class="small text-danger">Припе́в: Пресвята́я Богоро́дице, спаси́ нас.</p>
<p><span class="text-danger">Богоро́дичен:</span> Хле́ба живо́тнаго Tрапе́за Пресвята́я, свы́ше ми́лости ра́ди сше́дшаго, и ми́рови но́вый живо́т даю́щаго, и мене́ ны́не сподо́би недосто́йнаго, со стра́хом вкуси́ти сего́, и жи́ву бы́ти.</p>

<h2>Песнь 4</h2>
<p class="small"><span class="text-danger">Ирмо́с:</span> Прише́л еси́ от Де́вы, не хода́тай, ни А́нгел, но Сам, Го́споди, воплощься, и спасл еси́ всего́ мя челове́ка. Тем зову́ Ти: сла́ва си́ле Твое́й, Го́споди.</p>
<p class="small text-danger">Припе́в: Се́рдце чи́сто сози́жди во мне, Бо́же, и дух прав обнови́ во утро́бе мое́й.</p>
<p>Восхоте́л еси́, нас ра́ди вопло́щся, Многоми́лостиве, закла́н бы́ти я́ко овча́, грех ра́ди челове́ческих: те́мже молю́ Тя, и моя́ очи́сти согреше́ния.</p>
<p class="small text-danger">Припе́в: Не отве́ржи мене́ от лица́ Твоего́, и Ду́ха Твоего́ Свята́го не отыми́ от мене́.</p>
<p>Исцели́ души́ моея́ я́звы, Го́споди, и всего́ освяти́: и сподо́би, Влады́ко, я́ко да причащу́ся та́йныя Твоея́ Боже́ственныя ве́чери, окая́нный.</p>
<p class="small text-danger">Припе́в: Пресвята́я Богоро́дице, спаси́ нас.</p>
<p><span class="text-danger">Богоро́дичен:</span> Уми́лостиви и мне Су́щаго от утро́бы Твоея́, Влады́чице, и соблюди́ мя нескве́рна раба́ Твое́го и непоро́чна, я́ко да прие́м у́мнаго би́сера, освящу́ся.</p>

<h2>Песнь 5</h2>
<p class="small"><span class="text-danger">Ирмо́с:</span> Све́та Пода́телю и веко́в Тво́рче, Го́споди, во све́те Твои́х повеле́ний наста́ви нас; ра́зве бо Тебе́ ино́го бо́га не зна́ем.</p>
<p class="small text-danger">Припе́в: Се́рдце чи́сто сози́жди во мне, Бо́же, и дух прав обнови́ во утро́бе мое́й.</p>
<p>Я́коже предре́кл еси́, Христе́, да бу́дет у́бо худо́му рабу́ Твоему́, и во мне пребу́ди, я́коже обеща́лся еси́: се бо Те́ло Твое́ ям Боже́ственное, и пию́ Кровь Твою́.</p>
<p class="small text-danger">Припе́в: Не отве́ржи мене́ от лица́ Твоего́, и Ду́ха Твоего́ Свята́го не отыми́ от мене́.</p>
<p>Сло́ве Бо́жий и Бо́же, угль Те́ла Твое́го да бу́дет мне помраче́нному в просвеще́ние, и очище́ние оскверне́нной души́ мое́й Кровь Твоя́.</p>
<p class="small text-danger">Припе́в: Пресвята́я Богоро́дице, спаси́ нас.</p>
<p><span class="text-danger">Богоро́дичен:</span> Мари́е, Ма́ти Бо́жия, благоуха́ния честно́е селе́ние, Твои́ми моли́твами сосу́д мя избра́нный соде́лай, я́ко да освяще́ний причащу́ся Сы́на Твое́го.</p>

<h2>Песнь 6</h2>
<p class="small"><span class="text-danger">Ирмо́с:</span> В бе́здне грехо́вней валя́яся, неизсле́дную милосе́рдия Твое́го призыва́ю бе́здну: от тли, Бо́же, мя возведи́.</p>
<p class="small text-danger">Припе́в: Се́рдце чи́сто сози́жди во мне, Бо́же, и дух прав обнови́ во утро́бе мое́й.</p>
<p>Ум, ду́шу и се́рдце освяти́, Спа́се, и те́ло мое́, и сподо́би неосужде́нно, Влады́ко, к стра́шным Та́йнам приступи́ти.</p>
<p class="small text-danger">Припе́в: Не отве́ржи мене́ от лица́ Твоего́, и Ду́ха Твоего́ Свята́го не отыми́ от мене́.</p>
<p>Да бых устрани́лся от страсте́й, и Твоея́ благода́ти име́л бы приложе́ние, живота́ же утвержде́ние, причаще́нием Святы́х, Христе́, Та́ин Твои́х.</p>
<p class="small text-danger">Припе́в: Пресвята́я Богоро́дице, спаси́ нас.</p>
<p><span class="text-danger">Богоро́дичен:</span> Бо́жие, Бо́же, Сло́во Свято́е, всего́ мя освяти́, ны́не приходя́щаго к Боже́ственным Твои́м Та́йнам, Святы́я Ма́тере Твоея́ мольба́ми.</p>

<h2>Кондак, глас 2‑й</h2>
<p>Хлеб, Христе́, взя́ти не пре́зри мя, Те́ло Твое́, и Боже́ственную Твою́ ны́не Кровь, пречи́стых, Влады́ко, и стра́шных Твои́х Та́ин причасти́тися окая́ннаго, да не бу́дет ми в суд, да бу́дет же ми в живо́т ве́чный и безсме́ртный.</p>

<h2>Песнь 7</h2>
<p class="small"><span class="text-danger">Ирмо́с:</span> Те́лу злато́му прему́дрыя де́ти не послужи́ша, и в пла́мень са́ми поидо́ша, и бо́ги их обруга́ша, среди́ пла́мене возопи́ша, и ороси́ я А́нгел: услы́шася уже́ уст ва́ших моли́тва.</p>
<p class="small text-danger">Припе́в: Се́рдце чи́сто сози́жди во мне, Бо́же, и дух прав обнови́ во утро́бе мое́й.</p>
<p>Исто́чник благи́х, причаще́ние, Христе́, безсме́ртных Твои́х ны́не Та́инств да бу́дет ми свет, и живо́т, и безстра́стие, и к преспе́янию же и умноже́нию доброде́тели Боже́ственнейшия хода́тайственно, еди́не Бла́же, я́ко да сла́влю Тя.</p>
<p class="small text-danger">Припе́в: Не отве́ржи мене́ от лица́ Твоего́, и Ду́ха Твоего́ Свята́го не отыми́ от мене́.</p>
<p>Да изба́влюся от страсте́й, и враго́в, и ну́жды, и вся́кия ско́рби, тре́петом и любо́вию со благогове́нием, Человеколю́бче, приступа́яй ны́не к Твои́м безсме́ртным и Боже́ственным Та́йнам, и пе́ти Тебе́ сподо́би: благослове́н еси́, Го́споди, Бо́же оте́ц на́ших.</p>
<p class="small text-danger">Припе́в: Пресвята́я Богоро́дице, спаси́ нас.</p>
<p><span class="text-danger">Богоро́дичен:</span> Спа́са Христа́ ро́ждшая па́че ума́, Богоблагода́тная, молю́ Тя ны́не, раб Твой, Чи́стую нечи́стый: хотя́щаго мя ны́не к пречи́стым Та́йнам приступи́ти, очи́сти всего́ от скве́рны пло́ти и ду́ха.</p>

<h2>Песнь 8</h2>
<p class="small"><span class="text-danger">Ирмо́с:</span> В пещь о́гненную ко отроко́м евре́йским снизше́дшаго, и пла́мень в ро́су прело́жшаго Бо́га, по́йте дела́ я́ко Го́спода, и превозноси́те во вся ве́ки.</p>
<p class="small text-danger">Припе́в: Се́рдце чи́сто сози́жди во мне, Бо́же, и дух прав обнови́ во утро́бе мое́й.</p>
<p>Небе́сных, и стра́шных, и святы́х Твои́х, Христе́, ны́не Та́ин, и Боже́ственныя Твоея́ и та́йныя ве́чери о́бщника бы́ти и мене́ сподо́би отча́яннаго, Бо́же, Спа́се мой.</p>
<p class="small text-danger">Припе́в: Не отве́ржи мене́ от лица́ Твоего́, и Ду́ха Твоего́ Свята́го не отыми́ от мене́.</p>
<p>Под Твое́ прибе́г благоутро́бие, Бла́же, со стра́хом зову́ Ти: во мне пребу́ди, Спа́се, и аз, я́коже рекл еси́, в Тебе́; се бо дерза́я на ми́лость Твою́, ям Те́ло Твое́, и пию́ Кровь Твою́.</p>
<p class="small text-danger">Припе́в: Пресвята́я Тро́ице, Бо́же наш, сла́ва Тебе́.</p>
<p><span class="text-danger">Тро́ичен:</span> Трепе́щу, прие́мля огнь, да не опалю́ся я́ко воск и я́ко трава́; о́ле стра́шнаго та́инства! о́ле благоутро́бия Бо́жия! Ка́ко Боже́ственнаго Те́ла и Кро́ве бре́ние причаща́юся, и нетле́нен сотворя́юся?</p>

<h2>Песнь 9</h2>
<p class="small"><span class="text-danger">Ирмо́с:</span> Безнача́льна Роди́теля Сын, Бог и Госпо́дь, вопло́щся от Де́вы нам яви́ся, омраче́нная просвети́ти, собра́ти расточе́нная: тем всепе́тую Богоро́дицу велича́ем.</p>
<p class="small text-danger">Припе́в: Се́рдце чи́сто сози́жди во мне, Бо́же, и дух прав обнови́ во утро́бе мое́й.</p>
<p>Христо́с е́сть, вкуси́те и ви́дите: Госпо́дь нас ра́ди, по нам бо дре́вле бы́вый, еди́ною Себе́ прине́с, я́ко приноше́ние Отцу́ Своему́, при́сно закала́ется, освяща́яй причаща́ющияся.</p>
<p class="small text-danger">Припе́в: Не отве́ржи мене́ от лица́ Твоего́, и Ду́ха Твоего́ Свята́го не отыми́ от мене́.</p>
<p>Душе́ю и те́лом да освящу́ся, Влады́ко, да просвещу́ся, да спасу́ся, да бу́ду дом Твой причаще́нием свяще́нных Та́ин, живу́щаго Тя име́я в себе́ со Отце́м и Ду́хом, Благоде́телю Многоми́лостиве.</p>
<p class="small text-danger">Припе́в: Возда́ждь ми ра́дость спасе́ния Твое́го и Ду́хом Владычним утверди́ мя.</p>
<p>Я́коже огнь да бу́дет ми, и я́ко свет, Те́ло Твое́ и Кровь, Спа́се мой, пречестна́я, опаля́я грехо́вное вещество́, сжига́я же страсте́й те́рние, и всего́ мя просвеща́я, покланя́тися Божеству́ Твоему́.</p>
<p class="small text-danger">Припе́в: Пресвята́я Богоро́дице, спаси́ нас.</p>
<p><span class="text-danger">Богоро́дичен:</span> Бог воплоти́ся от чи́стых крове́й Твои́х; те́мже вся́кий род пое́т Тя, Влады́чице, у́мная же мно́жества сла́вят, я́ко Тобо́ю я́ве узре́ша все́ми Влады́чествующаго, осуществова́вшагося челове́чеством.</p>

{% if user_today_date > "2025-04-19" and user_today_date < "2025-05-29" %}
А́нгел вопия́ше Благода́тней: Чи́стая Де́во, ра́дуйся! И па́ки реку́: ра́дуйся! Твой Сын воскре́се тридне́вен от гро́ба и ме́ртвыя воздви́гнувый; лю́дие, весели́теся!<br/>
Свети́ся, свети́ся, но́вый Иерусали́ме, сла́ва бо Госпо́дня на тебе́ возсия́. Лику́й ны́не и весели́ся, Сио́не. Ты же, Чи́стая, красу́йся, Богоро́дице, о воста́нии Рождества́ Твоего́.<br/>
{% else %}
Досто́йно е́сть я́ко вои́стину блажи́ти Тя Богоро́дицу, Присноблаже́нную и Пренепоро́чную и Ма́терь Бо́га на́шего. Честне́йшую Херуви́м и сла́внейшую без сравне́ния Серафи́м, без истле́ния Бо́га Сло́ва ро́ждшую, су́щую Богоро́дицу Тя велича́ем.<br/>
{% endif %}
<br/>
Святы́й Бо́же, Святы́й Кре́пкий, Святы́й Безсме́ртный, поми́луй нас. (<span class="text-muted">Tрижды</span>)<br/>
<br/>
Сла́ва Отцу, и Сы́ну, и Свято́му Ду́ху, и ны́не и при́сно и во ве́ки веко́в. Ами́нь.<br/>
<br/>
Пресвята́я Тро́ице, поми́луй нас; Го́споди, очи́сти грехи́ на́ша; Влады́ко, прости́ беззако́ния на́ша; Святы́й, посети́ и исцели́ не́мощи на́ша, и́мене Твоего́ ра́ди.<br/>
<br/>
Го́споди, поми́луй. (<span class="text-muted">Трижды</span>)<br/>
<br/>
Сла́ва Отцу, и Сы́ну, и Свято́му Ду́ху, и ны́не и при́сно и во ве́ки веко́в. Ами́нь.<br/>
<br/>
О́тче наш, И́же еси́ на небесе́х! Да святи́тся и́мя Твое́, да прии́дет Ца́рствие Твое́, да бу́дет во́ля Твоя́, я́ко на небеси́ и на земли́. Хлеб наш насу́щный даждь нам днесь; и оста́ви нам до́лги на́ша, я́коже и мы оставля́ем должнико́м на́шим; и не введи́ нас во искуше́ние, но изба́ви нас от лука́ваго.<br/>
<br/>
{% for t in tropar %}
<h3>{{ t.0 }}</h3>
{% for p in t.1 %}
<p class="lead">{{ p }}</p>
{% endfor %}
{% empty %}
<h5>Тропари</h5>
Поми́луй нас, Го́споди, поми́луй нас; вся́каго бо отве́та недоуме́юще, сию́ Ти моли́тву я́ко Влады́це гре́шнии прино́сим: поми́луй нас.<br/>
<br/>
Сла́ва Отцу́ и Сы́ну и Свято́му Ду́ху.<br/>
<br/>
Го́споди, поми́луй нас, на Тя бо упова́хом; не прогне́вайся на ны зело́, ниже́ помяни́ беззако́ний на́ших, но при́зри и ны́не я́ко благоутро́бен, и изба́ви ны от враг на́ших; Ты бо еси́ Бог наш, и мы лю́дие Твои́, вси́ дела́ руку́ Твое́ю, и и́мя Твое́ призыва́ем.<br/>
<br/>
И ны́не и при́сно и во ве́ки веко́в. Ами́нь.<br/>
<br/>
Милосе́рдия две́ри отве́рзи нам, благослове́нная Богоро́дице, наде́ющиися на Тя да не поги́бнем, но да изба́вимся Тобо́ю от бед: Ты бо еси́ спасе́ние ро́да христиа́нскаго.<br/>
{% endfor %}
<br/>
Го́споди, поми́луй. (<span class="text-muted">40 ра́з</span>) <small class="text-muted">И покло́ны, ско́лько хочешь.</small><br/>
<br/>
<h4>И стихи́:</h4>
<br/>
Хотя́ я́сти, челове́че, Те́ло Влады́чне,<br/>
Стра́хом приступи́, да не опали́шися: о́гнь бо е́сть.<br/>
Боже́ственную же пия́ Кро́вь ко обще́нию,<br/>
Пе́рвее примири́ся тя́ опеча́лившим.<br/>
Та́же дерза́я, та́инственное бра́шно я́ждь.<br/>
<br/>
Пре́жде прича́стия стра́шныя же́ртвы,<br/>
Животворя́щаго Те́ла Влады́чня,<br/>
Си́м помоли́ся о́бразом со тре́петом:<br/>
<br/>
<h2>Моли́тва 1‑я, свт. Васи́лия Великого (†379)</h2>
Влады́ко Го́споди Иису́се Христе́, Бо́же на́ш, Исто́чниче жи́зни и безсме́ртия, всея́ тва́ри ви́димыя и неви́димыя Соде́телю, безнача́льнаго Отца́ соприсносу́щный Сы́не и собезнача́льный, премно́гия ра́ди бла́гости в после́дния дни́ в пло́ть оболки́йся, и распны́йся, и погребы́йся за ны́ неблагода́рныя и злонра́вныя, и Твое́ю Кро́вию обнови́вый растле́вшее грехо́м естество́ на́ше, Са́м, Безсме́ртный Царю́, приими́ и мое́ гре́шнаго покая́ние, и приклони́ у́хо Твое́ мне́, и услы́ши глаго́лы моя́.<br/>
<br/>
Согреши́х бо, Го́споди, согреши́х на не́бо и пред Тобо́ю, и не́смь досто́ин воззре́ти на высоту́ сла́вы Твоея́: прогне́вах бо Твою́ бла́гость, Твоя́ за́поведи преступи́в, и не послу́шав Твои́х повеле́ний. Но Ты́, Го́споди, незло́бив сы́й, долготерпели́в же и многоми́лостив, не пре́дал еси́ мя́ поги́бнути со беззако́ньми мои́ми, моего́ вся́чески ожида́я обраще́ния.<br/>
<br/>
Ты́ бо ре́кл еси́, Человеколю́бче, проро́ком Твои́м: я́ко хоте́нием не хощу́ сме́рти гре́шника, но е́же обрати́тися и жи́ву бы́ти ему́. Не хо́щеши бо, Влады́ко, созда́ния Твое́ю руку́ погуби́ти, ниже́ благоволи́ши о поги́бели челове́честей, но хо́щеши все́м спасти́ся, и в ра́зум и́стины приити́. Те́мже и а́з, а́ще и недосто́ин е́смь небесе́ и земли́, и сея́ привре́менныя жи́зни, всего́ себе́ повину́в греху́, и сласте́м порабо́тив, и Тво́й оскверни́в о́браз; но творе́ние и созда́ние Твое́ бы́в, не отчаява́ю своего́ спасе́ния окая́нный, на Твое́ же
безме́рное благоутро́бие дерза́я, прихожду́.<br/>
<br/>
Приими́ у́бо и мене́, Человеколю́бче Го́споди, я́коже блудни́цу, я́ко разбо́йника, я́ко мытаря́ и я́ко блу́днаго, и возми́ мое́ тя́жкое бре́мя грехо́в, гре́х взе́мляй ми́ра, и не́мощи челове́ческия исцеля́яй, тружда́ющияся и обремене́нныя к Себе́ призыва́яй и упокоева́яй, не прише́дый призва́ти пра́ведныя, но гре́шныя на покая́ние.<br/>
<br/>
И очи́сти мя́ от вся́кия скве́рны пло́ти и ду́ха, и научи́ мя́ соверша́ти святы́ню во стра́се Твое́м: я́ко да чи́стым све́дением со́вести моея́, святы́нь Твои́х ча́сть прие́мля, соединю́ся свято́му Те́лу Твоему́ и Кро́ви, и име́ю Тебе́ во мне́ живу́ща и пребыва́юща, со Отце́м, и Святы́м Твои́м Ду́хом.<br/>
<br/>
Е́й, Го́споди Иису́се Христе́, Бо́же мо́й, и да не в су́д ми́ бу́дет прича́стие пречи́стых и животворя́щих Та́ин Твои́х, ниже́ да не́мощен бу́ду душе́ю же и те́лом, от е́же недосто́йне те́м причаща́тися, но да́ждь ми́, да́же до коне́чнаго моего́ издыха́ния, неосужде́нно восприима́ти ча́сть святы́нь Твои́х, в Ду́ха Свята́го обще́ние, в напу́тие живота́ ве́чнаго, и во благоприя́тен отве́т на Стра́шнем суди́щи Твое́м: я́ко да и а́з со все́ми избра́нными Твои́ми о́бщник бу́ду нетле́нных Твои́х бла́г, я́же угото́вал еси́ лю́бящим Тя́, Го́споди, в ни́хже
препросла́влен еси́ во ве́ки. Ами́нь.<br/>
<br/>
<h2>Моли́тва 2‑я, свт. Иоа́нна Златоустого (†407)</h2>
Го́споди Бо́же мо́й, ве́м, я́ко не́смь досто́ин, ниже́ дово́лен, да под кро́в вни́деши хра́ма души́ моея́, зане́же ве́сь пу́ст и па́лся е́сть, и не и́маши во мне́ ме́ста досто́йна е́же главу́ подклони́ти: но я́коже с высоты́ на́с ра́ди смири́л еси́ Себе́, смири́ся и ны́не смире́нию моему́; и я́коже восприя́л еси́ в верте́пе и в я́слех безслове́сных возлещи́, си́це восприими́ и в я́слех безслове́сныя моея́ души́, и во оскверне́нное мое́ те́ло вни́ти.<br/>
<br/>
И я́коже не неудосто́ил еси́ вни́ти, и свечеря́ти со гре́шники в до́му Си́мона прокаже́ннаго, та́ко изво́ли вни́ти и в до́м смире́нныя моея́ души́, прокаже́нныя и гре́шныя; и я́коже не отри́нул еси́ подо́бную мне́ блудни́цу и гре́шную, прише́дшую и прикосну́вшуюся Тебе́, си́це умилосе́рдися и о мне́ гре́шнем, приходя́щем и прикаса́ющем Ти́ ся́; и я́коже не возгнуша́лся еси́ скве́рных ея́ у́ст и нечи́стых, целу́ющих Тя́, ниже́ мои́х возгнуша́йся скве́рнших о́ныя у́ст и нечи́стших, ниже́ ме́рзких мои́х и нечи́стых усте́н, и скве́рнаго и нечи́стейшаго
моего́ язы́ка.<br/>
<br/>
Но да бу́дет ми́ у́гль пресвята́го Твоего́ Те́ла, и честны́я Твоея́ Кро́ве, во освяще́ние и просвеще́ние и здра́вие смире́нней мое́й души́ и те́лу, во облегче́ние тя́жестей мно́гих мои́х согреше́ний, в соблюде́ние от вся́каго диа́вольскаго де́йства, во отгна́ние и возбране́ние зла́го моего́ и лука́ваго обы́чая, во умерщвле́ние страсте́й, в снабде́ние за́поведей Твои́х, в приложе́ние Боже́ственныя Твоея́ благода́ти, и Твоего́ Ца́рствия присвое́ние.<br/>
<br/>
Не бо я́ко презира́яй прихожду́ к Тебе́, Христе́ Бо́же, но я́ко дерза́я на неизрече́нную Твою́ бла́гость, и да не на мно́зе удаля́яйся обще́ния Твоего́, от мы́сленнаго во́лка звероуловле́н бу́ду. Те́мже молю́ся Тебе́: я́ко еди́н сы́й Свя́т, Влады́ко, освяти́ мою́ ду́шу и те́ло, у́м и се́рдце, чревеса́ и утро́бы, и всего́ мя́ обнови́, и вкорени́ стра́х Тво́й во удесе́х мои́х, и освяще́ние Твое́ неотъе́млемо от мене́ сотвори́; и бу́ди ми́ помо́щник и засту́пник, окормля́я в ми́ре живо́т мо́й, сподобля́я мя́ и одесну́ю Тебе́ предстоя́ния со святы́ми Твои́ми,
моли́твами и моле́ньми Пречи́стыя Твоея́ Ма́тере, невеще́ственных Твои́х служи́телей и пречи́стых си́л, и все́х святы́х, от ве́ка Тебе́ благоугоди́вших. Ами́нь<br/>
<br/>
<h2>Моли́тва 3‑я, прп. Симео́на Метафра́ста (†960)</h2>
Еди́не чи́стый и нетле́нный Го́споди, за неизрече́нную ми́лость человеколю́бия на́ше все́ восприе́мый смеше́ние, от чи́стых и де́вственных крове́й па́че естества́ ро́ждшия Тя́, Ду́ха Боже́ственнаго наше́ствием, и благоволе́нием Отца́ присносу́щнаго, Христе́ Иису́се, прему́дросте Бо́жия, и ми́ре, и си́ло; Твои́м восприя́тием животворя́щая и спаси́тельная страда́ния восприе́мый, кре́ст, гво́здия, копие́, сме́рть, умертви́ моя́ душетле́нныя стра́сти теле́сныя.<br/>
Погребе́нием Твои́м а́дова плени́вый ца́рствия, погреби́ моя́ благи́ми по́мыслы лука́вая сове́тования, и лука́вствия ду́хи разори́.<br/>
<br/>
Тридне́вным Твои́м и живоно́сным воскресе́нием па́дшаго пра́отца возста́вивый, возста́ви мя́ грехо́м попо́лзшагося, о́бразы мне́ покая́ния предлага́я.<br/>
<br/>
Пресла́вным Твои́м вознесе́нием плотско́е обожи́вый восприя́тие, и сие́ десны́м Отца́ седе́нием почты́й, сподо́би мя́ прича́стием святы́х Твои́х Та́ин десну́ю ча́сть спаса́емых получи́ти.<br/>
<br/>
Сни́тием Уте́шителя Твоего́ Ду́ха сосу́ды че́стны свяще́нныя Твоя́ ученики́ соде́лавый, прия́телище и мене́ покажи́ Того́ прише́ствия.<br/>
<br/>
Хотя́й па́ки приити́ суди́ти вселе́нней пра́вдою, благоволи́ и мне́ усре́сти Тя́ на о́блацех, Судию́ и Созда́теля моего́, со все́ми святы́ми Твои́ми: да безконе́чно славосло́влю и воспева́ю Тя́, со безнача́льным Твои́м Отце́м, и Пресвяты́м и Благи́м и Животворя́щим Твои́м Ду́хом, ны́не и при́сно, и во ве́ки веко́в. Ами́нь.<br/>
<br/>
<h2>Моли́тва 4‑я, прп. Иоа́нна Дамаски́на (ок. †780)</h2>
Влады́ко Го́споди Иису́се Христе́, Бо́же на́ш, еди́не име́яй вла́сть челове́ком оставля́ти грехи́, я́ко бла́г и Человеколю́бец пре́зри моя́ вся́ в ве́дении и не в ве́дении прегреше́ния, и сподо́би мя́ неосужде́нно причасти́тися Боже́ственных, и пресла́вных, и пречи́стых, и животворя́щих Твои́х Та́ин, не в тя́жесть, ни в му́ку, ни в приложе́ние грехо́в, но во очище́ние, и освяще́ние, и обруче́ние бу́дущаго Живота́ и ца́рствия, в сте́ну и по́мощь, и в возраже́ние сопроти́вных, во истребле́ние мно́гих мои́х согреше́ний.<br/>
Ты́ бо еси́ Бо́г ми́лости, и щедро́т, и человеколю́бия, и Тебе́ сла́ву возсыла́ем, со Отце́м, и Святы́м Ду́хом, ны́не и при́сно, и во ве́ки веко́в. Ами́нь.<br/>
<br/>
<h2>Моли́тва 5‑я, святого Васи́лия Великого</h2>
Ве́м, Го́споди, я́ко недосто́йне причаща́юся пречи́стаго Твоего́ Те́ла и честны́я Твоея́ Кро́ве, и пови́нен е́смь, и су́д себе́ я́м и пию́, не разсужда́я Те́ла и Кро́ве Тебе́ Христа́ и Бо́га моего́, но на щедро́ты Твоя́ дерза́я прихожду́ к Тебе́ ре́кшему: яды́й Мою́ пло́ть, и пия́й Мою́ кро́вь, во Мне́ пребыва́ет, и А́з в не́м.<br/>
Умилосе́рдися у́бо, Го́споди, и не обличи́ мя́ гре́шнаго, но сотвори́ со мно́ю по ми́лости Твое́й; и да бу́дут ми́ свята́я сия́ во исцеле́ние, и очище́ние, и просвеще́ние, и сохране́ние, и спасе́ние, и во освяще́ние души́ и те́ла; во отгна́ние вся́каго мечта́ния, и лука́ваго дея́ния, и де́йства диа́вольскаго, мысленнe во удесе́х мои́х де́йствуемаго, в дерзнове́ние и любо́вь, я́же к Тебе́; во исправле́ние жития́ и утвержде́ние, в возраще́ние доброде́тели и соверше́нства; во исполне́ние за́поведей, в Ду́ха Свята́го обще́ние, в напу́тие живота́
ве́чнаго, во отве́т благоприя́тен на Стра́шнем суди́щи Твое́м: не в су́д или́ во осужде́ние.<br/>
<br/>
<h2>Моли́тва 6‑я, прп. Симео́на Нового Богосло́ва (†1021)</h2>
От скве́рных усте́н, от ме́рзкаго се́рдца, от нечи́стаго язы́ка, от души́ оскверне́ны, приими́ моле́ние, Христе́ мо́й, и не пре́зри мои́х ни слове́с, ниже́ образо́в, ниже́ безсту́дия. Да́ждь ми́ дерзнове́нно глаго́лати, я́же хощу́, Христе́ мо́й, па́че же и научи́ мя́, что́ ми́ подоба́ет твори́ти и глаго́лати.<br/>
<br/>
Согреши́х па́че блудни́цы, я́же уве́де, где́ обита́еши, ми́ро купи́вши, прии́де де́рзостне пома́зати Твои́ но́зе, Бо́га моего́, Влады́ки и Христа́ моего́. Я́коже ону́ не отри́нул еси́ прише́дшую от се́рдца, ниже́ мене́ возгнуша́йся, Сло́ве: Твои́ же ми́ пода́ждь но́зе, и держа́ти и целова́ти, и струя́ми сле́зными, я́ко многоце́нным ми́ром, сия́ де́рзостно пома́зати. Омы́й мя́ слеза́ми мои́ми, очи́сти мя́ и́ми, Сло́ве. Оста́ви и прегреше́ния моя́, и проще́ние ми́ пода́ждь.<br/>
<br/>
Ве́си зо́л мно́жество, ве́си и стру́пы моя́, и я́звы зри́ши моя́, но и ве́ру ве́си, и произволе́ние зри́ши, и воздыха́ние слы́шиши. Не таи́тся Тебе́, Бо́же мо́й, Тво́рче мо́й, Изба́вителю мо́й, ниже́ ка́пля сле́зная, ниже́ ка́пли ча́сть не́кая. Несоде́ланное мое́ ви́десте о́чи Твои́, в кни́зе же Твое́й и еще́ несоде́янная напи́сана Тебе́ су́ть.<br/>
<br/>
Ви́ждь смире́ние мое́, ви́ждь тру́д мо́й ели́к, и грехи́ вся́ оста́ви ми́, Бо́же вся́ческих: да чи́стым се́рдцем, притре́петною мы́слию, и душе́ю сокруше́нною, нескве́рных Твои́х причащу́ся и пресвяты́х Та́ин, и́миже оживля́ется и обожа́ется вся́к яды́й же и пия́й чи́стым се́рдцем; Ты́ бо ре́кл еси́, Влады́ко мо́й: вся́к яды́й Мою́ Пло́ть, и пия́й Мою́ Кро́вь, во Мне́ у́бо се́й пребыва́ет, в не́мже и А́з е́смь. И́стинно сло́во вся́ко Влады́ки и Бо́га моего́: боже́ственных бо причаща́яйся и боготворя́щих благода́тей, не у́бо е́смь еди́н, но с Тобо́ю, Христе́
мо́й, Све́том трисо́лнечным, просвеща́ющим ми́р. Да у́бо не еди́н пребу́ду кроме́ Тебе́ Живода́вца, дыха́ния моего́, живота́ моего́, ра́дования моего́, спасе́ния ми́ру.<br/>
<br/>
Сего́ ра́ди к Тебе́ приступи́х, я́коже зри́ши, со слеза́ми, и душе́ю сокруше́нною избавле́ния мои́х прегреше́ний прошу́ прия́ти ми́, и Твои́х живода́тельных и непоро́чных Та́инств причасти́тися неосужде́нно, да пребу́деши, я́коже ре́кл еси́, со мно́ю треокая́нным: да не кроме́ обре́т мя́ Твоея́ благода́ти, преле́стник восхи́тит мя́ льсти́вне, и прельсти́в отведе́т боготворя́щих Твои́х слове́с. Сего́ ра́ди к Тебе́ припа́даю, и те́пле вопию́ Ти́: я́коже блу́днаго прия́л еси́, и блудни́цу прише́дшую, та́ко приими́ мя́ блу́днаго и скве́рнаго,
Ще́дре.<br/>
<br/>
Душе́ю сокруше́нною, ны́не бо к Тебе́ приходя́, ве́м, Спа́се, я́ко и́ный, я́коже а́з, не прегреши́ Тебе́, ниже́ соде́я дея́ния, я́же а́з соде́ях. Но сие́ па́ки ве́м, я́ко не вели́чество прегреше́ний, ни грехо́в мно́жество превосхо́дит Бо́га моего́ мно́гое долготерпе́ние, и человеколю́бие кра́йнее; но ми́лостию состра́стия те́пле ка́ющияся, и чи́стиши, и све́тлиши, и све́та твори́ши прича́стники, о́бщники Божества́ Твоего́ соде́ловаяй незави́стно, и стра́нное и А́нгелом, и челове́ческим мы́слем, бесе́дуеши и́м мно́гажды, я́коже друго́м Твои́м и́стинным.
Сия́ де́рзостна творя́т мя́, сия́ вперя́ют мя́, Христе́ мо́й.<br/>
<br/>
И дерза́я Твои́м бога́тым к на́м благодея́нием, ра́дуяся вку́пе и трепе́ща, огне́ви причаща́юся трава́ сы́й, и стра́нно чу́до, ороша́ем неопа́льно, я́коже у́бо купина́ дре́вле неопа́льне горя́щи.<br/>
<br/>
Ны́не благода́рною мы́слию, благода́рным же се́рдцем, благода́рными удесы́ мои́ми, души́ и те́ла моего́, покланя́юся и велича́ю, и славосло́влю Тя́, Бо́же мо́й, я́ко благослове́нна су́ща, ны́не же и во ве́ки.<br/>
<br/>
<h2>Моли́тва 7‑я, святого Иоа́нна Златоустого</h2>
Бо́же, осла́би, оста́ви, прости́ ми́ согреше́ния моя́, ели́ка Ти́ согреши́х, а́ще сло́вом, а́ще де́лом, а́ще помышле́нием, во́лею или́ нево́лею, ра́зумом или́ неразу́мием, вся́ ми́ прости́ я́ко бла́г и Человеколю́бец, и моли́твами Пречи́стыя Твоея́ Ма́тере, у́мных Твои́х служи́телей и святы́х си́л, и все́х святы́х от ве́ка Тебе́ благоугоди́вших, неосужде́нно благоволи́ прия́ти ми́ свято́е и пречи́стое Твое́ Те́ло и честну́ю Кро́вь, во исцеле́ние души́ же и те́ла, и во очище́ние лука́вых мои́х помышле́ний.<br/>
Я́ко Твое́ е́сть ца́рство и си́ла и сла́ва, со Отце́м и Святы́м Ду́хом, ны́не и при́сно, и во ве́ки веко́в. Ами́нь.<br/>
<br/>
<h2>Его́ же, 8‑я</h2>
Не́смь дово́лен, Влады́ко Го́споди, да вни́деши под кро́в души́ моея́; но поне́же хо́щеши Ты́, я́ко Человеколю́бец, жи́ти во мне́, дерза́я приступа́ю; повелева́еши, да отве́рзу две́ри, я́же Ты́ еди́н созда́л еси́, и вни́деши со человеколю́бием я́коже еси́, вни́деши и просвеща́еши помраче́нный мо́й по́мысл.<br/>
Ве́рую, я́ко сие́ сотвори́ши: не бо блудни́цу, со слеза́ми прише́дшую к Тебе́, отгна́л еси́; ниже́ мытаря́ отве́ргл еси́ пока́явшася; ниже́ разбо́йника, позна́вша Ца́рство Твое́, отгна́л еси́; ниже́ гони́теля пока́явшася оста́вил еси́, е́же бе́: но от покая́ния Тебе́ прише́дшия вся́, в ли́це Твои́х друго́в вчини́л еси́, Еди́н сы́й благослове́нный всегда́, ны́не и в безконе́чныя ве́ки. Ами́нь.<br/>
<br/>
<h2>Его́ же, 9‑я</h2>
Го́споди Иису́се Христе́ Бо́же мо́й, осла́би, оста́ви, очи́сти и прости́ ми́ гре́шному, и непотре́бному, и недосто́йному рабу́ Твоему́, прегреше́ния, и согреше́ния, и грехопаде́ния моя́, ели́ка Ти́ от ю́ности моея́, да́же до настоящего дне́ и часа́ согреши́х: а́ще в ра́зуме и в неразу́мии, а́ще в словесе́х или́ де́лех, или́ помышле́ниих и мы́слех, и начина́ниих, и все́х мои́х чу́вствах.<br/>
И моли́твами безсе́менно ро́ждшия Тя́, Пречи́стыя и Присноде́вы Мари́и, Ма́тере Твоея́, еди́ныя непосты́дныя наде́жды и предста́тельства и спасе́ния моего́, сподо́би мя́ неосужде́нно причасти́тися пречи́стых, безсме́ртных, животворя́щих и стра́шных Твои́х Та́инств, во оставле́ние грехо́в и в жи́знь ве́чную: во освяще́ние, и просвеще́ние, кре́пость, исцеле́ние, и здра́вие души́ же и те́ла, и в потребле́ние и всесоверше́нное погубле́ние лука́вых мои́х помысло́в, и помышле́ний, и предприя́тий, и нощны́х мечта́ний, те́мных и лука́вых духо́в; я́ко
Твое́ е́сть ца́рство, и си́ла, и сла́ва, и че́сть, и поклоне́ние, со Отце́м и Святы́м Твои́м Ду́хом, ны́не и при́сно, и во ве́ки веко́в. Ами́нь.<br/>
<br/>
<h2>Моли́тва 10‑я, святого Иоа́нна Дамаски́на</h2>
Пред две́рьми хра́ма Твоего́ предстою́, и лю́тых помышле́ний не отступа́ю; но Ты́, Христе́ Бо́же, мытаря́ оправди́вый, и ханане́ю поми́ловавый, и разбо́йнику рая́ две́ри отве́рзый, отве́рзи ми́ утро́бы человеколю́бия Твоего́ и приими́ мя́ приходя́ща и прикаса́ющася Тебе́, я́ко блудни́цу, и кровоточи́вую: о́ва у́бо кра́я ри́зы Твоея́ косну́вшися, удо́бь исцеле́ние прия́т, о́ва же пречи́стеи Твои́ но́зе удержа́вши, разреше́ние грехо́в понесе́.<br/>
А́з же, окая́нный, все́ Твое́ Те́ло дерза́я восприя́ти, да не опале́н бу́ду; но приими́ мя́, я́коже о́ныя, и просвети́ моя́ душе́вныя чу́вства, попаля́я моя́ грехо́вныя вины́, моли́твами безсе́менно Ро́ждшия Тя́, и Небе́сных си́л; я́ко благослове́н еси́ во ве́ки веко́в. Ами́нь.<br/>
<br/>
<h2>Моли́тва святого Иоа́нна Златоустого</h2>
Ве́рую, Го́споди, и испове́дую, я́ко Ты́ еси́ вои́стинну Христо́с, Сы́н Бо́га жива́го, прише́дый в ми́р гре́шныя спасти́, от ни́хже пе́рвый е́смь а́з. Еще́ ве́рую, я́ко сие́ е́сть са́мое пречи́стое Те́ло Твое́, и сия́ е́сть са́мая честна́я Кро́вь Твоя́. Молю́ся у́бо Тебе́: поми́луй мя́, и прости́ ми́ прегреше́ния моя́, во́льная и нево́льная, я́же сло́вом, я́же де́лом, я́же ве́дением и неве́дением, и сподо́би мя́ неосужде́нно причасти́тися пречи́стых Твои́х Та́инств, во оставле́ние грехо́в, и в жи́знь ве́чную. Ами́нь.<br/>
<br/>
<h5 id="prihodya_jhe_prichastitca">Приходя́ же причаститься, произноси мы́сленно эти стихи́ Метафра́ста (<small class="text-muted">читается в храме перед Причастием</small>):</h5>
<p>Се́ приступа́ю к Боже́ственному Причаще́нию.<br/>
Соде́телю, да не опали́ши мя́ приобще́нием:<br/>
О́гнь бо еси́, недосто́йныя попаля́яй.<br/>
Но у́бо очи́сти мя́ от вся́кия скве́рны.<br/>
</p>
<p class="text-muted">Зате́м:</p>
<p>Ве́чери Твоея́ та́йныя дне́сь, Сы́не Бо́жий, прича́стника мя́ приими́; не бо враго́м Твои́м та́йну пове́м, ни лобза́ния Ти́ да́м, я́ко Иу́да, но я́ко разбо́йник испове́даю Тя́: помяни́ мя́, Го́споди, во Ца́рствии Твое́м.</p>
<p class="text-muted">И стихи́:</p>
<p>Боготворя́щую Кро́вь ужасни́ся, челове́че, зря́: О́гнь бо е́сть, недосто́йныя попаля́яй. Боже́ственное Те́ло и обожа́ет мя́ и пита́ет: Обожа́ет ду́х, у́м же пита́ет стра́нно.</p>
<p class="text-muted">Пото́м тропари́:</p>
<p>Услади́л мя́ еси́ любо́вию, Христе́, и измени́л мя́ еси́ Боже́ственным Твои́м раче́нием; но попали́ огне́м невеще́ственным грехи́ моя́, и насы́титися е́же в Тебе́ наслажде́ния сподо́би: да лику́я возвелича́ю, Бла́же, два́ прише́ствия Твоя́.</p>
<p>Во све́тлостех Святы́х Твои́х ка́ко вни́ду недосто́йный? А́ще бо дерзну́ совни́ти в черто́г, оде́жда мя́ облича́ет, я́ко не́сть бра́чна, и свя́зан изве́ржен бу́ду от А́нгелов. Очи́сти, Го́споди, скве́рну души́ моея́, и спаси́ мя́, я́ко Человеколю́бец.</p>
<p class="text-muted">Та́кже моли́тву:</p>
<p>Влады́ко Человеколю́бче, Го́споди Иису́се Христе́ Бо́же мо́й, да не в су́д ми́ бу́дут Свята́я сия́, за е́же недосто́йну ми́ бы́ти: но во очище́ние и освяще́ние души́ же и те́ла, и во обруче́ние бу́дущия жи́зни и ца́рствия. Мне́ же, е́же прилепля́тися Бо́гу, бла́го е́сть, полага́ти во Го́споде упова́ние спасе́ния моего́.</p>
<p class="text-muted">И еще́:</p>
<p>Ве́чери Твоея́ та́йныя дне́сь, Сы́не Бо́жий, прича́стника мя́ приими́; не бо враго́м Твои́м та́йну пове́м, ни лобза́ния Ти́ да́м, я́ко Иу́да, но я́ко разбо́йник испове́даю Тя́: помяни́ мя́, Го́споди, во Ца́рствии Твое́м.</p>
</div>
{% endblock %}
