<div class="{% if today.weekday == 0 %}p-3 alert alert-secondary{% else %}p-1{% endif %}">
    <h3 class="mt-3 mb-3">В понедельник, Небесным чинам бесплотным</h3>
    <h5>Тропарь, глас 4-й</h5>
    <div class="m-3">
        Небе́сных во́инств Архистрати́зи, мо́лим вас при́сно мы недосто́йнии, да ва́шими моли́твами оградите́ нас кро́вом крил невеще́ственныя ва́шея сла́вы, сохраня́юще нас припа́дающих приле́жно и вопию́щих: от бед изба́вите нас, я́ко чинонача́льницы вы́шних сил.
    </div>
    <h5>Кондак, глас 2-й</h5>
    <div class="m-3">
        Архистрати́зи Бо́жии, служи́телие Боже́ственныя славы, Ангелов нача́льницы и челове́ков наста́вницы, поле́зное нам проси́те и ве́лию ми́лость, я́ко безпло́тных Архистрати́зи.
    </div>
</div>
<div class="{% if today.weekday == 1 %}p-3 alert alert-secondary{% else %}p-1{% endif %}">
    <h3 class="mt-3 mb-3">Во вторник, Крестителю и Предтече Иоанну</h3>
    <h5>Тропарь, глас 2-й</h5>
    <div class="m-3">
        Па́мять пра́веднаго с похвала́ми, тебе же довле́ет свиде́тельство Госпо́дне, Предте́че: показа́л бо ся еси́ вои́стинну и проро́ков честне́йший, я́ко и в струя́х крести́ти сподо́бился еси́ Пропове́даннаго. Те́мже за и́стину пострада́в ра́дуяся, благовести́л еси́ и су́щим во а́де Бога, я́вльшагося пло́тию, взе́млющаго грех ми́ра и подаю́щаго нам ве́лию ми́лость.
    </div>
    <h5>Кондак, глас 6-й</h5>
    <div class="m-3">
        Проро́че Бо́жий и Предте́че благода́ти, главу́ твою́, яко шипо́к свяще́ннейший, от земли́ обре́тше, исцеле́ния всегда́ прие́млем, и́бо па́ки, я́коже пре́жде, в ми́ре пропове́дуеши покая́ние.
    </div>
</div>
<div class="{% if today.weekday == 2 or today.weekday == 4 %} alert alert-secondary{% else %}p-1{% endif %}">
    <h3 class="mt-3 mb-3">В среду и пятницу, Кресту</h3>
    <h5>Тропарь, глас 1-й</h5>
    <div class="m-3">
        Спаси́, Го́споди, лю́ди Твоя́ и благослови́ достоя́ние Твое, побе́ды православным христианом на сопроти́вныя да́руя, и Твое́ сохраня́я Кресто́м Твоим жи́тельство.
    </div>
    <h5>Кондак, глас 4-й</h5>
    <div class="m-3">
        Вознесы́йся на Крест во́лею, тезоимени́тому Твоему́ но́вому жи́тельству щедро́ты Твоя́ да́руй, Христе́ Боже; возвесели́ нас си́лою Твое́ю, побе́ды дая́ нам на супоста́ты, посо́бие иму́щим Твое, ору́жие мира, непобеди́мую побе́ду.
    </div>
</div>
<div class="{% if today.weekday == 3 %}p-3 alert alert-secondary{% else %}p-1{% endif %}">
    <h3 class="mt-3 mb-3">В четверг, апостолам и святителю Николаю</h3>
    <h5>Тропарь апостолам, глас 3-й</h5>
    <div class="m-3">
        Апо́столи святи́и, моли́те Ми́лостиваго Бо́га, да прегреше́ний оставле́ние пода́ст душа́м на́шим.
    </div>
    <h5>Тропарь святителю, глас 4-й</h5>
    <div class="m-3">
        Пра́вило ве́ры и о́браз кро́тости, воздержа́ния учи́теля яви́ тя ста́ду твоему я́же веще́й и́стина; сего́ ра́ди стяжа́л еси́ смире́нием высо́кая, нището́ю бога́тая, отче священнонача́льниче Нико́лае, моли́ Христа Бога спасти́ся душа́м нашим.
    </div>
    <h5>Кондак апостолам, глас 2-й</h5>
    <div class="m-3">
        Тве́рдыя и боговеща́нныя пропове́датели, верх апо́столов Твоих, Господи, прия́л еси́ в наслажде́ние благи́х Твоих и поко́й; боле́зни бо о́нех и смерть прия́л еси́ па́че вся́каго всепло́дия, Еди́не све́дый серде́чная.
    </div>
    <h5>Кондак святителю, глас 3-й</h5>
    <div class="m-3">
        В Ми́рех, свя́те, священноде́йствитель показа́лся еси́: Христо́во бо, преподо́бне, Ева́нгелие испо́лнив, положи́л еси́ ду́шу твою́ о лю́дех твоих, и спасл еси́ непови́нныя от сме́рти; сего́ ра́ди освяти́лся еси́, я́ко вели́кий таи́нник Бо́жия благода́ти.
    </div>
</div>
<div class="{% if today.weekday == 5 %}p-3 alert alert-secondary{% else %}p-1{% endif %}">
    <h3 class="mt-3 mb-3">В субботу, всем святым и за умерших</h3>
    <h5>Тропари, глас 2-й</h5>
    <div class="m-3">
        Апо́столи, му́ченицы и проро́цы, святи́телие, преподо́бнии и пра́веднии, до́бре по́двиг соверши́вшии и ве́ру соблю́дшии, дерзнове́ние иму́ще ко Спа́су, о нас Того, я́ко Бла́га, моли́те спасти́ся, мо́лимся, душа́м на́шим.
    </div>
    <div class="m-3">
        Помяни́, Го́споди, яко Благ, рабы́ Твоя́, и ели́ка в житии́ согреши́ша, прости́: никто́же бо безгрéшен, то́кмо Ты, моги́й и преста́вленным да́ти покой.
    </div>
    <h5>Кондаки, глас 8-й</h5>
    <div class="m-3">
        Со святы́ми упоко́й, Христе́, ду́ши раб Твоих, иде́же несть боле́знь, ни печа́ль, ни воздыха́ние, но жизнь безконе́чная.
    </div>
    <div class="m-3">
        Яко нача́тки естества́ Насади́телю тва́ри вселе́нная прино́сит Ти, Го́споди, богоно́сныя му́ченики; тех моли́твами в ми́ре глубо́це Це́рковь Твою, жи́тельство Твое, Богоро́дицею соблюди́, Многоми́лостиве.
    </div>
</div>
