{% load common %}
<p class="lead">Тропари, кондаки, величания и задостойники на двунадесятые праздники</p>
<table id="contents" class="table">
    <tbody>
        <tr><td><small>{{ "2025-01-07"|calendar }}</small></td><td><a href="#2025-01-07">Рождество Господа нашего Иисуса Христа</a></td></tr>
        <tr><td><small>{{ "2025-01-19"|calendar }}</small></td><td><a href="#2025-01-19">Крещение Господа нашего Иисуса Христа</a></td></tr>
        <tr><td><small>{{ "2025-02-15"|calendar }}</small></td><td><a href="#2025-02-15">Сретение Господа нашего Иисуса Христа</a></td></tr>
        <tr><td><small>{{ "2025-04-07"|calendar }}</small></td><td><a href="#2025-04-07">Благовещение Пресвятой Богородицы</a></td></tr>
        <tr><td><small>{{ "2025-04-13"|calendar }}</small></td><td><a href="#2025-04-13">Вход Господень в Иерусалим</a></td></tr>
        <tr class="alert alert-success"><td><small>{{ "2025-04-20"|calendar }}</small></td><td><a href="#2025-04-20">Светлое Христово Воскресение. ПАСХА</a></td></tr>
        <tr><td><small>{{ "2025-05-29"|calendar }}</small></td><td><a href="#2025-05-29">Вознесение Господа нашего Иисуса Христа</a></td></tr>
        <tr><td><small>{{ "2025-06-08"|calendar }}</small></td><td><a href="#2025-06-08">Пятидесятница. День Святой Троицы</a></td></tr>
        <tr><td><small>{{ "2025-08-19"|calendar }}</small></td><td><a href="#2025-08-19">Преображение Господа нашего Иисуса Христа</a></td></tr>
        <tr><td><small>{{ "2025-08-28"|calendar }}</small></td><td><a href="#2025-08-28">Успение Пресвятой Богородицы</a></td></tr>
        <tr><td><small>{{ "2025-09-21"|calendar }}</small></td><td><a href="#2025-09-21">Рождество Пресвятой Богородицы</a></td></tr>
        <tr><td><small>{{ "2025-09-27"|calendar }}</small></td><td><a href="#2025-09-27">Воздвижение Честного и Животворящего Креста</a></td></tr>
        <tr><td><small>{{ "2025-12-04"|calendar }}</small></td><td><a href="#2025-12-04">Введение во храм Пресвятой Богородицы</a></td></tr>
    </tbody>
</table>
<p><small class="text-muted">Праздники указаны в следовании Церковного года, начиная от Рождества Пресвятой Богородицы и заканчивая Ее Успением</small></p>
<div class="p-1" id="2024-09-21">
    <h3 class="mt-3 mb-3">Рождество Пресвятой Богородицы {{ "2024-09-21"|calendar }}</h3>
    <h5>Тропарь, глас 4-й:</h5>
    <div class="m-3">
        Рождествó Твоé Богорóдице Дéво, рáдость возвести́ всей вселéнней: из Тебé бо возсия́ Сóлнце прáвды Христóс Бог наш, и разруши́в кля́тву, дадé благословéние, и упраздни́в смерть, даровá нам живóт вéчный.
    </div>
    <h5>Кондак, глас 4-й:</h5>
    <div class="m-3">
        Иоаки́м и Анна поношéния безчáдства, и Адáм и Ева от тли смéртныя свободи́стася, Пречи́стая, во святéм рождествé Твоéм. То прáзднуют и лю́дие Твои́, вины́ прегрешéний избáвльшеся, внегдá звáти Ти: неплóды раждáет Богорóдицу и питáтельницу жи́зни нáшея.
    </div>
    <h5>Величание</h5>
    <div class="m-3">
        Величáем Тя, Пресвятáя Дéво, и чтим святы́х Твои́х роди́телей, и всеслáвное слáвим рождествó Твоé.
    </div>
    <h5>Задостойник, глас 8-й</h5>
    <div class="m-3">
        Велича́й, душе́ моя́,// пресла́вное рождество́ Бо́жия Ма́тере.
    </div>
    <div class="m-3">
        Чу́жде мáтерем дéвство, и стрáнно дéвам деторождéние; на Тебé, Богорóдице, обоя́ устрóишася. Тем Тя вся племенá земнáя непрестáнно величáем.
    </div>
</div>
<div class="p-1" id="2024-09-27">
    <h3 class="mt-3 mb-3">Воздвижение Честного и Животворящего Креста {{ "2024-09-27"|calendar }}</h3>
    <h5>Тропарь, глас 1-й:</h5>
    <div class="m-3">
        Спаси́, Гóсподи, лю́ди Твоя́ и благослови́ достоя́ние Твоé, побéды правослáвным христиáном на сопроти́вныя дáруя, и Твоé сохраня́я Крестóм Твои́м жи́тельство.
    </div>
    <h5>Кондак, глас 4-й:</h5>
    <div class="m-3">
        Вознесы́йся на Крест вóлею, тезоимени́тому Твоему́ нóвому жи́тельству щедрóты Твоя́ дáруй, Христé Бóже; возвесели́ нас си́лою Твоéю, побéды дая́ нам на супостáты, посóбие иму́щим Твоé, ору́жие ми́ра, непобеди́мую побéду.
    </div>
    <h5>Величание</h5>
    <div class="m-3">
        Величáем Тя, Живодáвче Христé, и чтим Крест Твой святы́й, и́мже нас спасл еси́ от рабóты врáжия.
    </div>
    <h5>Задостойник, глас 8-й</h5>
    <div class="m-3">
        Велича́й, душе́ моя́,// Пречестны́й Крест Госпо́день.
    </div>
    <div class="m-3">
        Тáин еси́, Богорóдице, рай, невоздéланно возрасти́вший Христá, Имже Крéстное живонóсное на земли́ насади́ся дрéво. Тем ны́не возноси́му, покланя́ющеся ему́, Тя величáем.
    </div>
</div>
<div class="p-1" id="2024-12-04">
    <h3 class="mt-3 mb-3">Введение во храм Пресвятой Богородицы {{ "2024-12-04"|calendar }}</h3>
    <h5>Тропарь, глас 4-й:</h5>
    <div class="m-3">
        Днесь благоволéния Бóжия предображéние и человéков спасéния проповéдание, в хрáме Бóжии я́сно Дéва явля́ется и Христá всем предвозвещáет. Той и мы велеглáсно возопии́м: рáдуйся, смотрéния Зи́ждителева исполнéние.
    </div>
    <h5>Кондак, глас 4-й:</h5>
    <div class="m-3">
        Пречи́стый храм Спáсов, многоцéнный чертóг и Дéва, свящéнное сокрóвище слáвы Бóжия, днесь ввóдится в дом Госпóдень, благодáть совводя́щи, я́же в Ду́се Божéственном, ю́же воспевáют Ангели Бóжии; Сия́ есть селéние небéсное.
    </div>
    <h5>Величание</h5>
    <div class="m-3">
        Величáем Тя, Пресвятáя Дéво, Богоизбрáнная Отрокови́це, и чтим éже в храм Госпóдень вхождéние Твоé.
    </div>
    <h5>Задостойник, глас 4-й</h5>
    <div class="m-3">
        ́Ангели, вхожде́ние Пречи́стыя зря́ще, удиви́шася,// ка́ко Де́ва вни́де во свята́я святы́х.́
    </div>
    <div class="m-3">
        Яко одушевлéнному Бо́жию киво́ту, да никáкоже кóснется рукá сквéрных; устнé же вéрных, Богорóдице немóлчно глас Ангела воспевáюще, с рáдостию да вопию́т: и́стинно вы́шши всех еси́, Дéво Чи́стая.
    </div>
</div>
<div class="p-1" id="2025-01-07">
    <h3 class="mt-3 mb-3">Рождество Господа нашего Иисуса Христа {{ "2025-01-07"|calendar }}</h3>
    <h5>Тропарь, глас 4-й:</h5>
    <div class="m-3">
        Рождествó Твоé, Христé Бóже наш, возсия́ ми́рови свет рáзума, в нем бо звездáм служáщии звездóю учáхуся Тебé клáнятися, Сóлнцу прáвды, и Тебé вéдети с высоты́ Востóка. Гóсподи, слáва Тебé!
    </div>
    <h5>Кондак, глас 3-й:</h5>
    <div class="m-3">
        Дéва днесь Пресущéственнаго раждáет, и земля́ вертéп Непристу́пному принóсит; Ангели с пáстырьми славослóвят, волсви́ же со звездóю путешéствуют; нас бо рáди роди́ся Отрочá млáдо, превéчный Бог.
    </div>
    <h5>Величание</h5>
    <div class="m-3">
        Величáем Тя, Живодáвче Христé, нас рáди ны́не плóтию рóждшагося от безневéстныя и Пречи́стыя Дéвы Мари́и.
    </div>
    <h5>Задостойник, глас 1-й</h5>
    <div class="m-3">Велича́й, душе́ моя́,// Честне́йшую и Сла́внейшую Го́рних во́инств, Де́ву Пречи́стую, Богоро́дицу.</div>
    <div class="m-3">
        Люби́ти у́бо нам, я́ко безбéдное стрáхом, удóбее молчáние, любóвию же, Дéво, пéсни ткáти спротя́женно сложéнныя, неудóбно есть: но и, Мáти, си́лу, ели́ко есть произволéние, даждь.
    </div>
</div>
<div class="p-1" id="2025-01-19">
    <h3 class="mt-3 mb-3">Крещение Господа нашего Иисуса Христа {{ "2025-01-19"|calendar }}</h3>
    <h5>Тропарь, глас 1-й:</h5>
    <div class="m-3">
        Во Иордáне крещáющуся Тебé, Гóсподи, Трóическое яви́ся поклонéние: Роди́телев бо глас свидéтельствоваше Тебé, возлю́бленнаго Тя Сы́на имену́я, и Дух, в ви́де голуби́не, извествовáше словесé утверждéние. Явлéйся, Христé Бóже, и мир просвещéй, слáва Тебé.
    </div>
    <h5>Кондак, глас 4-й:</h5>
    <div class="m-3">
        Яви́лся еси́ днесь вселéнней, и свет Твой, Гóсподи, знаменáся на нас, в рáзуме пою́щих Тя; пришéл еси́ и яви́лся еси́, Свет непристу́пный.
    </div>
    <h5>Величание</h5>
    <div class="m-3">
        Величáем Тя, Живодáвче Христé, нас рáди ны́не плóтию крести́вшагося от Иоáнна в водáх Иордáнских.
    </div>
    <h5>Задостойник, глас 2-й</h5>
    <div class="m-3">Велича́й, душе́ моя́,/ Честне́йшую Го́рних во́инств// Де́ву Пречи́стую Богоро́дицу.</div>
    <div class="m-3">
        Недоумéет всяк язы́к благохвали́ти по достоя́нию, изумевáет же ум и преми́рный пéти Тя, Богорóдице; обáче Благáя су́щи, вéру приими́, и́бо любóвь вéси божéственную нáшу: Ты бо христиáн еси́ Предстáтельница, Тя величáем.
    </div>
</div>
<div class="p-1" id="2025-02-15">
    <h3 class="mt-3 mb-3">Сретение Господа нашего Иисуса Христа {{ "2025-02-15"|calendar }}</h3>
    <h5>Тропарь, глас 1-й:</h5>
    <div class="m-3">
        Рáдуйся, Благодáтная Богорóдице Дéво, из Тебé бо возсия́ Сóлнце прáвды, Христóс Бог наш, просвещáяй су́щия во тьме. Весели́ся и ты, стáрче прáведный, приéмый во объя́тия Свободи́теля душ нáших, дáрующаго нам воскресéние.
    </div>
    <h5>Кондак, глас 1-й:</h5>
    <div class="m-3">
        Утрóбу Деви́чу освяти́вый рождествóм Твои́м, и ру́це Симеóне благослови́вый, я́коже подобáше, предвари́в, и ны́не спасл еси́ нас, Христé Бóже; но умири́ во брáнех жи́тельство, еди́не Человеколю́бче.
    </div>
    <h5>Величание</h5>
    <div class="m-3">
        Величáем Тя, Живодáвче Христé, и чтим Пречи́стую Мáтерь Твою́, Еюже по закóну ны́не принéслся еси́ в храм Госпóдень.
    </div>
    <h5>Задостойник, глас 3-й</h5>
    <div class="m-3">Богородице Дево,/ упование христианом,// покрый, соблюди и спаси на Тя уповающих.</div>
    <div class="m-3">
        В зако́не, сéни и писáний о́браз ви́дим вéрнии, всяк му́жеский пол, ложеснá разверзáя, свят Бóгу. Тем перворождéнное Слóво Отцá Безначáльна, Сы́на первородя́щася Мáтерию неискусому́жно, величáем.
    </div>
</div>
<div class="p-1" id="2025-04-07">
    <h3 class="mt-3 mb-3">Благовещение Пресвятой Богородицы {{ "2025-04-07"|calendar }}</h3>
    <h5>Тропарь, глас 4-й:</h5>
    <div class="m-3">
        Днесь спасéния нáшего глави́зна, и éже от вéка тáинства явлéние; Сын Бóжий Сын Дéвы бывáет, и Гаврии́л благодáть благовеству́ет. Тéмже и мы с ним Богоро́дице возопии́м: рáдуйся, Благодáтная, Госпóдь с Тобóю.
    </div>
    <h5>Кондак, глас 8-й:</h5>
    <div class="m-3">
        Взбрáнной Воевóде победи́тельная, я́ко избáвльшеся от злых, благодáрственная воспису́ем Ти раби́ Твои́, Богорóдице, но я́ко иму́щая держáву непобеди́мую, от вся́ких нас бед свободи́, да зовéм Ти: рáдуйся, Невéсто Неневéстная.
    </div>
    <h5>Величание</h5>
    <div class="m-3">
        Архáнгельский глас вопиéм Ти, Чи́стая: рáдуйся, Благодáтная, Госпóдь с Тобóю.
    </div>
    <h5>Задостойник, глас 4-й</h5>
    <div class="m-3">
        Яко одушевлéнному Бóжию Кивóту, да никáкоже коснéтся рукá сквéрных. Устнé же вéрных Богорóдице немóлчно, глас Ангела воспевáюще, с рáдостию да вопию́т: рáдуйся, Благодáтная, Госпóдь с Тобóю.
    </div>
</div>
<div class="p-1" id="2025-04-13">
    <h3 class="mt-3 mb-3">Вход Господень в Иерусалим {{ "2025-04-13"|calendar }} (последнее воскресенье перед Пасхой)</h3>
    <h5>Тропарь, глас 1-й:</h5>
    <div class="m-3">
        Общее воскресéние прéжде Твоея́ стрáсти уверя́я, из мéртвых воздви́гл еси́ Лáзаря, Христé Бо́же. Тéмже и мы, я́ко óтроцы побéды знáмения нося́ще, Тебé победи́телю смéрти вопиéм: осáнна в вы́шних, благословéн Гряды́й во и́мя Госпóдне.
    </div>
    <h5>Тропарь, глас 4-й:</h5>
    <div class="m-3">
        Спогрéбшеся Тебé крещéнием, Христé Бóже наш, безсмéртныя жи́зни сподóбихомся воскресéнием Твои́м, и воспевáюще зовéм: осáнна в вы́шних, благословéн Гряды́й во и́мя Госпóдне.
    </div>
    <h5>Кондак, глас 6-й:</h5>
    <div class="m-3">
        На престóле на небеси́, на жребя́ти на земли́ носи́мый, Христé Бóже, Ангелов хвалéние и детéй воспевáние прия́л еси́ зову́щих Ти: благословéн еси́, гряды́й Адáма воззвáти.
    </div>
    <h5>Задостойник, глас 4-й</h5>
    <div class="m-3">
        Бог Госпóдь и яви́ся нам, состáвите прáздник, и веселя́щеся прииди́те, возвели́чим Христá, с вáиями и вéтвьми, пéсньми зову́ще: благословéн Гряды́й во и́мя Гóспода Спáса нáшего!
    </div>
</div>
<div class="p-3 alert alert-success" id="2025-04-20">
    <h3 class="mt-3 mb-3">Светлое Христово Воскресение. ПАСХА {{ "2025-04-20"|calendar }}</h3>
    <h5>Стихира, глас 6-й:</h5>
    <div class="m-3">
        Воскресéние Твоé, Христé Спáсе, Ангели пою́т на небесéх, и нас на земли́ сподóби чи́стым сéрдцем Тебé слáвити.
    </div>
    <h5>Тропарь, глас 5-й:</h5>
    <div class="m-3">
        Христóс воскрéсе из мéртвых, смéртию смерть попрáв и су́щим во гробéх живóт даровáв.
    </div>
    <h5>Кондак, глас 8-й:</h5>
    <div class="m-3">
        Аще и во гроб снизшéл еси́, Безсмéртне, но áдову разруши́л еси́ си́лу, и воскрéсл еси́, я́ко Победи́тель, Христé Бóже, женáм миронóсицам вещáвый: рáдуйтеся! и Твои́м апóстолом мир дáруяй, пáдшим подая́й воскресéние.
    </div>
    <div class="m-3">
        Воскресéние Христóво ви́девше, поклони́мся Святóму Гóсподу Иису́су, еди́ному безгрéшному, Кресту́ Твоему́ покланя́емся, Христé, и святóе воскресéние Твоé поéм и слáвим: Ты бо еси́ Бог наш, рáзве Тебé инóго не знáем, и́мя Твоé имену́ем. Прииди́те, вси вéрнии, поклони́мся святóму Христóву воскресéнию; се бо прии́де Крестóм рáдость всему́ ми́ру; всегдá благословя́ще Гóспода, поéм воскресéние Егó, распя́тие бо претерпéв, смéртию смерть разруши́.
    </div>
    <h5>Ексапостиларий Пасхи</h5>
    <div class="m-3">
        Плóтию усну́в, я́ко мертв. Царю́ и Го́споди, триднéвен воскрéсл еси́, Адáма воздви́г от тли и упраздни́в смерть: Пасхá нетлéния, мира спасéние.
    </div>
    <h5>Задостойник, глас 1-й</h5>
    <div class="m-3">
        Ангел вопия́ше Благодáтней: Чи́стая Дéво, рáдуйся! И пáки реку́: рáдуйся! Твой Сын воскрéсе триднéвен от грóба, и мéртвыя воздви́гнувый: лю́дие, весели́теся.
    </div>
    <div class="m-3">
        Свети́ся, свети́ся, нóвый Иерусали́ме: слáва бо Госпóдня на тебé возсия́. Лику́й ны́не и весели́ся, Сиóне. Ты же, Чи́стая, красу́йся, Богорóдице, о востáнии Рождествá Твоегó.
    </div>
    <h5>В Неделю Пасхи на вечерне cтихира, глас 2:</h5>
    <div class="m-3">
        Воскресение Твое, Христе Спасе,/ всю просвети вселенную,/ и призвал еси Твое создание,// Всесильне Господи, слава Тебе.
    </div>
</div>
<div class="p-1" id="2025-05-29">
    <h3 class="mt-3 mb-3">Вознесение Господа нашего Иисуса Христа {{ "2025-05-29"|calendar }} (в 40-й день по Воскресении)</h3>
    <h5>Тропарь, глас 4-й:</h5>
    <div class="m-3">
        Вознéслся еси́ во слáве, Христé Бóже наш, рáдость сотвори́вый ученикóм обетовáнием Святáго Ду́ха, извещéнным им бы́вшим благословéнием, я́ко Ты еси́ Сы́н Бóжий, Избáвитель ми́ра.
    </div>
    <h5>Кондак, глас 6-й:</h5>
    <div class="m-3">
        Еже о нас испóлнив смотрéние, и я́же на земли́ соеди́нив небéсным, вознéслся еси́ во слáве, Христé Бóже наш, никáкоже отлучáяся, но пребывáя неотсту́пный, и вопия́ лю́бящим Тя: Аз есмь с вáми и никтóже на вы.
    </div>
    <h5>Величание</h5>
    <div class="m-3">
        Величáем Тя, Живодáвче Христé, и почитáем éже на небесá с пречи́стою Твоéю Плóтию Божéственное вознесéние.
    </div>
    <h5>Задостойник, глас 1-й</h5>
    <div class="m-3">
        Величай, душе моя,// вознесшагося от земли на небо Христа Жизнодавца.
    </div>
    <div class="m-3">
        Тя пáче умá и словесé Мáтерь Бóжию, в лéто Безлéтнаго неизречéнно Рóждшую, вéрнии единому́дренно величáем.
    </div>
</div>
<div class="p-1" id="2025-06-08">
    <h3 class="mt-3 mb-3">Пятидесятница. День Святой Троицы {{ "2025-06-08"|calendar }} (50-й день по Воскресении)</h3>
    <h5>Тропарь, глас 8-й:</h5>
    <div class="m-3">
        Благословéн еси́, Христé Бóже наш, Иже прему́дры ловцы́ явлéй, низпослáв им Ду́ха Святáго, и тéми уловлéй вселéнную, Человеколю́бче, слáва Тебé.
    </div>
    <h5>Кондак, глас 8-й:</h5>
    <div class="m-3">
        Егдá снизшéд язы́ки слия́, разделя́ше язы́ки Вы́шний, егдá же óгненныя язы́ки раздая́ше, в соединéние вся призвá; и соглáсно слáвим Всесвятáго Ду́ха.
    </div>
    <h5>Величание</h5>
    <div class="m-3">
        Величáем Тя, Живодáвче Христé, и чтим Всесвятáго Ду́ха Твоего́, Его́же от Отцá послáл еси́ божéственным ученикóм Твои́м.
    </div>
    <h5>Задостойник, глас 1-й</h5>
    <div class="m-3">
        Апостоли, сошествие Утешителя зряще, удивишася,// како в виде огненных язык явися Дух Святый.
    </div>
    <div class="m-3">
        Рáдуйся, Цари́це, матеродéвственная слáво: вся́ка бо удобообращáтельная благоглагóливая устá вити́йствовати не мóгут, Тебé пéти достóйно; изумевáет же ум всяк Твоé рождествó разумéти. Тéмже Тя соглáсно слáвим.
    </div>
</div>
<div class="p-1" id="2025-08-19">
    <h3 class="mt-3 mb-3">Преображение Господа нашего Иисуса Христа {{ "2025-08-19"|calendar }}</h3>
    <h5>Тропарь, глас 7-й:</h5>
    <div class="m-3">
        Преобрази́лся еси́ на горé, Христé Бóже, показáвый ученико́м Твои́м слáву Твою́, я́коже можáху; да возсия́ет и нам грéшным свет Твой присносу́щный, моли́твами Богорóдицы, Светодáвче, слáва Тебé.
    </div>
    <h5>Кондак, глас 7-й:</h5>
    <div class="m-3">
        На горé преобрази́лся еси́, и я́коже вмещáху ученицы́ Твои́, слáву Твою́, Христé Бóже, ви́деша; да егдá Тя у́зрят распинáема, страдáние у́бо уразумéют во́льное, ми́рови же проповéдят, я́ко Ты еси́ вои́стинну Отчее сия́ние.
    </div>
    <h5>Величание</h5>
    <div class="m-3">
        Величáем Тя, Живодáвче Христé, и почитáем пречи́стыя плóти Твоея́ преслáвное преображéние.
    </div>
    <h5>Задостойник, глас 4-й</h5>
    <div class="m-3">
        Величай, душе моя,// на Фаворе преобразившагося Господа.
    </div>
    <div class="m-3">
        Рождествó Твоé нетлéнно яви́ся, Бог из боку́ Твоéю прóйде, я́ко Плотонóсец яви́йся на земли́, и с человéки поживé. Тя, Богорóдице, тем вси величáем.
    </div>
</div>
<div class="p-1" id="2025-08-28">
    <h3 class="mt-3 mb-3">Успение Пресвятой Богородицы {{ "2025-08-28"|calendar }}</h3>
    <h5>Тропарь, глас 1-й:</h5>
    <div class="m-3">
        В рождествé дéвство сохрани́ла еси́, во успéнии ми́ра не остáвила еси́, Богорóдице, престáвилася еси́ к живóту, Мáти су́щи Животá, и моли́твами Твои́ми избавля́еши от смéрти ду́ши нáша.
    </div>
    <h5>Кондак, глас 2-й:</h5>
    <div class="m-3">
        В моли́твах неусыпáющую Богорóдицу и в предстáтельствах непрелóжное уповáние, гроб и умерщвлéние не удержáста: я́коже бо Живóта Мáтерь, к животу́ престáви во утрóбу Всели́выйся приснодéвственную.
    </div>
    <h5>Величание</h5>
    <div class="m-3">
        Величáем Тя, Пренепорóчная Мáти Христá Бóга нáшего, и всеслáвное слáвим успéние Твоé.
    </div>
    <h5>Задостойник, глас 1-й</h5>
    <div class="m-3">
        Ангели, успение Пречистыя видевше, удивишася,// како Дева восходит от земли на небо.
    </div>
    <div class="m-3">
        Побеждáются естествá устáвы в Тебé, Дéво чи́стая, дéвствует бо рождествó, и живóт предобручáет смерть; по рождествé Дéва, и по смéрти живá, спасáеши при́сно, Богорóдице, наслéдие Твоé.
    </div>
</div>
<div class="p-1" id="2025-09-21">
    <h3 class="mt-3 mb-3">Рождество Пресвятой Богородицы {{ "2025-09-21"|calendar }}</h3>
    <h5>Тропарь, глас 4-й:</h5>
    <div class="m-3">
        Рождествó Твоé Богорóдице Дéво, рáдость возвести́ всей вселéнней: из Тебé бо возсия́ Сóлнце прáвды Христóс Бог наш, и разруши́в кля́тву, дадé благословéние, и упраздни́в смерть, даровá нам живóт вéчный.
    </div>
    <h5>Кондак, глас 4-й:</h5>
    <div class="m-3">
        Иоаки́м и Анна поношéния безчáдства, и Адáм и Ева от тли смéртныя свободи́стася, Пречи́стая, во святéм рождествé Твоéм. То прáзднуют и лю́дие Твои́, вины́ прегрешéний избáвльшеся, внегдá звáти Ти: неплóды раждáет Богорóдицу и питáтельницу жи́зни нáшея.
    </div>
    <h5>Величание</h5>
    <div class="m-3">
        Величáем Тя, Пресвятáя Дéво, и чтим святы́х Твои́х роди́телей, и всеслáвное слáвим рождествó Твоé.
    </div>
    <h5>Задостойник, глас 8-й</h5>
    <div class="m-3">
        Величай, душе моя,// преславное рождество Божия Матере.
    </div>
    <div class="m-3">
        Чу́жде мáтерем дéвство, и стрáнно дéвам деторождéние; на Тебé, Богорóдице, обоя́ устрóишася. Тем Тя вся племенá земнáя непрестáнно величáем.
    </div>
</div>
<div class="p-1" id="2025-09-27">
    <h3 class="mt-3 mb-3">Воздвижение Честного и Животворящего Креста {{ "2025-09-27"|calendar }}</h3>
    <h5>Тропарь, глас 1-й:</h5>
    <div class="m-3">
        Спаси́, Гóсподи, лю́ди Твоя́ и благослови́ достоя́ние Твоé, побéды правослáвным христиáном на сопроти́вныя дáруя, и Твоé сохраня́я Крестóм Твои́м жи́тельство.
    </div>
    <h5>Кондак, глас 4-й:</h5>
    <div class="m-3">
        Вознесы́йся на Крест вóлею, тезоимени́тому Твоему́ нóвому жи́тельству щедрóты Твоя́ дáруй, Христé Бóже; возвесели́ нас си́лою Твоéю, побéды дая́ нам на супостáты, посóбие иму́щим Твоé, ору́жие ми́ра, непобеди́мую побéду.
    </div>
    <h5>Величание</h5>
    <div class="m-3">
        Величáем Тя, Живодáвче Христé, и чтим Крест Твой святы́й, и́мже нас спасл еси́ от рабóты врáжия.
    </div>
    <h5>Задостойник, глас 8-й</h5>
    <div class="m-3">
        Величай, душе моя,// Пречестный Крест Господень.
    </div>
    <div class="m-3">
        Тáин еси́, Богорóдице, рай, невоздéланно возрасти́вший Христá, Имже Крéстное живонóсное на земли́ насади́ся дрéво. Тем ны́не возноси́му, покланя́ющеся ему́, Тя величáем.
    </div>
</div>
<div class="p-1" id="2025-12-04">
    <h3 class="mt-3 mb-3">Введение во храм Пресвятой Богородицы {{ "2025-12-04"|calendar }}</h3>
    <h5>Тропарь, глас 4-й:</h5>
    <div class="m-3">
        Днесь благоволéния Бóжия предображéние и человéков спасéния проповéдание, в хрáме Бóжии я́сно Дéва явля́ется и Христá всем предвозвещáет. Той и мы велеглáсно возопии́м: рáдуйся, смотрéния Зи́ждителева исполнéние.
    </div>
    <h5>Кондак, глас 4-й:</h5>
    <div class="m-3">
        Пречи́стый храм Спáсов, многоцéнный чертóг и Дéва, свящéнное сокрóвище слáвы Бóжия, днесь ввóдится в дом Госпóдень, благодáть совводя́щи, я́же в Ду́се Божéственном, ю́же воспевáют Ангели Бóжии; Сия́ есть селéние небéсное.
    </div>
    <h5>Величание</h5>
    <div class="m-3">
        Величáем Тя, Пресвятáя Дéво, Богоизбрáнная Отрокови́це, и чтим éже в храм Госпóдень вхождéние Твоé.
    </div>
    <h5>Задостойник, глас 4-й</h5>
    <div class="m-3">
        Ангели, вхождение Пречистыя зряще, удивишася,// како Дева вниде во святая святых.
    </div>
    <div class="m-3">
        Яко одушевлéнному Бо́жию киво́ту, да никáкоже кóснется рукá сквéрных; устнé же вéрных, Богорóдице немóлчно глас Ангела воспевáюще, с рáдостию да вопию́т: и́стинно вы́шши всех еси́, Дéво Чи́стая.
    </div>
</div>

<script>
    $(function() {
        var dt = new Date();
        var hid = null;
        var holidays = {};
        $("div[id]").each(function() {
            var _id = $(this).attr("id");
            var _arr = _id.match(/(\d{4})-(\d{2})-(\d{2})/);
            if(_arr) {
                holidays[_id] = new Date(parseInt(_arr[1]), parseInt(_arr[2]) - 1, parseInt(_arr[3]));
            }
        });
        for(var _id in holidays) {
            var _dt = holidays[_id];
            if(_dt.addDays(4) > dt) {
                hid = _id;
                break;
            }
        }
        if(hid) {
            //window.scrollTo($("#"+hid).position());
            var tr = $('a[href="#'+hid+'"]').parents("tr");
            if(!$(tr).hasClass("alert")) {
                $(tr).addClass("alert alert-primary");
            }
        }
    });
</script>
