<div class="p-1">
    <h3 class="mt-3 mb-3"><a href="/calendar/2019/1/7/">7 января 2019 г.</a> Рождество Христово</h3>
    <h5><a href="/tropar/?id=5ce68b5fbcadb970af183b7b">Тропарь Рождества Христова, глас 4</a>:</h5>
    <div class="m-3">
        Рождество́ Твое́, Христе́ Бо́же наш,/ возсия́ ми́рови свет ра́зума,/ в нем бо звезда́м служа́щии/ звездо́ю уча́хуся/ Тебе́ кла́нятися, Со́лнцу Пра́вды,/ и Тебе́ ве́дети с высоты́ Восто́ка.// Го́споди, сла́ва Тебе́!
    </div>
</div>
<div class="p-1">
    <h3 class="mt-3 mb-3"><a href="/calendar/2019/1/19/">19 января 2019 г.</a> Святое Богоявление. Крещение Господа Бога и Спаса нашего Иисуса Христа</h3>
    <h5><a href="/tropar/?id=5ce68b5fbcadb970af183b90">Тропарь Крещения (Богоявления), глас 1</a>:</h5>
    <div class="m-3">
        Во Иорда́не креща́ющуся Тебе́, Го́споди,/ Тро́йческое яви́ся поклоне́ние:/ Роди́телев бо глас свиде́тельствоваше Тебе́,/ Возлю́бленнаго Тя Сы́на имену́я,/ и Дух в ви́де голуби́не/ изве́ствоваше словесе́ утвержде́ние./ Явле́йся, Христе́ Бо́же,// и мир просвеще́й, сла́ва Тебе́.
    </div>
</div>
<div class="p-1">
    <h3 class="mt-3 mb-3"><a href="/calendar/2019/2/15/">15 февраля 2019 г.</a> Сретение Господа Бога и Спаса нашего Иисуса Христа</h3>
    <h5><a href="/tropar/?id=5ce68b5fbcadb970af183bf7">Тропарь Сретения, глас 1</a>:</h5>
    <div class="m-3">
        Ра́дуйся, Благода́тная Богоро́дице Де́во,/ из Тебе́ бо возсия́ Со́лнце Пра́вды, Христо́с Бог наш,/ просвеща́яй су́щия во тьме./ Весели́ся и ты, ста́рче пра́ведный,/ прие́мый во объя́тия Свободи́теля душ на́ших,// да́рующаго нам воскресе́ние.
    </div>
</div>
<div class="p-1">
    <h3 class="mt-3 mb-3"><a href="/calendar/2019/4/7/">7 апреля 2019 г.</a> Благовещение Пресвятой Богородицы</h3>
    <h5><a href="/tropar/?id=5ce68b5fbcadb970af183c6e">Тропарь Благовещения Пресвятой Богородицы, глас 4</a>:</h5>
    <div class="m-3">
        Днесь спасе́ния на́шего глави́зна/ и е́же от ве́ка та́инства явле́ние:/ Сын Бо́жий Сын Де́вы быва́ет,/ и Гаврии́л благода́ть благовеству́ет./ Те́мже и мы с ним Богоро́дице возопии́м:/ ра́дуйся, Благода́тная,// Госпо́дь с Тобо́ю.
    </div>
</div>
<div class="p-1">
    <h3 class="mt-3 mb-3"><a href="/calendar/2019/4/21/">21 апреля 2019 г.</a> Вход Господень в Иерусалим</h3>
    <h5><a href="/tropar/?id=5ce68b5fbcadb970af183c83">Тропарь Входа Господня в Иерусалим, глас 1</a>:</h5>
    <div class="m-3">
        Общее воскресе́ние/ пре́жде Твоея́ Стра́сти уверя́я,/ из ме́ртвых воздви́гл еси́ Ла́заря, Христе́ Бо́же./ Те́мже и мы, я́ко о́троцы побе́ды зна́мения нося́ще,/ Тебе́, Победи́телю сме́рти вопие́м:/ оса́нна в вы́шних,// благослове́н Гряды́й во и́мя Госпо́дне.
    </div>
</div>
<div class="p-1 alert alert-success">
    <h3 class="mt-3 mb-3"><a href="/calendar/2019/4/28/">28 апреля 2019 г.</a> Светлое Христово Воскресение. ПАСХА</h3>
    <h5><a href="/tropar/?id=5ce68b5fbcadb970af183c9c">Тропарь ПАСХИ, глас 5</a>:</h5>
    <div class="m-3">
        Христо́с воскре́се из ме́ртвых,/ сме́ртию смерть попра́в// и су́щим во гробе́х живо́т дарова́в.
    </div>
</div>
<div class="p-1">
    <h3 class="mt-3 mb-3"><a href="/calendar/2019/6/6/">6 июня 2019 г.</a> Вознесение Господне</h3>
    <h5><a href="/tropar/?id=5ce68b5fbcadb970af183d20">Тропарь Вознесения, глас 4</a>:</h5>
    <div class="m-3">
        Возне́слся еси́ во сла́ве, Христе́ Бо́же наш,/ ра́дость сотвори́вый ученико́м,/ обетова́нием Свята́го Ду́ха,/ извеще́нным им бы́вшим благослове́нием,// я́ко Ты еси́ Сын Бо́жий, Изба́витель ми́ра.
    </div>
</div>
<div class="p-1">
    <h3 class="mt-3 mb-3"><a href="/calendar/2019/6/16/">16 июня 2019 г.</a> День Святой Троицы. Пятидесятница</h3>
    <h5><a href="/tropar/?id=5ce68b5fbcadb970af183d3f">Тропарь Пятидесятницы, глас 8</a>:</h5>
    <div class="m-3">
        Благослове́н еси́, Христе́ Бо́же наш,/ И́же прему́дры ловцы́ явле́й,/ низпосла́в им Ду́ха Свята́го,// и те́ми уловле́й вселе́нную, Человеколю́бче, сла́ва Тебе́.
    </div>
</div>
<div class="p-1">
    <h3 class="mt-3 mb-3"><a href="/calendar/2019/8/19/">19 августа 2019 г.</a> Преображение Господа Бога и Спаса нашего Иисуса Христа</h3>
    <h5><a href="/tropar/?id=5ce68b5fbcadb970af183e4f">Тропарь Преображения, глас 7</a>:</h5>
    <div class="m-3">
        Преобрази́лся еси́ на горе́, Христе́ Бо́же,/ показа́вый ученико́м Твои́м сла́ву Твою́,/ я́коже можа́ху,/ да возсия́ет и нам, гре́шным,/ Свет Твой присносу́щный/ моли́твами Богоро́дицы,// Светода́вче, сла́ва Тебе́.
    </div>
</div>
<div class="p-1">
    <h3 class="mt-3 mb-3"><a href="/calendar/2019/8/28/">28 августа 2019 г.</a> Успение Пресвятой Владычицы нашей Богородицы и Приснодевы Марии</h3>
    <h5><a href="/tropar/?id=5ce68b5fbcadb970af183e84">Тропарь Успения, глас 1</a>:</h5>
    <div class="m-3">
        В рождестве́ де́вство сохрани́ла еси́,/ во успе́нии ми́ра не оста́вила еси́, Богоро́дице,/ преста́вилася еси́ к животу́,/ Ма́ти су́щи Живота́,// и моли́твами Твои́ми избавля́еши от сме́рти ду́ши на́ша.
    </div>
</div>
<div class="p-1">
    <h3 class="mt-3 mb-3"><a href="/calendar/2019/9/21/">21 сентября 2019 г.</a> Рождество Пресвятой Богородицы</h3>
    <h5><a href="/tropar/?id=5ce68b60bcadb970af183edb">Тропарь Рождества Пресвятой Богородицы, глас 4</a>:</h5>
    <div class="m-3">
        Рождество́ Твое́, Богоро́дице Де́во,/ ра́дость возвести́ всей вселе́нней:/ из Тебе́ бо возсия́ Со́лнце Пра́вды, Христо́с Бог наш,/ и, разруши́в кля́тву, даде́ благослове́ние,// и, упраздни́в смерть, дарова́ нам живо́т ве́чный.
    </div>
</div>
<div class="p-1">
    <h3 class="mt-3 mb-3"><a href="/calendar/2019/9/27/">27 сентября 2019 г.</a> Воздви́жение Честно́го и Животворящего Креста Господня</h3>
    <h5><a href="/tropar/?id=5ce68b60bcadb970af183ee2">Тропарь Воздвижения Креста Господня, глас 1</a>:</h5>
    <div class="m-3">
        Спаси́, Го́споди, лю́ди Твоя́/ и благослови́ достоя́ние Твое́,/ побе́ды на сопроти́вныя да́руя// и Твое́ сохраня́я Кресто́м Твои́м жи́тельство.
    </div>
</div>
<div class="p-1">
    <h3 class="mt-3 mb-3"><a href="/calendar/2019/12/4/">4 декабря 2019 г.</a> Введение (Вход) во храм Пресвятой Владычицы нашей Богородицы и Приснодевы Марии</h3>
    <h5><a href="/tropar/?id=5ce68b60bcadb970af183fdc">Тропарь Введения, глас 4</a>:</h5>
    <div class="m-3">
        Днесь благоволе́ния Бо́жия предображе́ние/ и челове́ков спасе́ния пропове́дание:/ в хра́ме Бо́жии я́сно Де́ва явля́ется/ и Христа́ всем предвозвеща́ет./ Той и мы велегла́сно возопии́м:/ ра́дуйся, смотре́ния// Зижди́телева исполне́ние.
    </div>
</div>
