{% extends 'wrapper.html' %}
{% block title %}Профиль пользователя{% endblock %}
{% block main %}
<div class="text-center">
    {% if form.errors %}
        {% for f, errs in form.errors.items %}
        <p>{{f}}</p>
        <ul class="list-unstyled">
            {% for err in errs %}
                <li class="alert alert-danger">{{ err }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    {% endif %}
    <form class="form-center" action="{% url 'profile' %}" method="POST">
      {% csrf_token %}
      <h5 class="mb-5 font-weight-normal">Ваш профиль</h5>
      <dl class="row">
          <dt class="col-sm-4"><label for="name">Имя</label></dt>
          <dd class="col-sm-8"><input type="text" name="name" id="name" class="form-control" value="{{ user.first_name }}" placeholder="ваше имя" required autofocus></dd>
          <dt class="col-sm-4"><label for="surname">Фамилия</label></dt>
          <dd class="col-sm-8"><input type="text" name="surname" id="surname" class="form-control" value="{{ user.last_name }}" placeholder="ваша фамилия" required></dd>
      </dl>
      <dl class="row">
          <dt class="col-sm-4"><label for="email">E-mail</label></dt>
          <dd class="col-sm-8">
              <span class="text-muted">{{ user.email }}</span>
          </dd>
          <dt class="col-sm-4"></dt>
          <dd class="col-sm-8">
              <input type="checkbox" name="notify" id="notify" {% if user.notify %}checked="checked"{% endif %}>
              <label for="notify"><small class="text-muted">получать уведомления</small></label>
          </dd>
      </dl>
      <dl class="row">
          <dt class="col-sm-4"><label for="tz_city">Город</label></dt>
          <dd class="col-sm-8">
              <div><input type="text" name="tz_city" id="tz_city" class="form-control" value="{{ user.tz_city }}" placeholder="название города"></div>
              <div id="tz-hint"><small class="text-muted">Укажите город наиболее соответствующий вашему часовому поясу</small></div>
              <div id="tz-select" class="hidden"></div>
          </dd>
          <dt class="col-sm-4"><label for="time_zone">Часовой пояс</label></dt>
          <dd class="col-sm-8"><input id="time_zone" name="time_zone" class="text-muted" value="{{ user.time_zone }}"/></dd>
      </dl>
      <p class="text-center">Изменить пароль</p>
      <p><small class="text-muted">Если вы желаете изменить пароль, введите новый пароль здесь:</small></p>
      <label for="password" class="sr-only">Пароль</label>
      <input type="password" name="password1" id="password1" class="form-control" placeholder="пароль">
      <label for="password2" class="sr-only">Пароль еще раз</label>
      <input type="password" name="password2" id="password2" class="form-control" placeholder="пароль еще раз">
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Сохранить</button>
    </form>
</div>
<script type="text/javascript">
    $(function() {
        var cached = false;
        var cities = {};
        $("#tz_city").on("focus", function() {
            if(!cached) {
                $.get("{% url 'cities' %}", function(data) {
                    cities = data;
                    cached = true;
                }, "json");
            }
        });
        $("#tz_city").on("keyup", function() {
            var val = $(this).val();
            if(val.length < 3) {
                return;
            }

            var _html = "";
            for(var ct in cities) {
                if(ct.toLowerCase().indexOf(val.toLowerCase()) >= 0) {
                    _html += '<div class="city-item" data-city="' + ct + '"><small>' + ct + '</small></div>';
                }
            }
            if(_html) {
                $("#tz-hint").addClass("hidden");
                $("#tz-select").html(_html).removeClass("hidden");
            }
        });
        $("body").on("click", ".city-item", function() {
            var tz = cities[$(this).attr("data-city")];
            if(tz) {
                $("#time_zone").val(tz[0]);
            }
        });
    });
</script>
{% endblock %}
