{% extends 'wrapper.html' %}
{% block title %}{{ volume.title }}. Последовательность чтения{% endblock %}
{% block main %}
    <div class="">
        <h3>{{ volume.title }}. Последовательность чтения</h3>
        <ul class="list-unstyled">
            {% for qi in volume.queue %}
            <li><p>{{ qi.id }}.
                {% if qi.title %}
                    {{ qi.title }}</p>
                {% else %}
                </p><ul>
                {% for ch in qi.item %}
                    <li>{{ ch.book }}. {% if ch.num %}Глава {{ ch.num }}{% else %}Предисловие{% endif %}</li>
                {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
